# Community Detection - Lab

## Introduction

In this lab, you'll once again work to cluster a network dataset. This time, you'll be investigating a meetup dataset for events occurring in Nashville.

## Objectives

You will be able to:
* Cluster a social network into subgroups

## Load the Dataset

To start, load the dataset `'nashville-meetup/group-edges.csv'` as a pandas Dataframe.

In [5]:
import pandas as pd
edges_df = pd.read_csv('nashville-meetup/group-edges.csv', index_col='Unnamed: 0')
edges_df.head()

     group1    group2  weight
0  19292162    535553       2
1  19292162  19194894       1
2  19292162  19728145       1
3  19292162  18850080       2
4  19292162   1728035       1

In [16]:
print(edges_df.group1.nunique())
print(meta_df.group_id.nunique())

409
602

To add some descriptive data, import the file `'nashville-meetup/meta-groups.csv'`.

In [2]:
meta_df = pd.read_csv('nashville-meetup/meta-groups.csv')
meta_df.head()

,group_id,group_name,num_members,category_id,category_name,organizer_id,group_urlname
0,339011,Nashville Hiking Meetup,15838,23,Outdoors & Adventure,4353803,nashville-hiking
1,19728145,Stepping Out Social Dance Meetup,1778,5,Dancing,118484462,steppingoutsocialdance
2,6335372,Nashville soccer,2869,32,Sports & Recreation,108448302,Nashville-soccer
3,10016242,NashJS,1975,34,Tech,8111102,nashjs
4,21174496,20's & 30's Women looking for girlfriends,2782,31,Socializing,184580248,new-friends-in-Nashville

## Transform to a Network Representation

Take the Pandas DataFrame and transform it into a graph representation via NetworkX. Make nodes the names of the various groups within the Nashville area. The edges should be the weights between these groups.

In [21]:
import networkx as nx

G = nx.graph

for r in edges_df.iterrows():
#     start = meta_df[meta_df['group_id'] == r['group1']]['group_name']
#     end = meta_df.loc[meta_df['group_id'] == r['group2'],'group_name']
#     weight = edges_df[r]['weight']
#     G.add_edge(start,end,weight)
    print(r)
# meta_df[meta_df['group_id'] == edges_df['group1']]#['group_name']

(0, group1    19292162
group2      535553
weight           2
Name: 0, dtype: int64)
(1, group1    19292162
group2    19194894
weight           1
Name: 1, dtype: int64)
(2, group1    19292162
group2    19728145
weight           1
Name: 2, dtype: int64)
(3, group1    19292162
group2    18850080
weight           2
Name: 3, dtype: int64)
(4, group1    19292162
group2     1728035
weight           1
Name: 4, dtype: int64)
(5, group1    19292162
group2    22817838
weight           2
Name: 5, dtype: int64)
(6, group1    19292162
group2    19997487
weight           2
Name: 6, dtype: int64)
(7, group1    19292162
group2    18855476
weight           2
Name: 7, dtype: int64)
(8, group1    19292162
group2    18955830
weight           1
Name: 8, dtype: int64)
(9, group1    19292162
group2    11294262
weight           1
Name: 9, dtype: int64)
(10, group1    19292162
group2     1360698
weight           2
Name: 10, dtype: int64)
(11, group1    19292162
group2     1179719
weight           1
Name: 11, dtype: int64)
(12, group1    19292162
group2     1457232
weight           1
Name: 12, dtype: int64)
(13, group1    19292162
group2    13560402
weight           1
Name: 13, dtype: int64)
(14, group1    19292162
group2     7151442
weight           1
Name: 14, dtype: int64)
(15, group1    19292162
group2    18506072
weight           1
Name: 15, dtype: int64)
(16, group1    19292162
group2    16477792
weight           2
Name: 16, dtype: int64)
(17, group1    19292162
group2    20947040
weight           1
Name: 17, dtype: int64)
(18, group1    19292162
group2     5618532
weight           1
Name: 18, dtype: int64)
(19, group1    19292162
group2    11625832
weight           5
Name: 19, dtype: int64)
(20, group1    19292162
group2    18837102
weight           1
Name: 20, dtype: int64)
(21, group1    19292162
group2     7130232
weight           1
Name: 21, dtype: int64)
(22, group1    19292162
group2     3173762
weight           1
Name: 22, dtype: int64)
(23, group1    19292162
group2    16487812
weight           5
Name: 23, dtype: int64)
(24, group1    19292162
group2     7836842
weight           6
Name: 24, dtype: int64)
(25, group1    19292162
group2    17467312
weight           3
Name: 25, dtype: int64)
(26, group1    19292162
group2    16447162
weight           1
Name: 26, dtype: int64)
(27, group1    19292162
group2     9376702
weight           3
Name: 27, dtype: int64)
(28, group1    19292162
group2     6707902
weight           2
Name: 28, dtype: int64)
(29, group1    19292162
group2    10178242
weight          12
Name: 29, dtype: int64)
(30, group1    19292162
group2    14546632
weight           1
Name: 30, dtype: int64)
(31, group1    19292162
group2    14649032
weight           1
Name: 31, dtype: int64)
(32, group1    19292162
group2     4705492
weight           1
Name: 32, dtype: int64)
(33, group1    19292162
group2    18616278
weight           1
Name: 33, dtype: int64)
(34, group1    19292162
group2      526316
weight           2
Name: 34, dtype: int64)
(35, group1    19292162
group2    10016242
weight           5
Name: 35, dtype: int64)
(36, group1    19292162
group2    19654655
weight           1
Name: 36, dtype: int64)
(37, group1    21182471
group2     1187715
weight           1
Name: 37, dtype: int64)
(38, group1    21182471
group2    25357512
weight           1
Name: 38, dtype: int64)
(39, group1    21182471
group2    19728145
weight           2
Name: 39, dtype: int64)
(40, group1    21182471
group2     7699922
weight           1
Name: 40, dtype: int64)
(41, group1    21182471
group2    20940321
weight           1
Name: 41, dtype: int64)
(42, group1    21182471
group2    18801828
weight           1
Name: 42, dtype: int64)
(43, group1    21182471
group2     1642477
weight           1
Name: 43, dtype: int64)
(44, group1    21182471
group2    18243826
weight           1
Name: 44, dtype: int64)
(45, group1    21182471
group2    18297014
weight           2
Name: 45, dtype: int64)
(46, group1    21182471
group2     1473660
weight           1
Name: 46, dtype: int64)
(47, group1    18288648
group2    21715712
weight           1
Name: 47, dtype: int64)
(48, group1    18288648
group2    18562307
weight           1
Name: 48, dtype: int64)
(49, group1    18288648
group2      541319
weight           1
Name: 49, dtype: int64)
(50, group1    18288648
group2    19728145
weight           2
Name: 50, dtype: int64)
(51, group1    18288648
group2     7836842
weight           2
Name: 51, dtype: int64)
(52, group1    18288648
group2    17467312
weight           1
Name: 52, dtype: int64)
(53, group1    18288648
group2     1697586
weight           1
Name: 53, dtype: int64)
(54, group1    18288648
group2    18955830
weight           1
Name: 54, dtype: int64)
(55, group1    18288648
group2     4063542
weight           1
Name: 55, dtype: int64)
(56, group1    18288648
group2    18767675
weight           1
Name: 56, dtype: int64)
(57, group1    18288648
group2      339011
weight           1
Name: 57, dtype: int64)
(58, group1    18288648
group2    18556100
weight           1
Name: 58, dtype: int64)
(59, group1    18288648
group2    16062152
weight           2
Name: 59, dtype: int64)
(60, group1    18288648
group2     1417288
weight           1
Name: 60, dtype: int64)
(61, group1    18288648
group2    22985677
weight           1
Name: 61, dtype: int64)
(62, group1    18288648
group2     1457232
weight           1
Name: 62, dtype: int64)
(63, group1    18288648
group2    19266390
weight           1
Name: 63, dtype: int64)
(64, group1    18288648
group2    18506072
weight           1
Name: 64, dtype: int64)
(65, group1    18288648
group2     1498076
weight           1
Name: 65, dtype: int64)
(66, group1    18288648
group2    21174496
weight           1
Name: 66, dtype: int64)
(67, group1    18288648
group2    20947040
weight           1
Name: 67, dtype: int64)
(68, group1    18288648
group2    18529135
weight           1
Name: 68, dtype: int64)
(69, group1    18288648
group2    19094001
weight           1
Name: 69, dtype: int64)
(70, group1    18288648
group2    18243826
weight           1
Name: 70, dtype: int64)
(71, group1    18288648
group2    15297782
weight           1
Name: 71, dtype: int64)
(72, group1    18288648
group2    18414590
weight           1
Name: 72, dtype: int64)
(73, group1    20064276
group2     1358081
weight           1
Name: 73, dtype: int64)
(74, group1    20064276
group2     6928642
weight           2
Name: 74, dtype: int64)
(75, group1    20064276
group2    18456837
weight           1
Name: 75, dtype: int64)
(76, group1    20064276
group2    12847372
weight           1
Name: 76, dtype: int64)
(77, group1    20064276
group2    19728145
weight           3
Name: 77, dtype: int64)
(78, group1    20064276
group2    19262745
weight           2
Name: 78, dtype: int64)
(79, group1    20064276
group2    19416348
weight           1
Name: 79, dtype: int64)
(80, group1    20064276
group2     2520612
weight           1
Name: 80, dtype: int64)
(81, group1    20064276
group2     1585196
weight           1
Name: 81, dtype: int64)
(82, group1    20064276
group2    18955830
weight           2
Name: 82, dtype: int64)
(83, group1    20064276
group2    20181560
weight           2
Name: 83, dtype: int64)
(84, group1    20064276
group2     3636792
weight           1
Name: 84, dtype: int64)
(85, group1    20064276
group2      339011
weight           1
Name: 85, dtype: int64)
(86, group1    20064276
group2     1665349
weight           1
Name: 86, dtype: int64)
(87, group1    20064276
group2    19049542
weight           1
Name: 87, dtype: int64)
(88, group1    20064276
group2     1179719
weight           1
Name: 88, dtype: int64)
(89, group1    20064276
group2     1431882
weight           1
Name: 89, dtype: int64)
(90, group1    20064276
group2    24584525
weight           1
Name: 90, dtype: int64)
(91, group1    20064276
group2     1457232
weight           1
Name: 91, dtype: int64)
(92, group1    20064276
group2     5282132
weight           2
Name: 92, dtype: int64)
(93, group1    20064276
group2     1371991
weight           2
Name: 93, dtype: int64)
(94, group1    20064276
group2    21933145
weight           1
Name: 94, dtype: int64)
(95, group1    20064276
group2    20377949
weight           1
Name: 95, dtype: int64)
(96, group1    20064276
group2    20129636
weight           1
Name: 96, dtype: int64)
(97, group1    20064276
group2    19934054
weight           1
Name: 97, dtype: int64)
(98, group1    20064276
group2    24153712
weight           1
Name: 98, dtype: int64)
(99, group1    20064276
group2    24811380
weight           1
Name: 99, dtype: int64)
(100, group1    20064276
group2      929402
weight           2
Name: 100, dtype: int64)
(101, group1    20064276
group2     1473660
weight           2
Name: 101, dtype: int64)
(102, group1    20064276
group2     1187715
weight           2
Name: 102, dtype: int64)
(103, group1    20064276
group2    10426762
weight           1
Name: 103, dtype: int64)
(104, group1    20064276
group2     1492619
weight           3
Name: 104, dtype: int64)
(105, group1    20064276
group2    20068490
weight           1
Name: 105, dtype: int64)
(106, group1    20064276
group2     6230672
weight           3
Name: 106, dtype: int64)
(107, group1    20064276
group2    19713173
weight           1
Name: 107, dtype: int64)
(108, group1    20064276
group2    18801828
weight           1
Name: 108, dtype: int64)
(109, group1    20064276
group2    20186791
weight           1
Name: 109, dtype: int64)
(110, group1    20064276
group2    23723436
weight           1
Name: 110, dtype: int64)
(111, group1    20064276
group2    18589616
weight           1
Name: 111, dtype: int64)
(112, group1    20064276
group2    18297014
weight           2
Name: 112, dtype: int64)
(113, group1    20064276
group2     4126912
weight           1
Name: 113, dtype: int64)
(114, group1    20064276
group2    18953664
weight           1
Name: 114, dtype: int64)
(115, group1    20064276
group2    20384452
weight           1
Name: 115, dtype: int64)
(116, group1    20064276
group2     1751502
weight           1
Name: 116, dtype: int64)
(117, group1    20064276
group2    24675279
weight           1
Name: 117, dtype: int64)
(118, group1    20064276
group2     7699922
weight           1
Name: 118, dtype: int64)
(119, group1    20064276
group2     6284242
weight           2
Name: 119, dtype: int64)
(120, group1    20064276
group2     4705492
weight           1
Name: 120, dtype: int64)
(121, group1    20064276
group2     1576921
weight           1
Name: 121, dtype: int64)
(122, group1    20064276
group2    11077852
weight           3
Name: 122, dtype: int64)
(123, group1    20064276
group2    20836828
weight           1
Name: 123, dtype: int64)
(124, group1    20064276
group2    22197221
weight           1
Name: 124, dtype: int64)
(125, group1    20064276
group2    22422502
weight           2
Name: 125, dtype: int64)
(126, group1    20064276
group2    20197351
weight           1
Name: 126, dtype: int64)
(127, group1    20064276
group2     1642477
weight           3
Name: 127, dtype: int64)
(128, group1    20064276
group2    18361585
weight           1
Name: 128, dtype: int64)
(129, group1    20064276
group2    18243826
weight           2
Name: 129, dtype: int64)
(130, group1    20064276
group2    14566132
weight           1
Name: 130, dtype: int64)
(131, group1    20064276
group2    11776502
weight           1
Name: 131, dtype: int64)
(132, group1    20064276
group2     6629622
weight           3
Name: 132, dtype: int64)
(133, group1    20064276
group2    18256892
weight           1
Name: 133, dtype: int64)
(134, group1    20064276
group2    18414590
weight           1
Name: 134, dtype: int64)
(135, group1    19275797
group2      535553
weight           1
Name: 135, dtype: int64)
(136, group1    19275797
group2    16487812
weight           2
Name: 136, dtype: int64)
(137, group1    19275797
group2    18456837
weight           1
Name: 137, dtype: int64)
(138, group1    19275797
group2    11862932
weight           1
Name: 138, dtype: int64)
(139, group1    19275797
group2    18494105
weight           1
Name: 139, dtype: int64)
(140, group1    19275797
group2     4631582
weight           1
Name: 140, dtype: int64)
(141, group1    19275797
group2     1728035
weight           1
Name: 141, dtype: int64)
(142, group1    19275797
group2    20186791
weight           1
Name: 142, dtype: int64)
(143, group1    19275797
group2     6641192
weight           1
Name: 143, dtype: int64)
(144, group1    19275797
group2     7836842
weight           1
Name: 144, dtype: int64)
(145, group1    19275797
group2    19997487
weight           1
Name: 145, dtype: int64)
(146, group1    19275797
group2    17467312
weight           1
Name: 146, dtype: int64)
(147, group1    19275797
group2      405938
weight           1
Name: 147, dtype: int64)
(148, group1    19275797
group2    18855476
weight           1
Name: 148, dtype: int64)
(149, group1    19275797
group2     9376702
weight           1
Name: 149, dtype: int64)
(150, group1    19275797
group2    10178242
weight           1
Name: 150, dtype: int64)
(151, group1    19275797
group2    19904711
weight           1
Name: 151, dtype: int64)
(152, group1    19275797
group2      227528
weight           1
Name: 152, dtype: int64)
(153, group1    19275797
group2    14546632
weight           1
Name: 153, dtype: int64)
(154, group1    19275797
group2    19030621
weight           1
Name: 154, dtype: int64)
(155, group1    19275797
group2    10016242
weight           1
Name: 155, dtype: int64)
(156, group1    19275797
group2     7130232
weight           1
Name: 156, dtype: int64)
(157, group1    20135961
group2    18562307
weight           1
Name: 157, dtype: int64)
(158, group1    20135961
group2    11375762
weight           1
Name: 158, dtype: int64)
(159, group1    20135961
group2    21390741
weight           1
Name: 159, dtype: int64)
(160, group1    20135961
group2    19713173
weight           3
Name: 160, dtype: int64)
(161, group1    20135961
group2    19249559
weight           1
Name: 161, dtype: int64)
(162, group1    20135961
group2    18506072
weight           3
Name: 162, dtype: int64)
(163, group1    20135961
group2    19847832
weight           1
Name: 163, dtype: int64)
(164, group1    20135961
group2     3870752
weight           1
Name: 164, dtype: int64)
(165, group1    20135961
group2     6190702
weight           1
Name: 165, dtype: int64)
(166, group1    20135961
group2    19828207
weight           2
Name: 166, dtype: int64)
(167, group1    20135961
group2     8908602
weight           1
Name: 167, dtype: int64)
(168, group1     3870752
group2    16487812
weight           1
Name: 168, dtype: int64)
(169, group1     3870752
group2    19728145
weight           1
Name: 169, dtype: int64)
(170, group1     3870752
group2    18494105
weight           1
Name: 170, dtype: int64)
(171, group1     3870752
group2    20186791
weight           1
Name: 171, dtype: int64)
(172, group1    3870752
group2    1451826
weight          1
Name: 172, dtype: int64)
(173, group1     3870752
group2    16447162
weight           1
Name: 173, dtype: int64)
(174, group1    3870752
group2    1526075
weight          3
Name: 174, dtype: int64)
(175, group1     3870752
group2    18180033
weight           1
Name: 175, dtype: int64)
(176, group1    3870752
group2     339011
weight          1
Name: 176, dtype: int64)
(177, group1     3870752
group2    14649032
weight           1
Name: 177, dtype: int64)
(178, group1    3870752
group2    2542802
weight          1
Name: 178, dtype: int64)
(179, group1     3870752
group2    18506072
weight           2
Name: 179, dtype: int64)
(180, group1     3870752
group2    11625832
weight           1
Name: 180, dtype: int64)
(181, group1    3870752
group2     526316
weight          1
Name: 181, dtype: int64)
(182, group1     3870752
group2    16877932
weight           1
Name: 182, dtype: int64)
(183, group1    21143591
group2     1772099
weight           1
Name: 183, dtype: int64)
(184, group1    21143591
group2      227528
weight           1
Name: 184, dtype: int64)
(185, group1    21143591
group2    20806988
weight           1
Name: 185, dtype: int64)
(186, group1    21143591
group2    19728145
weight           1
Name: 186, dtype: int64)
(187, group1    21143591
group2     4705492
weight           1
Name: 187, dtype: int64)
(188, group1    21143591
group2    21933145
weight           1
Name: 188, dtype: int64)
(189, group1    21143591
group2    21174496
weight           1
Name: 189, dtype: int64)
(190, group1    21143591
group2    22730657
weight           1
Name: 190, dtype: int64)
(191, group1    21143591
group2    20336043
weight           5
Name: 191, dtype: int64)
(192, group1    21143591
group2    15552112
weight           1
Name: 192, dtype: int64)
(193, group1    21143591
group2    18243826
weight           1
Name: 193, dtype: int64)
(194, group1    21143591
group2    18297014
weight           1
Name: 194, dtype: int64)
(195, group1    21143591
group2    18955830
weight           1
Name: 195, dtype: int64)
(196, group1    1585196
group2    1102353
weight          7
Name: 196, dtype: int64)
(197, group1     1585196
group2    23816722
weight           1
Name: 197, dtype: int64)
(198, group1    1585196
group2    2556962
weight          1
Name: 198, dtype: int64)
(199, group1    1585196
group2    2520612
weight          1
Name: 199, dtype: int64)
(200, group1     1585196
group2    20583464
weight           1
Name: 200, dtype: int64)
(201, group1    1585196
group2    6641192
weight          1
Name: 201, dtype: int64)
(202, group1     1585196
group2    18955830
weight          10
Name: 202, dtype: int64)
(203, group1     1585196
group2    20181560
weight           7
Name: 203, dtype: int64)
(204, group1     1585196
group2    18567736
weight           1
Name: 204, dtype: int64)
(205, group1     1585196
group2    22023226
weight           1
Name: 205, dtype: int64)
(206, group1    1585196
group2     339011
weight         44
Name: 206, dtype: int64)
(207, group1    1585196
group2    1772099
weight          2
Name: 207, dtype: int64)
(208, group1    1585196
group2    1179719
weight          1
Name: 208, dtype: int64)
(209, group1    1585196
group2    1417288
weight          2
Name: 209, dtype: int64)
(210, group1     1585196
group2    18604107
weight           1
Name: 210, dtype: int64)
(211, group1    1585196
group2     168014
weight          1
Name: 211, dtype: int64)
(212, group1     1585196
group2    13560402
weight           1
Name: 212, dtype: int64)
(213, group1     1585196
group2    19030621
weight           2
Name: 213, dtype: int64)
(214, group1     1585196
group2    16477792
weight           2
Name: 214, dtype: int64)
(215, group1     1585196
group2    20166757
weight           1
Name: 215, dtype: int64)
(216, group1    1585196
group2    1507431
weight          3
Name: 216, dtype: int64)
(217, group1    1585196
group2    6190702
weight          1
Name: 217, dtype: int64)
(218, group1     1585196
group2    15552112
weight           2
Name: 218, dtype: int64)
(219, group1     1585196
group2    24039540
weight           1
Name: 219, dtype: int64)
(220, group1    1585196
group2    1292918
weight          2
Name: 220, dtype: int64)
(221, group1    1585196
group2     929402
weight          8
Name: 221, dtype: int64)
(222, group1    1585196
group2    1473660
weight          1
Name: 222, dtype: int64)
(223, group1    1585196
group2    1240194
weight          1
Name: 223, dtype: int64)
(224, group1    1585196
group2     541319
weight          1
Name: 224, dtype: int64)
(225, group1     1585196
group2    19708553
weight           1
Name: 225, dtype: int64)
(226, group1     1585196
group2    19824779
weight           1
Name: 226, dtype: int64)
(227, group1    1585196
group2    6230672
weight          3
Name: 227, dtype: int64)
(228, group1    1585196
group2    1776274
weight          2
Name: 228, dtype: int64)
(229, group1     1585196
group2    18795154
weight           1
Name: 229, dtype: int64)
(230, group1     1585196
group2    19713173

Name: 558, dtype: int64)
(559, group1    3047512
group2    1431882
weight          1
Name: 559, dtype: int64)
(560, group1    3047512
group2    1457232
weight          1
Name: 560, dtype: int64)
(561, group1    3047512
group2    1371991
weight          1
Name: 561, dtype: int64)
(562, group1     3047512
group2    22197221
weight           1
Name: 562, dtype: int64)
(563, group1     3047512
group2    18266348
weight           1
Name: 563, dtype: int64)
(564, group1    3047512
group2    6190702
weight          6
Name: 564, dtype: int64)
(565, group1     3047512
group2    18602480
weight           2
Name: 565, dtype: int64)
(566, group1    3047512
group2    1505523
weight          1
Name: 566, dtype: int64)
(567, group1    3047512
group2     929402
weight          3
Name: 567, dtype: int64)
(568, group1     2150491
group2    18562307
weight           2
Name: 568, dtype: int64)
(569, group1    2150491
group2     217795
weight          1
Name: 569, dtype: int64)
(570, group1     2150491
group2    18714758
weight           1
Name: 570, dtype: int64)
(571, group1     2150491
group2    14649032
weight           1
Name: 571, dtype: int64)
(572, group1     2150491
group2    19713173
weight           1
Name: 572, dtype: int64)
(573, group1     2150491
group2    18425641
weight           1
Name: 573, dtype: int64)
(574, group1     2150491
group2    18297014
weight           1
Name: 574, dtype: int64)
(575, group1     2150491
group2    18955830
weight           1
Name: 575, dtype: int64)
(576, group1    2150491
group2    1526075
weight          1
Name: 576, dtype: int64)
(577, group1     2150491
group2    18549438
weight           1
Name: 577, dtype: int64)
(578, group1    20947040
group2      535553
weight           1
Name: 578, dtype: int64)
(579, group1    20947040
group2    19194894
weight           1
Name: 579, dtype: int64)
(580, group1    20947040
group2     1102353
weight           1
Name: 580, dtype: int64)
(581, group1    20947040
group2     1728035
weight           2
Name: 581, dtype: int64)
(582, group1    20947040
group2    18955830
weight           1
Name: 582, dtype: int64)
(583, group1    20947040
group2    11294262
weight           1
Name: 583, dtype: int64)
(584, group1    20947040
group2    20181560
weight           1
Name: 584, dtype: int64)
(585, group1    20947040
group2    16321082
weight           1
Name: 585, dtype: int64)
(586, group1    20947040
group2    16607822
weight           1
Name: 586, dtype: int64)
(587, group1    20947040
group2    13560402
weight           5
Name: 587, dtype: int64)
(588, group1    20947040
group2    16477792
weight           1
Name: 588, dtype: int64)
(589, group1    20947040
group2     1671273
weight           1
Name: 589, dtype: int64)
(590, group1    20947040
group2     6190702
weight           1
Name: 590, dtype: int64)
(591, group1    20947040
group2    15552112
weight           1
Name: 591, dtype: int64)
(592, group1    20947040
group2     7130232
weight           3
Name: 592, dtype: int64)
(593, group1    20947040
group2      929402
weight           1
Name: 593, dtype: int64)
(594, group1    20947040
group2     1776274
weight           2
Name: 594, dtype: int64)
(595, group1    20947040
group2     7138452
weight           1
Name: 595, dtype: int64)
(596, group1    20947040
group2    19713173
weight           1
Name: 596, dtype: int64)
(597, group1    20947040
group2    18494105
weight           5
Name: 597, dtype: int64)
(598, group1    20947040
group2      252576
weight           1
Name: 598, dtype: int64)
(599, group1    20947040
group2    26090658
weight           1
Name: 599, dtype: int64)
(600, group1    20947040
group2    19277993
weight           1
Name: 600, dtype: int64)
(601, group1    20947040
group2     7836842
weight           8
Name: 601, dtype: int64)
(602, group1    20947040
group2    25129130
weight           1
Name: 602, dtype: int64)
(603, group1    20947040
group2     6707902
weight           3
Name: 603, dtype: int64)
(604, group1    20947040
group2     4126912
weight           1
Name: 604, dtype: int64)
(605, group1    20947040
group2    10178242
weight           6
Name: 605, dtype: int64)
(606, group1    20947040
group2    19904711
weight           1
Name: 606, dtype: int64)
(607, group1    20947040
group2    14546632
weight           1
Name: 607, dtype: int64)
(608, group1    20947040
group2    16062152
weight           4
Name: 608, dtype: int64)
(609, group1    20947040
group2    11184352
weight           6
Name: 609, dtype: int64)
(610, group1    20947040
group2     8771812
weight           1
Name: 610, dtype: int64)
(611, group1    20947040
group2    18361585
weight           2
Name: 611, dtype: int64)
(612, group1    20947040
group2    15297782
weight           5
Name: 612, dtype: int64)
(613, group1    20947040
group2    18556157
weight           1
Name: 613, dtype: int64)
(614, group1    20947040
group2     1358081
weight           1
Name: 614, dtype: int64)
(615, group1    20947040
group2     1787157
weight           1
Name: 615, dtype: int64)
(616, group1    20947040
group2    16954142
weight           1
Name: 616, dtype: int64)
(617, group1    20947040
group2    18850080
weight           3
Name: 617, dtype: int64)
(618, group1    20947040
group2    22643488
weight           1
Name: 618, dtype: int64)
(619, group1    20947040
group2    25521445
weight           2
Name: 619, dtype: int64)
(620, group1    20947040
group2     1360698
weight           3
Name: 620, dtype: int64)
(621, group1    20947040
group2    20806988
weight           1
Name: 621, dtype: int64)
(622, group1    20947040
group2    23353167
weight           2
Name: 622, dtype: int64)
(623, group1    20947040
group2     5282132
weight           1
Name: 623, dtype: int64)
(624, group1    20947040
group2    22021463
weight           1
Name: 624, dtype: int64)
(625, group1    20947040
group2     5618532
weight           1
Name: 625, dtype: int64)
(626, group1    20947040
group2    11625832
weight           4
Name: 626, dtype: int64)
(627, group1    20947040
group2     3173762
weight           4
Name: 627, dtype: int64)
(628, group1    20947040
group2     1187715
weight           1
Name: 628, dtype: int64)
(629, group1    20947040
group2    16487812
weight           4
Name: 629, dtype: int64)
(630, group1    20947040
group2    14396812
weight           1
Name: 630, dtype: int64)
(631, group1    20947040
group2    19218850
weight           4
Name: 631, dtype: int64)
(632, group1    20947040
group2    21837219
weight           1
Name: 632, dtype: int64)
(633, group1    20947040
group2    23594916
weight          14
Name: 633, dtype: int64)
(634, group1    20947040
group2     3376042
weight           1
Name: 634, dtype: int64)
(635, group1    20947040
group2    20583850
weight           1
Name: 635, dtype: int64)
(636, group1    20947040
group2    17467312
weight           3
Name: 636, dtype: int64)
(637, group1    20947040
group2    18589616
weight           3
Name: 637, dtype: int64)
(638, group1    20947040
group2      405938
weight           1
Name: 638, dtype: int64)
(639, group1    20947040
group2    18314164
weight           1
Name: 639, dtype: int64)
(640, group1    20947040
group2     9376702
weight           1
Name: 640, dtype: int64)
(641, group1    20947040
group2    18180033
weight           1
Name: 641, dtype: int64)
(642, group1    20947040
group2    16536012
weight           1
Name: 642, dtype: int64)
(643, group1    20947040
group2     1498076
weight           1
Name: 643, dtype: int64)
(644, group1    20947040
group2    17872862
weight           2
Name: 644, dtype: int64)
(645, group1    20947040
group2      204767
weight           1
Name: 645, dtype: int64)
(646, group1    20947040
group2    10016242
weight           4
Name: 646, dtype: int64)
(647, group1    20947040
group2    19654655
weight           1
Name: 647, dtype: int64)
(648, group1    20166757
group2    19262745
weight           3
Name: 648, dtype: int64)
(649, group1    20166757
group2    19416348
weight           1
Name: 649, dtype: int64)
(650, group1    20166757
group2    21533726
weight           1
Name: 650, dtype: int64)
(651, group1    20166757
group2    18955830
weight           2
Name: 651, dtype: int64)
(652, group1    20166757
group2     1360698
weight           1
Name: 652, dtype: int64)
(653, group1    20166757
group2    19108156
weight           2
Name: 653, dtype: int64)
(654, group1    20166757
group2      339011
weight           1
Name: 654, dtype: int64)
(655, group1    20166757
group2    16607822
weight           2
Name: 655, dtype: int64)
(656, group1    20166757
group2     7151442
weight           1
Name: 656, dtype: int64)
(657, group1    20166757
group2    16477792
weight           1
Name: 657, dtype: int64)
(658, group1    20166757
group2    11625832
weight           1
Name: 658, dtype: int64)
(659, group1    20166757
group2    15552112
weight           1
Name: 659, dtype: int64)
(660, group1    20166757
group2     7130232
weight           1
Name: 660, dtype: int64)
(661, group1    20166757
group2    24277119
weight           1
Name: 661, dtype: int64)
(662, group1    20166757
group2    16487812
weight           2
Name: 662, dtype: int64)
(663, group1    20166757
group2    21686664
weight           1
Name: 663, dtype: int64)
(664, group1    20166757
group2     1776274
weight           2
Name: 664, dtype: int64)
(665, group1    20166757
group2    11862932
weight           1
Name: 665, dtype: int64)
(666, group1    20166757
group2    18494105
weight           2
Name: 666, dtype: int64)
(667, group1    20166757
group2     7836842
weight           1
Name: 667, dtype: int64)
(668, group1    20166757
group2    17467312
weight           1
Name: 668, dtype: int64)
(669, group1    20166757
group2      405938
weight           1
Name: 669, dtype: int64)
(670, group1    20166757
group2     1578685
weight           1
Name: 670, dtype: int64)
(671, group1    20166757
group2     4126912
weight           2
Name: 671, dtype: int64)
(672, group1    20166757
group2    10178242
weight           1
Name: 672, dtype: int64)
(673, group1    20166757
group2    14649032
weight           2
Name: 673, dtype: int64)
(674, group1    20166757
group2    16062152
weight           1
Name: 674, dtype: int64)
(675, group1    20166757
group2    18616278
weight           3
Name: 675, dtype: int64)
(676, group1    20166757
group2    11077852
weight           3
Name: 676, dtype: int64)
(677, group1    20166757
group2    22197221
weight           1
Name: 677, dtype: int64)
(678, group1    20166757
group2    18361585
weight           2
Name: 678, dtype: int64)
(679, group1    20166757
group2    10016242
weight           1
Name: 679, dtype: int64)
(680, group1    20166757
group2    15297782
weight           2
Name: 680, dtype: int64)
(681, group1    20166757
group2    19654655
weight           1
Name: 681, dtype: int64)
(682, group1     1507431
group2    12847372
weight           1
Name: 682, dtype: int64)
(683, group1     1507431
group2    19194894
weight           1
Name: 683, dtype: int64)
(684, group1     1507431
group2    19728145
weight           7
Name: 684, dtype: int64)
(685, group1    1507431
group2    2556962
weight          1
Name: 685, dtype: int64)
(686, group1     1507431
group2    18642226
weight           1
Name: 686, dtype: int64)
(687, group1     1507431
group2    18955830
weight           4
Name: 687, dtype: int64)
(688, group1     1507431
group2    20181560
weight           1
Name: 688, dtype: int64)
(689, group1    1507431
group2     339011
weight          1
Name: 689, dtype: int64)
(690, group1    1507431
group2    1772099
weight          1
Name: 690, dtype: int64)
(691, group1    1507431
group2    1371991
weight          1
Name: 691, dtype: int64)
(692, group1     1507431
group2    24039540
weight           1
Name: 692, dtype: int64)
(693, group1    1507431
group2     929402
weight          1
Name: 693, dtype: int64)
(694, group1    1507431
group2    1187715
weight          4
Name: 694, dtype: int64)
(695, group1     1507431
group2    24803205
weight           1
Name: 695, dtype: int64)
(696, group1     1507431
group2    19708553
weight           1
Name: 696, dtype: int64)
(697, group1     1507431
group2    10426762
weight           1
Name: 697, dtype: int64)
(698, group1     1507431
group2    18665368
weight           1
Name: 698, dtype: int64)
(699, group1     1507431
group2    18314669
weight           2
Name: 699, dtype: int64)
(700, group1     1507431
group2    18297014
weight           3
Name: 700, dtype: int64)
(701, group1     1507431
group2    20384452
weight           1
Name: 701, dtype: int64)
(702, group1     1507431
group2    24431556
weight           1
Name: 702, dtype: int64)
(703, group1     1507431
group2    16062152
weight           1
Name: 703, dtype: int64)
(704, group1    1507431
group2     227528
weight          1
Name: 704, dtype: int64)
(705, group1     1507431
group2    18660552
weight           1
Name: 705, dtype: int64)
(706, group1    1507431
group2    7699922
weight          1
Name: 706, dtype: int64)
(707, group1    1507431
group2    1349592
weight          4
Name: 707, dtype: int64)
(708, group1     1507431
group2    22197221
weight           1
Name: 708, dtype: int64)
(709, group1    1507431
group2    1642477
weight          2
Name: 709, dtype: int64)
(710, group1     1507431
group2    18634990
weight           1
Name: 710, dtype: int64)
(711, group1     1507431
group2    18243826
weight           3
Name: 711, dtype: int64)
(712, group1    1507431
group2    1505523
weight          1
Name: 712, dtype: int64)
(713, group1     1507431
group2    24693747
weight           1
Name: 713, dtype: int64)
(714, group1     1507431
group2    18414590
weight           1
Name: 714, dtype: int64)
(715, group1     1507431
group2    23394559
weight           1
Name: 715, dtype: int64)
(716, group1    1671273
group2    3173762
weight          1
Name: 716, dtype: int64)
(717, group1    1671273
group2    1187715
weight          1
Name: 717, dtype: int64)
(718, group1     1671273
group2    16487812
weight           1
Name: 718, dtype: int64)
(719, group1    1671273
group2    1728035
weight          1
Name: 719, dtype: int64)
(720, group1    1671273
group2    7836842
weight          2
Name: 720, dtype: int64)
(721, group1     1671273
group2    18589616
weight           1
Name: 721, dtype: int64)
(722, group1     1671273
group2    17467312
weight           1
Name: 722, dtype: int64)
(723, group1    1671273
group2     405938
weight          1
Name: 723, dtype: int64)
(724, group1    1671273
group2    1360698
weight          1
Name: 724, dtype: int64)
(725, group1    1671273
group2    9376702
weight          1
Name: 725, dtype: int64)
(726, group1     1671273
group2    10178242
weight           2
Name: 726, dtype: int64)
(727, group1     1671273
group2    14649032
weight           1
Name: 727, dtype: int64)
(728, group1     1671273
group2    16607822
weight           1
Name: 728, dtype: int64)
(729, group1     1671273
group2    23353167
weight           1
Name: 729, dtype: int64)
(730, group1     1671273
group2    17872862
weight           1
Name: 730, dtype: int64)
(731, group1     1671273
group2    15552112
weight           1
Name: 731, dtype: int64)
(732, group1     1671273
group2    18361585
weight           1
Name: 732, dtype: int64)
(733, group1     1671273
group2    15297782
weight           1
Name: 733, dtype: int64)
(734, group1    1671273
group2     929402
weight          1
Name: 734, dtype: int64)
(735, group1     1671273
group2    18556157
weight           1
Name: 735, dtype: int64)
(736, group1    18823274
group2     1187715
weight           1
Name: 736, dtype: int64)
(737, group1    18823274
group2    13288852
weight           1
Name: 737, dtype: int64)
(738, group1    18823274
group2     5282132
weight           1
Name: 738, dtype: int64)
(739, group1    18823274
group2    16477792
weight           1
Name: 739, dtype: int64)
(740, group1    18823274
group2    15552112
weight           1
Name: 740, dtype: int64)
(741, group1    18823274
group2    18955830
weight           1
Name: 741, dtype: int64)
(742, group1    18823274
group2     7130232
weight           1
Name: 742, dtype: int64)
(743, group1    18823274
group2     7700282
weight           1
Name: 743, dtype: int64)
(744, group1    17836142
group2      710272
weight           1
Name: 744, dtype: int64)
(745, group1    17836142
group2      535553
weight           1
Name: 745, dtype: int64)
(746, group1    17836142
group2     1187715
weight           1
Name: 746, dtype: int64)
(747, group1    17836142
group2    18562307
weight           1
Name: 747, dtype: int64)
(748, group1    17836142
group2    16487812
weight           1
Name: 748, dtype: int64)
(749, group1    17836142
group2    18714758
weight           1
Name: 749, dtype: int64)
(750, group1    17836142
group2     1665418
weight           1
Name: 750, dtype: int64)
(751, group1    17836142
group2    19728145
weight           2
Name: 751, dtype: int64)
(752, group1    17836142
group2    19713173
weight           1
Name: 752, dtype: int64)
(753, group1    17836142
group2    11131552
weight           1
Name: 753, dtype: int64)
(754, group1    17836142
group2      788001
weight           1
Name: 754, dtype: int64)
(755, group1    17836142
group2    20186791
weight           2
Name: 755, dtype: int64)
(756, group1    17836142
group2     7836842
weight           2
Name: 756, dtype: int64)
(757, group1    17836142
group2      711599
weight           1
Name: 757, dtype: int64)
(758, group1    17836142
group2    18955830
weight           1
Name: 758, dtype: int64)
(759, group1    17836142
group2     9376702
weight           1
Name: 759, dtype: int64)
(760, group1    17836142
group2    18549438
weight           1
Name: 760, dtype: int64)
(761, group1    17836142
group2      339011
weight           1
Name: 761, dtype: int64)
(762, group1    17836142
group2    19049542
weight           1
Name: 762, dtype: int64)
(763, group1    17836142
group2    16062152
weight           1
Name: 763, dtype: int64)
(764, group1    17836142
group2      227528
weight           1
Name: 764, dtype: int64)
(765, group1    17836142
group2    18506072
weight           2
Name: 765, dtype: int64)
(766, group1    17836142
group2    21174496
weight           1
Name: 766, dtype: int64)
(767, group1    17836142
group2    19827046
weight           1
Name: 767, dtype: int64)
(768, group1    17836142
group2    20807142
weight           1
Name: 768, dtype: int64)
(769, group1    17836142
group2      526316
weight           5
Name: 769, dtype: int64)
(770, group1    17836142
group2    18243826
weight           1
Name: 770, dtype: int64)
(771, group1    17836142
group2    10016242
weight           1
Name: 771, dtype: int64)
(772, group1    24039540
group2    12847372
weight           1
Name: 772, dtype: int64)
(773, group1    24039540
group2    19728145
weight           2
Name: 773, dtype: int64)
(774, group1    24039540
group2    18425641
weight           1
Name: 774, dtype: int64)
(775, group1    24039540
group2    18955830
weight           1
Name: 775, dtype: int64)
(776, group1    24039540
group2    20181560
weight           1
Name: 776, dtype: int64)
(777, group1    24039540
group2     1526075
weight           3
Name: 777, dtype: int64)
(778, group1    24039540
group2      528705
weight           1
Name: 778, dtype: int64)
(779, group1    24039540
group2     1772099
weight           1
Name: 779, dtype: int64)
(780, group1    24039540
group2    24431556
weight           1
Name: 780, dtype: int64)
(781, group1    24039540
group2    21522768
weight           1
Name: 781, dtype: int64)
(782, group1    24039540
group2     1349592
weight           4
Name: 782, dtype: int64)
(783, group1    24039540
group2    11077852
weight           1
Name: 783, dtype: int64)
(784, group1    24039540
group2    22197221
weight           1
Name: 784, dtype: int64)
(785, group1    24039540
group2      526316
weight           1
Name: 785, dtype: int64)
(786, group1    24039540
group2    18243826
weight           1

(954, group1    16140462
group2    21747934
weight           4
Name: 954, dtype: int64)
(955, group1    16140462
group2    23053409
weight           7
Name: 955, dtype: int64)
(956, group1    16140462
group2    22422502
weight           1
Name: 956, dtype: int64)
(957, group1    16140462
group2     1805550
weight           1
Name: 957, dtype: int64)
(958, group1    16140462
group2    15552112
weight           1
Name: 958, dtype: int64)
(959, group1    16140462
group2     1505523
weight           1
Name: 959, dtype: int64)
(960, group1    16140462
group2    22130047
weight           1
Name: 960, dtype: int64)
(961, group1    15335602
group2      710272
weight           1
Name: 961, dtype: int64)
(962, group1    15335602
group2    18562307
weight           2
Name: 962, dtype: int64)
(963, group1    15335602
group2     1787157
weight           1
Name: 963, dtype: int64)
(964, group1    15335602
group2    19249559
weight           1
Name: 964, dtype: int64)
(965, group1    15335602
group2    18494105
weight           1
Name: 965, dtype: int64)
(966, group1    15335602
group2    26040985
weight           1
Name: 966, dtype: int64)
(967, group1    15335602
group2      191516
weight           1
Name: 967, dtype: int64)
(968, group1    15335602
group2     6641192
weight           1
Name: 968, dtype: int64)
(969, group1    15335602
group2     1324203
weight           1
Name: 969, dtype: int64)
(970, group1    15335602
group2    18180033
weight           1
Name: 970, dtype: int64)
(971, group1    15335602
group2      227528
weight           5
Name: 971, dtype: int64)
(972, group1    15335602
group2    18506072
weight           2
Name: 972, dtype: int64)
(973, group1    15335602
group2    22197221
weight           1
Name: 973, dtype: int64)
(974, group1    15335602
group2    22422502
weight           1
Name: 974, dtype: int64)
(975, group1    15335602
group2    19934054
weight           1
Name: 975, dtype: int64)
(976, group1    15335602
group2    22736876
weight           1
Name: 976, dtype: int64)
(977, group1    15335602
group2    16548342
weight           1
Name: 977, dtype: int64)
(978, group1    15335602
group2    11776502
weight           1
Name: 978, dtype: int64)
(979, group1    18297014
group2     1102353
weight           2
Name: 979, dtype: int64)
(980, group1    18297014
group2      191516
weight           2
Name: 980, dtype: int64)
(981, group1    18297014
group2    18955830
weight          13
Name: 981, dtype: int64)
(982, group1    18297014
group2    20181560
weight           1
Name: 982, dtype: int64)
(983, group1    18297014
group2    22023226
weight           1
Name: 983, dtype: int64)
(984, group1    18297014
group2    10000962
weight           1
Name: 984, dtype: int64)
(985, group1    18297014
group2      339011
weight           6
Name: 985, dtype: int64)
(986, group1    18297014
group2     1772099
weight           2
Name: 986, dtype: int64)
(987, group1    18297014
group2    16607822
weight           1
Name: 987, dtype: int64)
(988, group1    18297014
group2     1457232
weight           5
Name: 988, dtype: int64)
(989, group1    18297014
group2     6190702
weight           6
Name: 989, dtype: int64)
(990, group1    18297014
group2    15552112
weight           1
Name: 990, dtype: int64)
(991, group1    18297014
group2     1741429
weight           1
Name: 991, dtype: int64)
(992, group1    18297014
group2      929402
weight           2
Name: 992, dtype: int64)
(993, group1    18297014
group2     1473660
weight           1
Name: 993, dtype: int64)
(994, group1    18297014
group2    24906881
weight           1
Name: 994, dtype: int64)
(995, group1    18297014
group2    23398017
weight           1
Name: 995, dtype: int64)
(996, group1    18297014
group2     1240194
weight           1
Name: 996, dtype: int64)
(997, group1    18297014
group2    18672773
weight           1
Name: 997, dtype: int64)
(998, group1    18297014
group2      541319
weight           2
Name: 998, dtype: int64)
(999, group1    18297014
group2    19708553
weight           1
Name: 999, dtype: int64)
(1000, group1    18297014
group2    19713173
weight           5
Name: 1000, dtype: int64)
(1001, group1    18297014
group2    19847832
weight           1
Name: 1001, dtype: int64)
(1002, group1    18297014
group2    20186791
weight           1
Name: 1002, dtype: int64)
(1003, group1    18297014
group2    18549438
weight           1
Name: 1003, dtype: int64)
(1004, group1    18297014
group2    10178242
weight           1
Name: 1004, dtype: int64)
(1005, group1    18297014
group2    19556549
weight           1
Name: 1005, dtype: int64)
(1006, group1    18297014
group2      227528
weight           2
Name: 1006, dtype: int64)
(1007, group1    18297014
group2    14546632
weight           1
Name: 1007, dtype: int64)
(1008, group1    18297014
group2    19680459
weight           2
Name: 1008, dtype: int64)
(1009, group1    18297014
group2     4705492
weight           2
Name: 1009, dtype: int64)
(1010, group1    18297014
group2    11077852
weight           1
Name: 1010, dtype: int64)
(1011, group1    18297014
group2    21174496
weight           4
Name: 1011, dtype: int64)
(1012, group1    18297014
group2    25681644
weight           1
Name: 1012, dtype: int64)
(1013, group1    18297014
group2    18634990
weight           1
Name: 1013, dtype: int64)
(1014, group1    18297014
group2    18243826
weight          23
Name: 1014, dtype: int64)
(1015, group1    18297014
group2     1505523
weight           2
Name: 1015, dtype: int64)
(1016, group1    18297014
group2     6629622
weight           1
Name: 1016, dtype: int64)
(1017, group1    18297014
group2    18562307
weight           3
Name: 1017, dtype: int64)
(1018, group1    18297014
group2    18495240
weight           3
Name: 1018, dtype: int64)
(1019, group1    18297014
group2    12847372
weight           3
Name: 1019, dtype: int64)
(1020, group1    18297014
group2    19728145
weight          28
Name: 1020, dtype: int64)
(1021, group1    18297014
group2     8805172
weight           1
Name: 1021, dtype: int64)
(1022, group1    18297014
group2     1078077
weight           2
Name: 1022, dtype: int64)
(1023, group1    18297014
group2      528705
weight           1
Name: 1023, dtype: int64)
(1024, group1    18297014
group2     1431882
weight           2
Name: 1024, dtype: int64)
(1025, group1    18297014
group2    19496778
weight           1
Name: 1025, dtype: int64)
(1026, group1    18297014
group2    24584525
weight           1
Name: 1026, dtype: int64)
(1027, group1    18297014
group2     5282132
weight           1
Name: 1027, dtype: int64)
(1028, group1    18297014
group2     1371991
weight           8
Name: 1028, dtype: int64)
(1029, group1    18297014
group2    18506072
weight           7
Name: 1029, dtype: int64)
(1030, group1    18297014
group2    20377949
weight           1
Name: 1030, dtype: int64)
(1031, group1    18297014
group2    24811380
weight           1
Name: 1031, dtype: int64)
(1032, group1    18297014
group2     1786237
weight           2
Name: 1032, dtype: int64)
(1033, group1    18297014
group2     1187715
weight          11
Name: 1033, dtype: int64)
(1034, group1    18297014
group2     6335372
weight           1
Name: 1034, dtype: int64)
(1035, group1    18297014
group2    14396812
weight           2
Name: 1035, dtype: int64)
(1036, group1    18297014
group2    20336043
weight           2
Name: 1036, dtype: int64)
(1037, group1    18297014
group2    18314669
weight           5
Name: 1037, dtype: int64)
(1038, group1    18297014
group2    18476981
weight           1
Name: 1038, dtype: int64)
(1039, group1    18297014
group2     1751502
weight           1
Name: 1039, dtype: int64)
(1040, group1    18297014
group2     7699922
weight           6
Name: 1040, dtype: int64)
(1041, group1    18297014
group2     1349592
weight           2
Name: 1041, dtype: int64)
(1042, group1    18297014
group2     1576921
weight           1
Name: 1042, dtype: int64)
(1043, group1    18297014
group2    18573279
weight           1
Name: 1043, dtype: int64)
(1044, group1    18297014
group2     1622500
weight           1
Name: 1044, dtype: int64)
(1045, group1    18297014
group2    22197221
weight           2
Name: 1045, dtype: int64)
(1046, group1    18297014
group2     1642477
weight           5
Name: 1046, dtype: int64)
(1047, group1    18297014
group2    19094001
weight           1
Name: 1047, dtype: int64)
(1048, group1    18297014
group2    24693747
weight           1
Name: 1048, dtype: int64)
(1049, group1    18297014
group2    16548342
weight           1
Name: 1049, dtype: int64)
(1050, group1    18297014
group2    11776502
weight           1
Name: 1050, dtype: int64)
(1051, group1    18297014
group2    19654655
weight           1
Name: 1051, dtype: int64)
(1052, group1    4126912
group2     535553
weight          2
Name: 1052, dtype: int64)
(1053, group1     4126912
group2    19194894
weight           3
Name: 1053, dtype: int64)
(1054, group1     4126912
group2    21533726
weight           2
Name: 1054, dtype: int64)
(1055, group1    4126912
group2    2556962
weight          1
Name: 1055, dtype: int64)
(1056, group1     4126912
group2    19528743
weight           1
Name: 1056, dtype: int64)
(1057, group1     4126912
group2    22817838
weight           1
Name: 1057, dtype: int64)
(1058, group1     4126912
group2    22023226
weight           5
Name: 1058, dtype: int64)
(1059, group1    4126912
group2     339011
weight          2
Name: 1059, dtype: int64)
(1060, group1     4126912
group2    19964997
weight           3
Name: 1060, dtype: int64)
(1061, group1     4126912
group2    21957723
weight           1
Name: 1061, dtype: int64)
(1062, group1    4126912
group2    7130232
weight          4
Name: 1062, dtype: int64)
(1063, group1     4126912
group2    19713173
weight           1
Name: 1063, dtype: int64)
(1064, group1     4126912
group2    18801828
weight           3
Name: 1064, dtype: int64)
(1065, group1    4126912
group2    7836842
weight          4
Name: 1065, dtype: int64)
(1066, group1    4126912
group2    1324203
weight          1
Name: 1066, dtype: int64)
(1067, group1     4126912
group2    18964683
weight           1
Name: 1067, dtype: int64)
(1068, group1    4126912
group2    4705492
weight         10
Name: 1068, dtype: int64)
(1069, group1     4126912
group2    21043417
weight           1
Name: 1069, dtype: int64)
(1070, group1     4126912
group2    11077852
weight           2
Name: 1070, dtype: int64)
(1071, group1     4126912
group2    21174496
weight           1
Name: 1071, dtype: int64)
(1072, group1    4126912
group2    8771812
weight          1
Name: 1072, dtype: int64)
(1073, group1     4126912
group2    18361585
weight           1
Name: 1073, dtype: int64)
(1074, group1     4126912
group2    18243826
weight           1
Name: 1074, dtype: int64)
(1075, group1     4126912
group2    15297782
weight           5
Name: 1075, dtype: int64)
(1076, group1     4126912
group2    18556157
weight           1
Name: 1076, dtype: int64)
(1077, group1    4126912
group2    1358081
weight         25
Name: 1077, dtype: int64)
(1078, group1     4126912
group2    18562307
weight           1
Name: 1078, dtype: int64)
(1079, group1    4126912
group2    1787157
weight          1
Name: 1079, dtype: int64)
(1080, group1     4126912
group2    19262745
weight           1
Name: 1080, dtype: int64)
(1081, group1     4126912
group2    19416348
weight           3
Name: 1081, dtype: int64)
(1082, group1    4126912
group2    1433893
weight          2
Name: 1082, dtype: int64)
(1083, group1    4126912
group2    1169709
weight          1
Name: 1083, dtype: int64)
(1084, group1     4126912
group2    19108156
weight           5
Name: 1084, dtype: int64)
(1085, group1    4126912
group2     528705
weight          1
Name: 1085, dtype: int64)
(1086, group1     4126912
group2    11626822
weight           2
Name: 1086, dtype: int64)
(1087, group1    4126912
group2    4268372
weight          1
Name: 1087, dtype: int64)
(1088, group1     4126912
group2    22021463
weight           4
Name: 1088, dtype: int64)
(1089, group1     4126912
group2    18506072
weight           1
Name: 1089, dtype: int64)
(1090, group1     4126912
group2    11625832
weight           1
Name: 1090, dtype: int64)
(1091, group1     4126912
group2    24553853
weight           1
Name: 1091, dtype: int64)
(1092, group1    4126912
group2    3173762
weight          1
Name: 1092, dtype: int64)
(1093, group1     4126912
group2    16487812
weight           7
Name: 1093, dtype: int64)
(1094, group1     4126912
group2    21686664
weight           1
Name: 1094, dtype: int64)
(1095, group1     4126912
group2    19218850
weight           1
Name: 1095, dtype: int64)
(1096, group1     4126912
group2    21837219
weight           2
Name: 1096, dtype: int64)
(1097, group1     4126912
group2    20583850
weight           1
Name: 1097, dtype: int64)
(1098, group1    4126912
group2     405938
weight          1
Name: 1098, dtype: int64)
(1099, group1     4126912
group2    16536012
weight           1
Name: 1099, dtype: int64)
(1100, group1    4126912
group2    1751502
weight          2
Name: 1100, dtype: int64)
(1101, group1    4126912
group2    1622500
weight          3
Name: 1101, dtype: int64)
(1102, group1     4126912
group2    19094001
weight           4
Name: 1102, dtype: int64)
(1103, group1     4126912
group2    10016242
weight           9
Name: 1103, dtype: int64)
(1104, group1     4126912
group2    16548342
weight           1
Name: 1104, dtype: int64)
(1105, group1     4126912
group2    18798102
weight           1
Name: 1105, dtype: int64)
(1106, group1    4126912
group2     788001
weight          1
Name: 1106, dtype: int64)
(1107, group1    4126912
group2    9307682
weight          2
Name: 1107, dtype: int64)
(1108, group1    4126912
group2    1728035
weight          9
Name: 1108, dtype: int64)
(1109, group1     4126912
group2    18855476
weight           1
Name: 1109, dtype: int64)
(1110, group1     4126912
group2    18955830
weight           7
Name: 1110, dtype: int64)
(1111, group1     4126912
group2    11294262
weight           2
Name: 1111, dtype: int64)
(1112, group1     4126912
group2    10000962
weight           1
Name: 1112, dtype: int64)
(1113, group1     4126912
group2    16607822
weight           2
Name: 1113, dtype: int64)
(1114, group1     4126912
group2    13560402
weight           3
Name: 1114, dtype: int64)
(1115, group1     4126912
group2    16477792
weight           4
Name: 1115, dtype: int64)
(1116, group1    4126912
group2    6190702
weight          1
Name: 1116, dtype: int64)
(1117, group1     4126912
group2    15552112
weight           1
Name: 1117, dtype: int64)
(1118, group1     4126912
group2    24153712
weight           1
Name: 1118, dtype: int64)
(1119, group1    4126912
group2    1741429
weight          2
Name: 1119, dtype: int64)
(1120, group1    4126912
group2     929402
weight          1
Name: 1120, dtype: int64)
(1121, group1     4126912
group2    19033734
weight           1
Name: 1121, dtype: int64)
(1122, group1    4126912
group2     541319
weight          4
Name: 1122, dtype: int64)
(1123, group1    4126912
group2    1492619
weight          3
Name: 1123, dtype: int64)
(1124, group1    4126912
group2    1776274
weight         29
Name: 1124, dtype: int64)
(1125, group1     4126912
group2    18494105
weight           6
Name: 1125, dtype: int64)
(1126, group1    4126912
group2     252576
weight          2
Name: 1126, dtype: int64)
(1127, group1     4126912
group2    16447162
weight           1
Name: 1127, dtype: int64)
(1128, group1    4126912
group2    6707902
weight          1
Name: 1128, dtype: int64)
(1129, group1     4126912
group2    21989057
weight           2
Name: 1129, dtype: int64)
(1130, group1     4126912
group2    10178242
weight           4
Name: 1130, dtype: int64)
(1131, group1     4126912
group2    16062152
weight           1
Name: 1131, dtype: int64)
(1132, group1     4126912
group2    14649032
weight           2
Name: 1132, dtype: int64)
(1133, group1     4126912
group2    14546632
weight           2
Name: 1133, dtype: int64)
(1134, group1     4126912
group2    21715712
weight           1
Name: 1134, dtype: int64)
(1135, group1     4126912
group2    19728145
weight           3
Name: 1135, dtype: int64)
(1136, group1     4126912
group2    16954142
weight           3
Name: 1136, dtype: int64)
(1137, group1     4126912
group2    19997487
weight           3
Name: 1137, dtype: int64)
(1138, group1     4126912
group2    18471729
weight           4
Name: 1138, dtype: int64)
(1139, group1    4126912
group2    1360698
weight          3
Name: 1139, dtype: int64)
(1140, group1    4126912
group2    8908602
weight          2
Name: 1140, dtype: int64)
(1141, group1    4126912
group2    7700282
weight          1
Name: 1141, dtype: int64)
(1142, group1     4126912
group2    18996036
weight           2
Name: 1142, dtype: int64)
(1143, group1     4126912
group2    14380872
weight           1
Name: 1143, dtype: int64)
(1144, group1    4126912
group2    7151442
weight          2
Name: 1144, dtype: int64)
(1145, group1     4126912
group2    19266390
weight           2
Name: 1145, dtype: int64)
(1146, group1    4126912
group2    1371991
weight          1
Name: 1146, dtype: int64)
(1147, group1     4126912
group2    18779992
weight           2
Name: 1147, dtype: int64)
(1148, group1    4126912
group2    5618532
weight          2
Name: 1148, dtype: int64)
(1149, group1     4126912
group2    18529135
weight           2
Name: 1149, dtype: int64)
(1150, group1    4126912
group2    1187715
weight          2
Name: 1150, dtype: int64)
(1151, group1     4126912
group2    19266450
weight           1
Name: 1151, dtype: int64)
(1152, group1     4126912
group2    11862932
weight           2
Name: 1152, dtype: int64)
(1153, group1     4126912
group2    13728662
weight           1
Name: 1153, dtype: int64)
(1154, group1    4126912
group2    1743773
weight          1
Name: 1154, dtype: int64)
(1155, group1    4126912
group2    3376042
weight          2
Name: 1155, dtype: int64)
(1156, group1    4126912
group2     711599
weight          3
Name: 1156, dtype: int64)
(1157, group1     4126912
group2    18589616
weight           2
Name: 1157, dtype: int64)
(1158, group1     4126912
group2    17467312
weight           2
Name: 1158, dtype: int64)
(1159, group1     4126912
group2    18314164
weight           1
Name: 1159, dtype: int64)
(1160, group1     4126912
group2    18476981
weight           1
Name: 1160, dtype: int64)
(1161, group1    4126912
group2    9376702
weight          1
Name: 1161, dtype: int64)
(1162, group1     4126912
group2    16067522
weight           4
Name: 1162, dtype: int64)
(1163, group1     4126912
group2    18616278
weight           3
Name: 1163, dtype: int64)
(1164, group1    4126912
group2    1576921
weight          1
Name: 1164, dtype: int64)
(1165, group1    4126912
group2     204767
weight          4
Name: 1165, dtype: int64)
(1166, group1     4126912
group2    22197221
weight           2
Name: 1166, dtype: int64)
(1167, group1     4126912
group2    20197351
weight           1
Name: 1167, dtype: int64)
(1168, group1    4126912
group2     526316
weight          1
Name: 1168, dtype: int64)
(1169, group1    4126912
group2    8968172
weight          1
Name: 1169, dtype: int64)
(1170, group1     4126912
group2    18256892
weight           1
Name: 1170, dtype: int64)
(1171, group1     4126912
group2    18414590
weight           1
Name: 1171, dtype: int64)
(1172, group1     4126912
group2    19654655
weight           2
Name: 1172, dtype: int64)
(1173, group1    19556549
group2      710272
weight           1
Name: 1173, dtype: int64)
(1174, group1    19556549
group2    12588802
weight           1
Name: 1174, dtype: int64)
(1175, group1    19556549
group2    18562307
weight           1
Name: 1175, dtype: int64)
(1176, group1    19556549
group2    18798102
weight           3
Name: 1176, dtype: int64)
(1177, group1    19556549
group2    17487002
weight           2
Name: 1177, dtype: int64)
(1178, group1    19556549
group2      252576
weight           1

Name: 1354, dtype: int64)
(1355, group1    11077852
group2    11184352
weight           1
Name: 1355, dtype: int64)
(1356, group1    11077852
group2     8771812
weight           1
Name: 1356, dtype: int64)
(1357, group1    11077852
group2    25681644
weight           1
Name: 1357, dtype: int64)
(1358, group1    11077852
group2    18361585
weight           3
Name: 1358, dtype: int64)
(1359, group1    11077852
group2    18243826
weight           3
Name: 1359, dtype: int64)
(1360, group1    11077852
group2     1505523
weight           2
Name: 1360, dtype: int64)
(1361, group1    11077852
group2    14566132
weight           1
Name: 1361, dtype: int64)
(1362, group1    11077852
group2    15297782
weight           3
Name: 1362, dtype: int64)
(1363, group1    11077852
group2     2496252
weight           1
Name: 1363, dtype: int64)
(1364, group1    11077852
group2     1358081
weight           2
Name: 1364, dtype: int64)
(1365, group1    11077852
group2    18562307
weight           1
Name: 1365, dtype: int64)
(1366, group1    11077852
group2    18456837
weight           1
Name: 1366, dtype: int64)
(1367, group1    11077852
group2    19728145
weight           3
Name: 1367, dtype: int64)
(1368, group1    11077852
group2    19262745
weight          10
Name: 1368, dtype: int64)
(1369, group1    11077852
group2    19416348
weight           2
Name: 1369, dtype: int64)
(1370, group1    11077852
group2    21651228
weight           1
Name: 1370, dtype: int64)
(1371, group1    11077852
group2    22643488
weight           1
Name: 1371, dtype: int64)
(1372, group1    11077852
group2     1169709
weight           1
Name: 1372, dtype: int64)
(1373, group1    11077852
group2    19997487
weight           3
Name: 1373, dtype: int64)
(1374, group1    11077852
group2     1697586
weight           1
Name: 1374, dtype: int64)
(1375, group1    11077852
group2     1360698
weight           2
Name: 1375, dtype: int64)
(1376, group1    11077852
group2     1526075
weight           2
Name: 1376, dtype: int64)
(1377, group1    11077852
group2    22585660
weight           1
Name: 1377, dtype: int64)
(1378, group1    11077852
group2     1078077
weight           1
Name: 1378, dtype: int64)
(1379, group1    11077852
group2    19108156
weight           1
Name: 1379, dtype: int64)
(1380, group1    11077852
group2    20757821
weight           1
Name: 1380, dtype: int64)
(1381, group1    11077852
group2    23040833
weight           1
Name: 1381, dtype: int64)
(1382, group1    11077852
group2     1354051
weight           1
Name: 1382, dtype: int64)
(1383, group1    11077852
group2     7151442
weight           2
Name: 1383, dtype: int64)
(1384, group1    11077852
group2     5282132
weight           3
Name: 1384, dtype: int64)
(1385, group1    11077852
group2    19266390
weight           1
Name: 1385, dtype: int64)
(1386, group1    11077852
group2     1371991
weight           2
Name: 1386, dtype: int64)
(1387, group1    11077852
group2    18506072
weight           8
Name: 1387, dtype: int64)
(1388, group1    11077852
group2    18779992
weight           1
Name: 1388, dtype: int64)
(1389, group1    11077852
group2    20377949
weight           1
Name: 1389, dtype: int64)
(1390, group1    11077852
group2    18286946
weight           1
Name: 1390, dtype: int64)
(1391, group1    11077852
group2    20129636
weight           1
Name: 1391, dtype: int64)
(1392, group1    11077852
group2    11625832
weight           1
Name: 1392, dtype: int64)
(1393, group1    11077852
group2     1786237
weight           1
Name: 1393, dtype: int64)
(1394, group1    11077852
group2     3173762
weight           1
Name: 1394, dtype: int64)
(1395, group1    11077852
group2     1187715
weight           7
Name: 1395, dtype: int64)
(1396, group1    11077852
group2    16487812
weight           4
Name: 1396, dtype: int64)
(1397, group1    11077852
group2    21755271
weight           1
Name: 1397, dtype: int64)
(1398, group1    11077852
group2    21686664
weight           1
Name: 1398, dtype: int64)
(1399, group1    11077852
group2    10426762
weight           1
Name: 1399, dtype: int64)
(1400, group1    11077852
group2    14396812
weight           2
Name: 1400, dtype: int64)
(1401, group1    11077852
group2    11862932
weight           1
Name: 1401, dtype: int64)
(1402, group1    11077852
group2    19249559
weight           1
Name: 1402, dtype: int64)
(1403, group1    11077852
group2    22730657
weight           1
Name: 1403, dtype: int64)
(1404, group1    11077852
group2    19218850
weight           1
Name: 1404, dtype: int64)
(1405, group1    11077852
group2    20336043
weight           4
Name: 1405, dtype: int64)
(1406, group1    11077852
group2    23723436
weight           2
Name: 1406, dtype: int64)
(1407, group1    11077852
group2    18589616
weight           3
Name: 1407, dtype: int64)
(1408, group1    11077852
group2    17467312
weight           1
Name: 1408, dtype: int64)
(1409, group1    11077852
group2      405938
weight           1
Name: 1409, dtype: int64)
(1410, group1    11077852
group2    23112117
weight           1
Name: 1410, dtype: int64)
(1411, group1    11077852
group2    18476981
weight           1
Name: 1411, dtype: int64)
(1412, group1    11077852
group2     9376702
weight           2
Name: 1412, dtype: int64)
(1413, group1    11077852
group2    18180033
weight           1
Name: 1413, dtype: int64)
(1414, group1    11077852
group2    16067522
weight           1
Name: 1414, dtype: int64)
(1415, group1    11077852
group2    25717708
weight           1
Name: 1415, dtype: int64)
(1416, group1    11077852
group2     1751502
weight           1
Name: 1416, dtype: int64)
(1417, group1    11077852
group2     6284242
weight           1
Name: 1417, dtype: int64)
(1418, group1    11077852
group2    18616278
weight           3
Name: 1418, dtype: int64)
(1419, group1    11077852
group2     1349592
weight           1
Name: 1419, dtype: int64)
(1420, group1    11077852
group2     1622500
weight           1
Name: 1420, dtype: int64)
(1421, group1    11077852
group2    22197221
weight           3
Name: 1421, dtype: int64)
(1422, group1    11077852
group2     1642477
weight           2
Name: 1422, dtype: int64)
(1423, group1    11077852
group2    19828207
weight           1
Name: 1423, dtype: int64)
(1424, group1    11077852
group2    19094001
weight           1
Name: 1424, dtype: int64)
(1425, group1    11077852
group2    10016242
weight           2
Name: 1425, dtype: int64)
(1426, group1    11077852
group2    16548342
weight           1
Name: 1426, dtype: int64)
(1427, group1    11077852
group2       47094
weight           1
Name: 1427, dtype: int64)
(1428, group1    11077852
group2    18256892
weight           1
Name: 1428, dtype: int64)
(1429, group1    11077852
group2    18414590
weight           1
Name: 1429, dtype: int64)
(1430, group1    11077852
group2    19654655
weight           1
Name: 1430, dtype: int64)
(1431, group1    21747934
group2    19262745
weight           1
Name: 1431, dtype: int64)
(1432, group1    21747934
group2    22643488
weight           1
Name: 1432, dtype: int64)
(1433, group1    21747934
group2    23053409
weight           3
Name: 1433, dtype: int64)
(1434, group1    21747934
group2    22422502
weight           1
Name: 1434, dtype: int64)
(1435, group1    21747934
group2     1505523
weight           1
Name: 1435, dtype: int64)
(1436, group1    21747934
group2    22130047
weight           1
Name: 1436, dtype: int64)
(1437, group1    11184352
group2     1358081
weight           1
Name: 1437, dtype: int64)
(1438, group1    11184352
group2    16954142
weight           1
Name: 1438, dtype: int64)
(1439, group1    11184352
group2    18850080
weight           1
Name: 1439, dtype: int64)
(1440, group1    11184352
group2    25521445
weight           2
Name: 1440, dtype: int64)
(1441, group1    11184352
group2     1274150
weight           1
Name: 1441, dtype: int64)
(1442, group1    11184352
group2    11294262
weight           1
Name: 1442, dtype: int64)
(1443, group1    11184352
group2    18677333
weight           1
Name: 1443, dtype: int64)
(1444, group1    11184352
group2    19266390
weight           1
Name: 1444, dtype: int64)
(1445, group1    11184352
group2    18506072
weight           1
Name: 1445, dtype: int64)
(1446, group1    11184352
group2    16477792
weight           1
Name: 1446, dtype: int64)
(1447, group1    11184352
group2     5618532
weight           1
Name: 1447, dtype: int64)
(1448, group1    11184352
group2    19827046
weight           1
Name: 1448, dtype: int64)
(1449, group1    11184352
group2     7130232
weight           2
Name: 1449, dtype: int64)
(1450, group1    11184352
group2      929402
weight           1
Name: 1450, dtype: int64)
(1451, group1    11184352
group2    23398017
weight           1
Name: 1451, dtype: int64)
(1452, group1    11184352
group2     1776274
weight           2
Name: 1452, dtype: int64)
(1453, group1    11184352
group2    11862932
weight           1
Name: 1453, dtype: int64)
(1454, group1    11184352
group2      252576
weight           1
Name: 1454, dtype: int64)
(1455, group1    11184352
group2    26090658
weight           1
Name: 1455, dtype: int64)
(1456, group1    11184352
group2    21837219
weight           1
Name: 1456, dtype: int64)
(1457, group1    11184352
group2    23594916
weight           8
Name: 1457, dtype: int64)
(1458, group1    11184352
group2    18801828
weight           1
Name: 1458, dtype: int64)
(1459, group1    11184352
group2     3376042
weight           1
Name: 1459, dtype: int64)
(1460, group1    11184352
group2    20583850
weight           1
Name: 1460, dtype: int64)
(1461, group1    11184352
group2     6707902
weight           1
Name: 1461, dtype: int64)
(1462, group1    11184352
group2     9376702
weight           1
Name: 1462, dtype: int64)
(1463, group1    11184352
group2    10178242
weight           1
Name: 1463, dtype: int64)
(1464, group1    11184352
group2    14649032
weight           1
Name: 1464, dtype: int64)
(1465, group1    11184352
group2    16062152
weight           1
Name: 1465, dtype: int64)
(1466, group1    11184352
group2    14546632
weight           1
Name: 1466, dtype: int64)
(1467, group1    11184352
group2     1498076
weight           1
Name: 1467, dtype: int64)
(1468, group1    11184352
group2    10016242
weight           2
Name: 1468, dtype: int64)
(1469, group1    11184352
group2    18243826
weight           1
Name: 1469, dtype: int64)
(1470, group1    21174496
group2     2520612
weight           5
Name: 1470, dtype: int64)
(1471, group1    21174496
group2     8548902
weight           1
Name: 1471, dtype: int64)
(1472, group1    21174496
group2    18955830
weight          24
Name: 1472, dtype: int64)
(1473, group1    21174496
group2    11294262
weight           1
Name: 1473, dtype: int64)
(1474, group1    21174496
group2    20181560
weight           7
Name: 1474, dtype: int64)
(1475, group1    21174496
group2      339011
weight           5
Name: 1475, dtype: int64)
(1476, group1    21174496
group2     1772099
weight           1
Name: 1476, dtype: int64)
(1477, group1    21174496
group2    19964997
weight           3
Name: 1477, dtype: int64)
(1478, group1    21174496
group2     6190702
weight           3
Name: 1478, dtype: int64)
(1479, group1    21174496
group2    24743042
weight           1
Name: 1479, dtype: int64)
(1480, group1    21174496
group2      541319
weight           2
Name: 1480, dtype: int64)
(1481, group1    21174496
group2     1492619
weight           2
Name: 1481, dtype: int64)
(1482, group1    21174496
group2     1776274
weight           2
Name: 1482, dtype: int64)
(1483, group1    21174496
group2    19713173
weight          22
Name: 1483, dtype: int64)
(1484, group1    21174496
group2    19847832
weight           1
Name: 1484, dtype: int64)
(1485, group1    21174496
group2    17487002
weight           1
Name: 1485, dtype: int64)
(1486, group1    21174496
group2      252576
weight           2
Name: 1486, dtype: int64)
(1487, group1    21174496
group2    20186791
weight           2
Name: 1487, dtype: int64)
(1488, group1    21174496
group2    19828398
weight           1
Name: 1488, dtype: int64)
(1489, group1    21174496
group2     4705492
weight           6
Name: 1489, dtype: int64)
(1490, group1    21174496
group2    18629337
weight           1
Name: 1490, dtype: int64)
(1491, group1    21174496
group2    18361585
weight           1
Name: 1491, dtype: int64)
(1492, group1    21174496
group2    18243826
weight           1
Name: 1492, dtype: int64)
(1493, group1    21174496
group2     6629622
weight           1
Name: 1493, dtype: int64)
(1494, group1    21174496
group2    23456513
weight           1
Name: 1494, dtype: int64)
(1495, group1    21174496
group2     1358081
weight           1
Name: 1495, dtype: int64)
(1496, group1    21174496
group2    18562307
weight          11
Name: 1496, dtype: int64)
(1497, group1    21174496
group2    12847372
weight           1
Name: 1497, dtype: int64)
(1498, group1    21174496
group2    19728145
weight           8
Name: 1498, dtype: int64)
(1499, group1    21174496
group2    19416348
weight           1
Name: 1499, dtype: int64)
(1500, group1    21174496
group2    18425641
weight           1
Name: 1500, dtype: int64)
(1501, group1    21174496
group2     7700282
weight           1
Name: 1501, dtype: int64)
(1502, group1    21174496
group2    22585660
weight           4
Name: 1502, dtype: int64)
(1503, group1    21174496
group2     1078077
weight           1
Name: 1503, dtype: int64)
(1504, group1    21174496
group2    20757821
weight           1
Name: 1504, dtype: int64)
(1505, group1    21174496
group2    19011903
weight           1
Name: 1505, dtype: int64)
(1506, group1    21174496
group2    14380872
weight           1
Name: 1506, dtype: int64)
(1507, group1    21174496
group2     1431882
weight           1
Name: 1507, dtype: int64)
(1508, group1    21174496
group2    24584525
weight           5
Name: 1508, dtype: int64)
(1509, group1    21174496
group2     5282132
weight           2
Name: 1509, dtype: int64)
(1510, group1    21174496
group2    19266390
weight           2
Name: 1510, dtype: int64)
(1511, group1    21174496
group2     1371991
weight           2
Name: 1511, dtype: int64)
(1512, group1    21174496
group2    18506072
weight          26
Name: 1512, dtype: int64)
(1513, group1    21174496
group2    18286946
weight           1
Name: 1513, dtype: int64)
(1514, group1    21174496
group2    20129636
weight           1
Name: 1514, dtype: int64)
(1515, group1    21174496
group2    19934054
weight           1
Name: 1515, dtype: int64)
(1516, group1    21174496
group2     1763190
weight           1
Name: 1516, dtype: int64)
(1517, group1    21174496
group2     1187715
weight           6
Name: 1517, dtype: int64)
(1518, group1    21174496
group2    10426762
weight           1
Name: 1518, dtype: int64)
(1519, group1    21174496
group2    25648018
weight           2
Name: 1519, dtype: int64)
(1520, group1    21174496
group2    19249559
weight           2
Name: 1520, dtype: int64)
(1521, group1    21174496
group2    20421535
weight           1
Name: 1521, dtype: int64)
(1522, group1    21174496
group2    20583850
weight           1
Name: 1522, dtype: int64)
(1523, group1    21174496
group2    20336043
weight           8
Name: 1523, dtype: int64)
(1524, group1    21174496
group2    23723436
weight           1
Name: 1524, dtype: int64)
(1525, group1    21174496
group2    18314669
weight           1
Name: 1525, dtype: int64)
(1526, group1    21174496
group2     9376702
weight           1
Name: 1526, dtype: int64)
(1527, group1    21174496
group2    16067522
weight           8
Name: 1527, dtype: int64)
(1528, group1    21174496
group2    13635532
weight           1
Name: 1528, dtype: int64)
(1529, group1    21174496
group2     1349592
weight           1
Name: 1529, dtype: int64)
(1530, group1    21174496
group2    20836828
weight           1
Name: 1530, dtype: int64)
(1531, group1    21174496
group2    22197221
weight           7
Name: 1531, dtype: int64)
(1532, group1    21174496
group2    20807142
weight           6
Name: 1532, dtype: int64)
(1533, group1    21174496
group2      526316
weight           6
Name: 1533, dtype: int64)
(1534, group1    21174496
group2     1642477
weight           1
Name: 1534, dtype: int64)
(1535, group1    21174496
group2    19828207
weight           1
Name: 1535, dtype: int64)
(1536, group1    21174496
group2    18414590
weight           1
Name: 1536, dtype: int64)
(1537, group1    8771812
group2     535553
weight          2
Name: 1537, dtype: int64)
(1538, group1     8771812
group2    19194894
weight           1
Name: 1538, dtype: int64)
(1539, group1    8771812
group2    1728035
weight          2
Name: 1539, dtype: int64)
(1540, group1     8771812
group2    16321082
weight           1
Name: 1540, dtype: int64)
(1541, group1     8771812
group2    16607822
weight           2
Name: 1541, dtype: int64)
(1542, group1     8771812
group2    13560402
weight           8
Name: 1542, dtype: int64)
(1543, group1     8771812
group2    16477792
weight          25
Name: 1543, dtype: int64)
(1544, group1    8771812
group2    6190702
weight          1
Name: 1544, dtype: int64)
(1545, group1    8771812
group2    7130232
weight          2
Name: 1545, dtype: int64)
(1546, group1     8771812
group2    24906881
weight           1
Name: 1546, dtype: int64)
(1547, group1     8771812
group2    23398017
weight           1
Name: 1547, dtype: int64)
(1548, group1    8771812
group2     541319
weight          1
Name: 1548, dtype: int64)
(1549, group1    8771812
group2    1776274
weight          2
Name: 1549, dtype: int64)
(1550, group1    8771812
group2    7138452
weight          2
Name: 1550, dtype: int64)
(1551, group1     8771812
group2    18494105
weight           7
Name: 1551, dtype: int64)
(1552, group1    8771812
group2    7836842
weight          3
Name: 1552, dtype: int64)
(1553, group1    8771812
group2    6707902
weight          9
Name: 1553, dtype: int64)
(1554, group1     8771812
group2    10178242
weight           4
Name: 1554, dtype: int64)
(1555, group1     8771812
group2    14546632
weight           2
Name: 1555, dtype: int64)
(1556, group1     8771812
group2    14649032
weight           2
Name: 1556, dtype: int64)
(1557, group1     8771812
group2    16062152
weight           1
Name: 1557, dtype: int64)
(1558, group1     8771812
group2    18361585
weight           3
Name: 1558, dtype: int64)
(1559, group1     8771812
group2    15297782
weight           2
Name: 1559, dtype: int64)
(1560, group1    8771812
group2    1358081
weight          2
Name: 1560, dtype: int64)
(1561, group1     8771812
group2    18456837
weight           1
Name: 1561, dtype: int64)
(1562, group1     8771812
group2    18850080
weight           1
Name: 1562, dtype: int64)
(1563, group1    8771812
group2    1169709
weight          1
Name: 1563, dtype: int64)
(1564, group1     8771812
group2    19997487
weight           2
Name: 1564, dtype: int64)
(1565, group1    8771812
group2    1360698
weight          1
Name: 1565, dtype: int64)
(1566, group1    8771812
group2    1354051
weight          1
Name: 1566, dtype: int64)
(1567, group1    8771812
group2    7151442
weight          8
Name: 1567, dtype: int64)
(1568, group1     8771812
group2    20135762
weight           1
Name: 1568, dtype: int64)
(1569, group1    8771812
group2    5282132
weight          1
Name: 1569, dtype: int64)
(1570, group1     8771812
group2    18779992
weight           2
Name: 1570, dtype: int64)
(1571, group1     8771812
group2    18506072
weight           2
Name: 1571, dtype: int64)
(1572, group1    8771812
group2    5618532
weight          3
Name: 1572, dtype: int64)
(1573, group1     8771812
group2    11625832
weight           7
Name: 1573, dtype: int64)
(1574, group1    8771812
group2    3173762
weight          1
Name: 1574, dtype: int64)
(1575, group1     8771812
group2    16487812
weight           7
Name: 1575, dtype: int64)
(1576, group1    8771812
group2    1581956
weight          1
Name: 1576, dtype: int64)
(1577, group1     8771812
group2    11862932

Name: 1852, dtype: int64)
(1853, group1     1358081
group2    10000962
weight           1
Name: 1853, dtype: int64)
(1854, group1    1358081
group2     339011
weight          1
Name: 1854, dtype: int64)
(1855, group1     1358081
group2    19964997
weight           3
Name: 1855, dtype: int64)
(1856, group1     1358081
group2    13560402
weight           2
Name: 1856, dtype: int64)
(1857, group1     1358081
group2    21957723
weight           2
Name: 1857, dtype: int64)
(1858, group1    1358081
group2    6190702
weight          1
Name: 1858, dtype: int64)
(1859, group1    1358081
group2    1741429
weight          2
Name: 1859, dtype: int64)
(1860, group1    1358081
group2    1292918
weight          1
Name: 1860, dtype: int64)
(1861, group1    1358081
group2    7130232
weight          1
Name: 1861, dtype: int64)
(1862, group1    1358081
group2     929402
weight          1
Name: 1862, dtype: int64)
(1863, group1     1358081
group2    24906881
weight           1
Name: 1863, dtype: int64)
(1864, group1     1358081
group2    23398017
weight           1
Name: 1864, dtype: int64)
(1865, group1     1358081
group2    19033734
weight           1
Name: 1865, dtype: int64)
(1866, group1    1358081
group2     541319
weight          1
Name: 1866, dtype: int64)
(1867, group1    1358081
group2    1492619
weight          6
Name: 1867, dtype: int64)
(1868, group1    1358081
group2    1776274
weight         22
Name: 1868, dtype: int64)
(1869, group1    1358081
group2    7138452
weight          1
Name: 1869, dtype: int64)
(1870, group1     1358081
group2    18494105
weight           7
Name: 1870, dtype: int64)
(1871, group1    1358081
group2     252576
weight          2
Name: 1871, dtype: int64)
(1872, group1     1358081
group2    18801828
weight           5
Name: 1872, dtype: int64)
(1873, group1     1358081
group2    20041384
weight           1
Name: 1873, dtype: int64)
(1874, group1    1358081
group2    7836842
weight          4
Name: 1874, dtype: int64)
(1875, group1    1358081
group2    1324203
weight          2
Name: 1875, dtype: int64)
(1876, group1     1358081
group2    19828398
weight           1
Name: 1876, dtype: int64)
(1877, group1    1358081
group2    1307837
weight          1
Name: 1877, dtype: int64)
(1878, group1     1358081
group2    18549438
weight           1
Name: 1878, dtype: int64)
(1879, group1    1358081
group2    6707902
weight          1
Name: 1879, dtype: int64)
(1880, group1     1358081
group2    21989057
weight           2
Name: 1880, dtype: int64)
(1881, group1     1358081
group2    10178242
weight           2
Name: 1881, dtype: int64)
(1882, group1     1358081
group2    16062152
weight           1
Name: 1882, dtype: int64)
(1883, group1     1358081
group2    14546632
weight           1
Name: 1883, dtype: int64)
(1884, group1     1358081
group2    14649032
weight           1
Name: 1884, dtype: int64)
(1885, group1    1358081
group2    4705492
weight          8
Name: 1885, dtype: int64)
(1886, group1     1358081
group2    18361585
weight           1
Name: 1886, dtype: int64)
(1887, group1     1358081
group2    15297782
weight           5
Name: 1887, dtype: int64)
(1888, group1     1358081
group2    18556157
weight           1
Name: 1888, dtype: int64)
(1889, group1     1358081
group2    21715712
weight           1
Name: 1889, dtype: int64)
(1890, group1     1358081
group2    18562307
weight           2
Name: 1890, dtype: int64)
(1891, group1     1358081
group2    18456837
weight           1
Name: 1891, dtype: int64)
(1892, group1     1358081
group2    19728145
weight           1
Name: 1892, dtype: int64)
(1893, group1    1358081
group2    1787157
weight          1
Name: 1893, dtype: int64)
(1894, group1     1358081
group2    19416348
weight           3
Name: 1894, dtype: int64)
(1895, group1     1358081
group2    16954142
weight           2
Name: 1895, dtype: int64)
(1896, group1    1358081
group2    1433893
weight          2
Name: 1896, dtype: int64)
(1897, group1    1358081
group2    1274150
weight          1
Name: 1897, dtype: int64)
(1898, group1     1358081
group2    25521445
weight           1
Name: 1898, dtype: int64)
(1899, group1     1358081
group2    18425641
weight           1
Name: 1899, dtype: int64)
(1900, group1     1358081
group2    19997487
weight           1
Name: 1900, dtype: int64)
(1901, group1     1358081
group2    18471729
weight           4
Name: 1901, dtype: int64)
(1902, group1    1358081
group2    8908602
weight          1
Name: 1902, dtype: int64)
(1903, group1    1358081
group2    7700282
weight          1
Name: 1903, dtype: int64)
(1904, group1     1358081
group2    19108156
weight           3
Name: 1904, dtype: int64)
(1905, group1    1358081
group2    1078077
weight          1
Name: 1905, dtype: int64)
(1906, group1    1358081
group2     528705
weight          2
Name: 1906, dtype: int64)
(1907, group1    1358081
group2    1354051
weight          1
Name: 1907, dtype: int64)
(1908, group1     1358081
group2    18996036
weight           2
Name: 1908, dtype: int64)
(1909, group1     1358081
group2    11626822
weight           2
Name: 1909, dtype: int64)
(1910, group1    1358081
group2    4268372
weight          1
Name: 1910, dtype: int64)
(1911, group1     1358081
group2    19266390
weight           5
Name: 1911, dtype: int64)
(1912, group1     1358081
group2    22021463
weight           6
Name: 1912, dtype: int64)
(1913, group1    1358081
group2    1371991
weight          1
Name: 1913, dtype: int64)
(1914, group1     1358081
group2    18506072
weight           1
Name: 1914, dtype: int64)
(1915, group1     1358081
group2    18286946
weight           1
Name: 1915, dtype: int64)
(1916, group1    1358081
group2     255854
weight          1
Name: 1916, dtype: int64)
(1917, group1     1358081
group2    18529135
weight           1
Name: 1917, dtype: int64)
(1918, group1    1358081
group2    1763190
weight          1
Name: 1918, dtype: int64)
(1919, group1    1358081
group2    1187715
weight          2
Name: 1919, dtype: int64)
(1920, group1     1358081
group2    16487812
weight           2
Name: 1920, dtype: int64)
(1921, group1     1358081
group2    10426762
weight           2
Name: 1921, dtype: int64)
(1922, group1    1358081
group2    6335372
weight          1
Name: 1922, dtype: int64)
(1923, group1     1358081
group2    19822479
weight           3
Name: 1923, dtype: int64)
(1924, group1     1358081
group2    13288852
weight           1
Name: 1924, dtype: int64)
(1925, group1    1358081
group2    1743773
weight          1
Name: 1925, dtype: int64)
(1926, group1     1358081
group2    19218850
weight           1
Name: 1926, dtype: int64)
(1927, group1     1358081
group2    21837219
weight           1
Name: 1927, dtype: int64)
(1928, group1     1358081
group2    10016162
weight           1
Name: 1928, dtype: int64)
(1929, group1     1358081
group2    23594916
weight           1
Name: 1929, dtype: int64)
(1930, group1    1358081
group2    3376042
weight          3
Name: 1930, dtype: int64)
(1931, group1     1358081
group2    23723436
weight           2
Name: 1931, dtype: int64)
(1932, group1     1358081
group2    18314669
weight           1
Name: 1932, dtype: int64)
(1933, group1    1358081
group2     711599
weight          2
Name: 1933, dtype: int64)
(1934, group1     1358081
group2    18589616
weight           1
Name: 1934, dtype: int64)
(1935, group1     1358081
group2    18314164
weight           1
Name: 1935, dtype: int64)
(1936, group1    1358081
group2    9376702
weight          1
Name: 1936, dtype: int64)
(1937, group1     1358081
group2    16067522
weight           2
Name: 1937, dtype: int64)
(1938, group1    1358081
group2    1751502
weight          1
Name: 1938, dtype: int64)
(1939, group1     1358081
group2    18616278
weight           3
Name: 1939, dtype: int64)
(1940, group1    1358081
group2    1349592
weight          1
Name: 1940, dtype: int64)
(1941, group1    1358081
group2    1498076
weight          1
Name: 1941, dtype: int64)
(1942, group1    1358081
group2     204767
weight          5
Name: 1942, dtype: int64)
(1943, group1     1358081
group2    18573279
weight           1
Name: 1943, dtype: int64)
(1944, group1    1358081
group2    1622500
weight          1
Name: 1944, dtype: int64)
(1945, group1     1358081
group2    22197221
weight           1
Name: 1945, dtype: int64)
(1946, group1     1358081
group2    19094001
weight           3
Name: 1946, dtype: int64)
(1947, group1     1358081
group2    10016242
weight           3
Name: 1947, dtype: int64)
(1948, group1     1358081
group2    19908083
weight           1
Name: 1948, dtype: int64)
(1949, group1     1358081
group2    16548342
weight           1
Name: 1949, dtype: int64)
(1950, group1     1358081
group2    18256892
weight           3
Name: 1950, dtype: int64)
(1951, group1     6928642
group2    18456837
weight           2
Name: 1951, dtype: int64)
(1952, group1     6928642
group2    18495240
weight           1
Name: 1952, dtype: int64)
(1953, group1     6928642
group2    12847372
weight           1
Name: 1953, dtype: int64)
(1954, group1    6928642
group2     998413
weight          1
Name: 1954, dtype: int64)
(1955, group1     6928642
group2    19728145
weight           2
Name: 1955, dtype: int64)
(1956, group1    6928642
group2    1102353
weight          3
Name: 1956, dtype: int64)
(1957, group1     6928642
group2    19262745
weight           1
Name: 1957, dtype: int64)
(1958, group1     6928642
group2    20583464
weight           1
Name: 1958, dtype: int64)
(1959, group1     6928642
group2    22023226
weight           1
Name: 1959, dtype: int64)
(1960, group1     6928642
group2    18592827
weight           1
Name: 1960, dtype: int64)
(1961, group1    6928642
group2    1078077
weight          1
Name: 1961, dtype: int64)
(1962, group1    6928642
group2     339011
weight          2
Name: 1962, dtype: int64)
(1963, group1    6928642
group2    1665349
weight          1
Name: 1963, dtype: int64)
(1964, group1    6928642
group2    1457232
weight          1
Name: 1964, dtype: int64)
(1965, group1    6928642
group2    5282132
weight          1
Name: 1965, dtype: int64)
(1966, group1    6928642
group2    1371991
weight          3
Name: 1966, dtype: int64)
(1967, group1     6928642
group2    20129636
weight           1
Name: 1967, dtype: int64)
(1968, group1     6928642
group2    19827046
weight           1
Name: 1968, dtype: int64)
(1969, group1    6928642
group2    6190702
weight          1
Name: 1969, dtype: int64)
(1970, group1     6928642
group2    15552112
weight           1
Name: 1970, dtype: int64)
(1971, group1     6928642
group2    18468466
weight           1
Name: 1971, dtype: int64)
(1972, group1    6928642
group2    1741429
weight          1
Name: 1972, dtype: int64)
(1973, group1    6928642
group2     929402
weight          7
Name: 1973, dtype: int64)
(1974, group1    6928642
group2    1473660
weight          1
Name: 1974, dtype: int64)
(1975, group1     6928642
group2    18517376
weight           2
Name: 1975, dtype: int64)
(1976, group1    6928642
group2    1187715
weight          3
Name: 1976, dtype: int64)
(1977, group1     6928642
group2    18795154
weight           1
Name: 1977, dtype: int64)
(1978, group1     6928642
group2    11862932
weight           1
Name: 1978, dtype: int64)
(1979, group1     6928642
group2    17487002
weight           1
Name: 1979, dtype: int64)
(1980, group1    6928642
group2     252576
weight          1
Name: 1980, dtype: int64)
(1981, group1     6928642
group2    19218850
weight           1
Name: 1981, dtype: int64)
(1982, group1     6928642
group2    18626981
weight           1
Name: 1982, dtype: int64)
(1983, group1    6928642
group2    1324203
weight          1
Name: 1983, dtype: int64)
(1984, group1    6928642
group2    1578685
weight          3
Name: 1984, dtype: int64)
(1985, group1     6928642
group2    20384452
weight           1
Name: 1985, dtype: int64)
(1986, group1    6928642
group2    6284242
weight          1
Name: 1986, dtype: int64)
(1987, group1    6928642
group2    1642477
weight          1
Name: 1987, dtype: int64)
(1988, group1    6928642
group2    5327862
weight          1
Name: 1988, dtype: int64)
(1989, group1    981249
group2    710272
weight         3
Name: 1989, dtype: int64)
(1990, group1      981249
group2    18562307
weight           1
Name: 1990, dtype: int64)
(1991, group1     981249
group2    1187715
weight          1
Name: 1991, dtype: int64)
(1992, group1      981249
group2    18672773
weight           1
Name: 1992, dtype: int64)
(1993, group1      981249
group2    16487812
weight           1
Name: 1993, dtype: int64)
(1994, group1      981249
group2    25117452
weight           1
Name: 1994, dtype: int64)
(1995, group1      981249
group2    19728145
weight           2
Name: 1995, dtype: int64)
(1996, group1     981249
group2    1102353
weight          1
Name: 1996, dtype: int64)
(1997, group1      981249
group2    19348756
weight           1
Name: 1997, dtype: int64)
(1998, group1      981249
group2    18798102
weight           1
Name: 1998, dtype: int64)
(1999, group1      981249
group2    17487002
weight           1
Name: 1999, dtype: int64)
(2000, group1    981249
group2    788001
weight         2
Name: 2000, dtype: int64)
(2001, group1     981249
group2    2556962
weight          1
Name: 2001, dtype: int64)
(2002, group1     981249
group2    2496252
weight          2
Name: 2002, dtype: int64)
(2003, group1     981249
group2    6641192
weight          1
Name: 2003, dtype: int64)
(2004, group1     981249
group2    1324203
weight          3
Name: 2004, dtype: int64)
(2005, group1      981249
group2    18955830
weight           1
Name: 2005, dtype: int64)
(2006, group1      981249
group2    19049542
weight           1
Name: 2006, dtype: int64)
(2007, group1      981249
group2    13560402
weight           1
Name: 2007, dtype: int64)
(2008, group1     981249
group2    5282132
weight          1
Name: 2008, dtype: int64)
(2009, group1     981249
group2    1371991
weight          1
Name: 2009, dtype: int64)
(2010, group1     981249
group2    1349592
weight          1
Name: 2010, dtype: int64)
(2011, group1     981249
group2    6190702
weight          1
Name: 2011, dtype: int64)
(2012, group1      981249
group2    18529135
weight           1
Name: 2012, dtype: int64)
(2013, group1      981249
group2    11776502
weight           1
Name: 2013, dtype: int64)
(2014, group1      981249
group2    18256892
weight           2
Name: 2014, dtype: int64)
(2015, group1      981249
group2    18414590
weight           1
Name: 2015, dtype: int64)
(2016, group1    18456837
group2    19728145
weight           1
Name: 2016, dtype: int64)
(2017, group1    18456837
group2     1102353
weight           1
Name: 2017, dtype: int64)
(2018, group1    18456837
group2     4631582
weight           1
Name: 2018, dtype: int64)
(2019, group1    18456837
group2     1728035
weight           2
Name: 2019, dtype: int64)
(2020, group1    18456837
group2     1169709
weight           1
Name: 2020, dtype: int64)
(2021, group1    18456837
group2     1526075
weight           1
Name: 2021, dtype: int64)
(2022, group1    18456837
group2      339011
weight           1
Name: 2022, dtype: int64)
(2023, group1    18456837
group2    16607822
weight           1
Name: 2023, dtype: int64)
(2024, group1    18456837
group2    13560402
weight           1
Name: 2024, dtype: int64)
(2025, group1    18456837
group2     5282132
weight           1
Name: 2025, dtype: int64)
(2026, group1    18456837
group2    18506072
weight           1
Name: 2026, dtype: int64)
(2027, group1    18456837
group2     6190702
weight           1
Name: 2027, dtype: int64)
(2028, group1    18456837
group2     1741429
weight           1
Name: 2028, dtype: int64)
(2029, group1    18456837
group2     1763190
weight           1
Name: 2029, dtype: int64)
(2030, group1    18456837
group2    18517376
weight           1
Name: 2030, dtype: int64)
(2031, group1    18456837
group2     3173762
weight           1
Name: 2031, dtype: int64)
(2032, group1    18456837
group2     1187715
weight           3
Name: 2032, dtype: int64)
(2033, group1    18456837
group2     1240194
weight           1
Name: 2033, dtype: int64)
(2034, group1    18456837
group2      541319
weight           1
Name: 2034, dtype: int64)
(2035, group1    18456837
group2     1776274
weight           1
Name: 2035, dtype: int64)
(2036, group1    18456837
group2    19713173
weight           1
Name: 2036, dtype: int64)
(2037, group1    18456837
group2    18494105
weight           1
Name: 2037, dtype: int64)
(2038, group1    18456837
group2    19218850
weight           1
Name: 2038, dtype: int64)
(2039, group1    18456837
group2    21837219
weight           1
Name: 2039, dtype: int64)
(2040, group1    18456837
group2     7836842
weight           2
Name: 2040, dtype: int64)
(2041, group1    18456837
group2    13532852
weight           1
Name: 2041, dtype: int64)
(2042, group1    18456837
group2    18180033
weight           2
Name: 2042, dtype: int64)
(2043, group1    18456837
group2    16062152
weight           1
Name: 2043, dtype: int64)
(2044, group1    18456837
group2    15297782
weight           1
Name: 2044, dtype: int64)
(2045, group1    18456837
group2    16548342
weight           1
Name: 2045, dtype: int64)
(2046, group1    18456837
group2    19654655
weight           1
Name: 2046, dtype: int64)
(2047, group1    12847372
group2    18495240
weight           4
Name: 2047, dtype: int64)
(2048, group1    12847372
group2    19728145
weight           4
Name: 2048, dtype: int64)
(2049, group1    12847372
group2     1102353
weight           1
Name: 2049, dtype: int64)
(2050, group1    12847372
group2    18955830
weight           2
Name: 2050, dtype: int64)
(2051, group1    12847372
group2     1078077
weight           1
Name: 2051, dtype: int64)
(2052, group1    12847372
group2      528705
weight           1
Name: 2052, dtype: int64)
(2053, group1    12847372
group2      339011
weight           5
Name: 2053, dtype: int64)
(2054, group1    12847372
group2    19049542
weight           1
Name: 2054, dtype: int64)
(2055, group1    12847372
group2     1431882
weight           8
Name: 2055, dtype: int64)
(2056, group1    12847372
group2    20377949
weight           1
Name: 2056, dtype: int64)
(2057, group1    12847372
group2    23053409
weight           1
Name: 2057, dtype: int64)
(2058, group1    12847372
group2    19934054
weight           1
Name: 2058, dtype: int64)
(2059, group1    12847372
group2     6190702
weight           1
Name: 2059, dtype: int64)
(2060, group1    12847372
group2      929402
weight           2
Name: 2060, dtype: int64)
(2061, group1    12847372
group2     1187715
weight           3
Name: 2061, dtype: int64)
(2062, group1    12847372
group2    24803205
weight           1
Name: 2062, dtype: int64)
(2063, group1    12847372
group2    19713173
weight           1
Name: 2063, dtype: int64)
(2064, group1    12847372
group2    19847832
weight           1
Name: 2064, dtype: int64)
(2065, group1    12847372
group2    20186791
weight           1
Name: 2065, dtype: int64)
(2066, group1    12847372
group2    20384452
weight           1
Name: 2066, dtype: int64)
(2067, group1    12847372
group2    16536012
weight           1
Name: 2067, dtype: int64)
(2068, group1    12847372
group2     1349592
weight           2
Name: 2068, dtype: int64)
(2069, group1    12847372
group2     1576921
weight           2
Name: 2069, dtype: int64)
(2070, group1    12847372
group2    20836828
weight           1
Name: 2070, dtype: int64)
(2071, group1    12847372
group2    23515107
weight           1
Name: 2071, dtype: int64)
(2072, group1    12847372
group2    22197221
weight           2
Name: 2072, dtype: int64)
(2073, group1    12847372
group2    18361585
weight           1
Name: 2073, dtype: int64)
(2074, group1    12847372
group2    16548342
weight           1
Name: 2074, dtype: int64)
(2075, group1    18850080
group2      535553
weight          10
Name: 2075, dtype: int64)
(2076, group1    18850080
group2    19194894
weight           2
Name: 2076, dtype: int64)
(2077, group1    18850080

Name: 2184, dtype: int64)
(2185, group1     1169709
group2    19218850
weight           1
Name: 2185, dtype: int64)
(2186, group1     1169709
group2    21837219
weight           1
Name: 2186, dtype: int64)
(2187, group1     1169709
group2    18801828
weight           1
Name: 2187, dtype: int64)
(2188, group1    1169709
group2    7836842
weight          3
Name: 2188, dtype: int64)
(2189, group1    1169709
group2    1324203
weight          1
Name: 2189, dtype: int64)
(2190, group1    1169709
group2    6707902
weight          1
Name: 2190, dtype: int64)
(2191, group1     1169709
group2    21989057
weight           1
Name: 2191, dtype: int64)
(2192, group1     1169709
group2    18977219
weight           1
Name: 2192, dtype: int64)
(2193, group1     1169709
group2    14649032
weight           2
Name: 2193, dtype: int64)
(2194, group1     1169709
group2    16062152
weight           1
Name: 2194, dtype: int64)
(2195, group1    1169709
group2    6284242
weight          1
Name: 2195, dtype: int64)
(2196, group1     1169709
group2    19100119
weight           1
Name: 2196, dtype: int64)
(2197, group1     1169709
group2    18629337
weight           1
Name: 2197, dtype: int64)
(2198, group1     1169709
group2    17872862
weight           1
Name: 2198, dtype: int64)
(2199, group1    1169709
group2    1642477
weight          1
Name: 2199, dtype: int64)
(2200, group1     1169709
group2    18361585
weight           1
Name: 2200, dtype: int64)
(2201, group1     1169709
group2    15297782
weight           1
Name: 2201, dtype: int64)
(2202, group1     1169709
group2    19654655
weight           1
Name: 2202, dtype: int64)
(2203, group1    18729267
group2    11294262
weight           1
Name: 2203, dtype: int64)
(2204, group1     4063542
group2    21715712
weight           3
Name: 2204, dtype: int64)
(2205, group1     4063542
group2    18562307
weight           2
Name: 2205, dtype: int64)
(2206, group1     4063542
group2    22422793
weight           1
Name: 2206, dtype: int64)
(2207, group1     4063542
group2    10426762
weight           4
Name: 2207, dtype: int64)
(2208, group1    4063542
group2    1492619
weight          1
Name: 2208, dtype: int64)
(2209, group1     4063542
group2    19728145
weight           1
Name: 2209, dtype: int64)
(2210, group1     4063542
group2    15770262
weight           1
Name: 2210, dtype: int64)
(2211, group1     4063542
group2    18414491
weight           1
Name: 2211, dtype: int64)
(2212, group1     4063542
group2    23499806
weight           1
Name: 2212, dtype: int64)
(2213, group1     4063542
group2    16954142
weight           1
Name: 2213, dtype: int64)
(2214, group1     4063542
group2    20186791
weight           1
Name: 2214, dtype: int64)
(2215, group1     4063542
group2    18425641
weight           2
Name: 2215, dtype: int64)
(2216, group1    4063542
group2    8908602
weight          2
Name: 2216, dtype: int64)
(2217, group1     4063542
group2    19011903
weight           1
Name: 2217, dtype: int64)
(2218, group1     4063542
group2    19964997
weight           1
Name: 2218, dtype: int64)
(2219, group1    4063542
group2    1751502
weight          3
Name: 2219, dtype: int64)
(2220, group1     4063542
group2    19266390
weight           3
Name: 2220, dtype: int64)
(2221, group1    4063542
group2    1498076
weight          1
Name: 2221, dtype: int64)
(2222, group1    4063542
group2    1622500
weight          1
Name: 2222, dtype: int64)
(2223, group1     4063542
group2    19443174
weight           1
Name: 2223, dtype: int64)
(2224, group1    4063542
group2    6190702
weight          1
Name: 2224, dtype: int64)
(2225, group1     4063542
group2    18529135
weight           1
Name: 2225, dtype: int64)
(2226, group1     4063542
group2    18602480
weight           1
Name: 2226, dtype: int64)
(2227, group1    4063542
group2    1741429
weight          2
Name: 2227, dtype: int64)
(2228, group1     4063542
group2    22993273
weight           1
Name: 2228, dtype: int64)
(2229, group1     4063542
group2    18414590
weight           1
Name: 2229, dtype: int64)
(2230, group1    1526075
group2     535553
weight          1
Name: 2230, dtype: int64)
(2231, group1     1526075
group2    19728145
weight           2
Name: 2231, dtype: int64)
(2232, group1    1526075
group2    1102353
weight          1
Name: 2232, dtype: int64)
(2233, group1     1526075
group2    20402980
weight           1
Name: 2233, dtype: int64)
(2234, group1     1526075
group2    19997487
weight           1
Name: 2234, dtype: int64)
(2235, group1    1526075
group2    1360698
weight          1
Name: 2235, dtype: int64)
(2236, group1     1526075
group2    19266390
weight           1
Name: 2236, dtype: int64)
(2237, group1     1526075
group2    18506072
weight           2
Name: 2237, dtype: int64)
(2238, group1     1526075
group2    23053409
weight           1
Name: 2238, dtype: int64)
(2239, group1     1526075
group2    11625832
weight           2
Name: 2239, dtype: int64)
(2240, group1     1526075
group2    15552112
weight           1
Name: 2240, dtype: int64)
(2241, group1    1526075
group2    1763190
weight          1
Name: 2241, dtype: int64)
(2242, group1    1526075
group2    7130232
weight          1
Name: 2242, dtype: int64)
(2243, group1     1526075
group2    11862932
weight           1
Name: 2243, dtype: int64)
(2244, group1     1526075
group2    21837219
weight           1
Name: 2244, dtype: int64)
(2245, group1     1526075
group2    17467312
weight           1
Name: 2245, dtype: int64)
(2246, group1     1526075
group2    18314164
weight           1
Name: 2246, dtype: int64)
(2247, group1     1526075
group2    18476981
weight           1
Name: 2247, dtype: int64)
(2248, group1     1526075
group2    16447162
weight           2
Name: 2248, dtype: int64)
(2249, group1    1526075
group2    9376702
weight          1
Name: 2249, dtype: int64)
(2250, group1    1526075
group2    6707902
weight          1
Name: 2250, dtype: int64)
(2251, group1     1526075
group2    10178242
weight           1
Name: 2251, dtype: int64)
(2252, group1     1526075
group2    14649032
weight           1
Name: 2252, dtype: int64)
(2253, group1     1526075
group2    25471951
weight           1
Name: 2253, dtype: int64)
(2254, group1    1526075
group2    1349592
weight          6
Name: 2254, dtype: int64)
(2255, group1     1526075
group2    22197221
weight           1
Name: 2255, dtype: int64)
(2256, group1    1526075
group2     526316
weight          1
Name: 2256, dtype: int64)
(2257, group1     1526075
group2    10016242
weight           2
Name: 2257, dtype: int64)
(2258, group1     1526075
group2    14566132
weight           1
Name: 2258, dtype: int64)
(2259, group1    1526075
group2      47094
weight          6
Name: 2259, dtype: int64)
(2260, group1     1526075
group2    15297782
weight           1
Name: 2260, dtype: int64)
(2261, group1    22585660
group2     1492619
weight           1
Name: 2261, dtype: int64)
(2262, group1    22585660
group2    19728145
weight           1
Name: 2262, dtype: int64)
(2263, group1    22585660
group2    24619540
weight           1
Name: 2263, dtype: int64)
(2264, group1    22585660
group2    20336043
weight           1
Name: 2264, dtype: int64)
(2265, group1    22585660
group2    18955830
weight           2
Name: 2265, dtype: int64)
(2266, group1    22585660
group2    24584525
weight           1
Name: 2266, dtype: int64)
(2267, group1    22585660
group2     1371991
weight           1
Name: 2267, dtype: int64)
(2268, group1    22585660
group2    18506072
weight           1
Name: 2268, dtype: int64)
(2269, group1    22585660
group2     1349592
weight           1
Name: 2269, dtype: int64)
(2270, group1    22585660
group2    20377949
weight           1
Name: 2270, dtype: int64)
(2271, group1    22585660
group2      526316
weight           1
Name: 2271, dtype: int64)
(2272, group1    19108156
group2      535553
weight           2
Name: 2272, dtype: int64)
(2273, group1    19108156
group2    19194894
weight           1
Name: 2273, dtype: int64)
(2274, group1    19108156
group2    19262745
weight           1
Name: 2274, dtype: int64)
(2275, group1    19108156
group2    21533726
weight           1
Name: 2275, dtype: int64)
(2276, group1    19108156
group2    16954142
weight           1
Name: 2276, dtype: int64)
(2277, group1    19108156
group2     1728035
weight           2
Name: 2277, dtype: int64)
(2278, group1    19108156
group2    19528743
weight           1
Name: 2278, dtype: int64)
(2279, group1    19108156
group2    19997487
weight           2
Name: 2279, dtype: int64)
(2280, group1    19108156
group2    18471729
weight           1
Name: 2280, dtype: int64)
(2281, group1    19108156
group2    11294262
weight           1
Name: 2281, dtype: int64)
(2282, group1    19108156
group2     7700282
weight           1
Name: 2282, dtype: int64)
(2283, group1    19108156
group2    22023226
weight           1
Name: 2283, dtype: int64)
(2284, group1    19108156
group2    18996036
weight           1
Name: 2284, dtype: int64)
(2285, group1    19108156
group2    16607822
weight           2
Name: 2285, dtype: int64)
(2286, group1    19108156
group2     7151442
weight           1
Name: 2286, dtype: int64)
(2287, group1    19108156
group2    13560402
weight           1
Name: 2287, dtype: int64)
(2288, group1    19108156
group2    19266390
weight           2
Name: 2288, dtype: int64)
(2289, group1    19108156
group2    22021463
weight           1
Name: 2289, dtype: int64)
(2290, group1    19108156
group2    18506072
weight           1
Name: 2290, dtype: int64)
(2291, group1    19108156
group2    18779992
weight           1
Name: 2291, dtype: int64)
(2292, group1    19108156
group2    21957723
weight           1
Name: 2292, dtype: int64)
(2293, group1    19108156
group2    16477792
weight           2
Name: 2293, dtype: int64)
(2294, group1    19108156
group2     5618532
weight           1
Name: 2294, dtype: int64)
(2295, group1    19108156
group2    18529135
weight           1
Name: 2295, dtype: int64)
(2296, group1    19108156
group2     7130232
weight           2
Name: 2296, dtype: int64)
(2297, group1    19108156
group2    16487812
weight           3
Name: 2297, dtype: int64)
(2298, group1    19108156
group2    19033734
weight           1
Name: 2298, dtype: int64)
(2299, group1    19108156
group2    21686664
weight           1
Name: 2299, dtype: int64)
(2300, group1    19108156
group2     1776274
weight           3
Name: 2300, dtype: int64)
(2301, group1    19108156
group2    11862932
weight           1
Name: 2301, dtype: int64)
(2302, group1    19108156
group2    18494105
weight           1
Name: 2302, dtype: int64)
(2303, group1    19108156
group2      252576
weight           1
Name: 2303, dtype: int64)
(2304, group1    19108156
group2    10016162
weight           1
Name: 2304, dtype: int64)
(2305, group1    19108156
group2    18801828
weight           2
Name: 2305, dtype: int64)
(2306, group1    19108156
group2     7836842
weight           2
Name: 2306, dtype: int64)
(2307, group1    19108156
group2     3376042
weight           1
Name: 2307, dtype: int64)
(2308, group1    19108156
group2    17467312
weight           1
Name: 2308, dtype: int64)
(2309, group1    19108156
group2    18589616
weight           2
Name: 2309, dtype: int64)
(2310, group1    19108156
group2      405938
weight           1
Name: 2310, dtype: int64)
(2311, group1    19108156
group2    16447162
weight           1
Name: 2311, dtype: int64)
(2312, group1    19108156
group2     9376702
weight           1
Name: 2312, dtype: int64)
(2313, group1    19108156
group2    21989057
weight           2
Name: 2313, dtype: int64)
(2314, group1    19108156
group2    10178242
weight           2
Name: 2314, dtype: int64)
(2315, group1    19108156
group2    14649032
weight           1
Name: 2315, dtype: int64)
(2316, group1    19108156
group2     2542802
weight           1
Name: 2316, dtype: int64)
(2317, group1    19108156
group2    18616278
weight           2
Name: 2317, dtype: int64)
(2318, group1    19108156
group2     1498076
weight           1
Name: 2318, dtype: int64)
(2319, group1    19108156
group2    18361585
weight           2
Name: 2319, dtype: int64)
(2320, group1    19108156
group2    19094001
weight           1
Name: 2320, dtype: int64)
(2321, group1    19108156
group2    10016242
weight           1
Name: 2321, dtype: int64)
(2322, group1    19108156
group2    15297782
weight           3
Name: 2322, dtype: int64)
(2323, group1    19108156
group2    18556157
weight           1
Name: 2323, dtype: int64)
(2324, group1    19108156
group2    19654655
weight           1
Name: 2324, dtype: int64)
(2325, group1    19011903
group2     1187715
weight           1
Name: 2325, dtype: int64)
(2326, group1    19011903
group2    18562307
weight           1
Name: 2326, dtype: int64)
(2327, group1    19011903
group2    10426762
weight           1
Name: 2327, dtype: int64)
(2328, group1    19011903
group2    19266390
weight           1
Name: 2328, dtype: int64)
(2329, group1    19011903
group2     1371991
weight           1
Name: 2329, dtype: int64)
(2330, group1    19011903
group2    16954142
weight           1
Name: 2330, dtype: int64)
(2331, group1    19011903
group2     1622500
weight           1
Name: 2331, dtype: int64)
(2332, group1    19011903
group2    18425641
weight           1
Name: 2332, dtype: int64)
(2333, group1    19011903
group2    20336043
weight           1
Name: 2333, dtype: int64)
(2334, group1    19011903
group2     1642477
weight           1
Name: 2334, dtype: int64)
(2335, group1    19011903
group2    18955830
weight           1
Name: 2335, dtype: int64)
(2336, group1    19011903
group2    22993273
weight           1
Name: 2336, dtype: int64)
(2337, group1      528705
group2    19728145
weight           1
Name: 2337, dtype: int64)
(2338, group1      528705
group2    18471729
weight           1
Name: 2338, dtype: int64)
(2339, group1      528705
group2    18955830
weight           2
Name: 2339, dtype: int64)
(2340, group1     528705
group2    7700282
weight          1
Name: 2340, dtype: int64)
(2341, group1    528705
group2    339011
weight         1
Name: 2341, dtype: int64)
(2342, group1     528705
group2    1665349
weight          1
Name: 2342, dtype: int64)
(2343, group1      528705
group2    19266390
weight           1
Name: 2343, dtype: int64)
(2344, group1     528705
group2    1371991
weight          1
Name: 2344, dtype: int64)
(2345, group1      528705
group2    18286946
weight           1
Name: 2345, dtype: int64)
(2346, group1     528705
group2    6190702
weight          1
Name: 2346, dtype: int64)
(2347, group1     528705
group2    1473660
weight          1
Name: 2347, dtype: int64)
(2348, group1     528705
group2    1187715
weight          5
Name: 2348, dtype: int64)
(2349, group1      528705
group2    18549379
weight           1
Name: 2349, dtype: int64)
(2350, group1      528705
group2    24803205
weight           1
Name: 2350, dtype: int64)
(2351, group1    528705
group2    541319
weight         1
Name: 2351, dtype: int64)
(2352, group1      528705
group2    10426762
weight           2
Name: 2352, dtype: int64)
(2353, group1      528705
group2    14775182
weight           1
Name: 2353, dtype: int64)
(2354, group1      528705
group2    23674770
weight           1
Name: 2354, dtype: int64)
(2355, group1      528705
group2    11131552
weight           1
Name: 2355, dtype: int64)
(2356, group1    528705
group2    252576
weight         1
Name: 2356, dtype: int64)
(2357, group1      528705
group2    20186791
weight           1
Name: 2357, dtype: int64)
(2358, group1     528705
group2    5882552
weight          1
Name: 2358, dtype: int64)
(2359, group1      528705
group2    18549438
weight           1
Name: 2359, dtype: int64)
(2360, group1     528705
group2    1751502
weight          2
Name: 2360, dtype: int64)
(2361, group1     528705
group2    4705492
weight          1
Name: 2361, dtype: int64)
(2362, group1     528705
group2    1349592
weight          1
Name: 2362, dtype: int64)
(2363, group1      528705
group2    22197221
weight           1
Name: 2363, dtype: int64)
(2364, group1     528705
group2    1642477
weight          1
Name: 2364, dtype: int64)
(2365, group1      528705
group2    16548342
weight           1
Name: 2365, dtype: int64)
(2366, group1      528705
group2    18414590
weight           1
Name: 2366, dtype: int64)
(2367, group1    1354051
group2    1240194
weight          1
Name: 2367, dtype: int64)
(2368, group1    1354051
group2    1187715
weight          1
Name: 2368, dtype: int64)
(2369, group1     1354051
group2    16487812
weight           1
Name: 2369, dtype: int64)
(2370, group1     1354051
group2    18672773
weight           1
Name: 2370, dtype: int64)
(2371, group1    1354051
group2    6335372
weight          1
Name: 2371, dtype: int64)
(2372, group1     1354051
group2    14396812
weight           1
Name: 2372, dtype: int64)
(2373, group1     1354051
group2    19728145
weight           1
Name: 2373, dtype: int64)
(2374, group1     1354051
group2    19713173
weight           1
Name: 2374, dtype: int64)
(2375, group1    1354051
group2    1728035
weight          1
Name: 2375, dtype: int64)
(2376, group1    1354051
group2    2520612
weight          1
Name: 2376, dtype: int64)
(2377, group1     1354051
group2    23112117
weight           1
Name: 2377, dtype: int64)
(2378, group1     1354051
group2    18955830
weight           1
Name: 2378, dtype: int64)
(2379, group1     1354051
group2    20181560
weight           1
Name: 2379, dtype: int64)
(2380, group1    1354051
group2    8540732
weight          1
Name: 2380, dtype: int64)
(2381, group1    1354051
group2    1078077
weight          1
Name: 2381, dtype: int64)
(2382, group1    1354051
group2    1578685
weight          1
Name: 2382, dtype: int64)
(2383, group1    1354051
group2    1457232
weight          1
Name: 2383, dtype: int64)
(2384, group1     1354051
group2    18629337
weight           1
Name: 2384, dtype: int64)
(2385, group1     1354051
group2    19030621
weight           1
Name: 2385, dtype: int64)
(2386, group1     1354051
group2    20348898
weight           1
Name: 2386, dtype: int64)
(2387, group1     1354051
group2    15552112
weight           1
Name: 2387, dtype: int64)
(2388, group1     1354051
group2    18361585
weight           1
Name: 2388, dtype: int64)
(2389, group1    1354051
group2     929402
weight          1
Name: 2389, dtype: int64)
(2390, group1    1665349
group2    1187715
weight          2
Name: 2390, dtype: int64)
(2391, group1     1665349
group2    19728145
weight           1
Name: 2391, dtype: int64)
(2392, group1     1665349
group2    24316830
weight           1
Name: 2392, dtype: int64)
(2393, group1    1665349
group2    1451826
weight          2
Name: 2393, dtype: int64)
(2394, group1     1665349
group2    18955830
weight           2
Name: 2394, dtype: int64)
(2395, group1     1665349
group2    24584525
weight           1
Name: 2395, dtype: int64)
(2396, group1    1665349
group2    6284242
weight          1
Name: 2396, dtype: int64)
(2397, group1    1665349
group2    4705492
weight          1
Name: 2397, dtype: int64)
(2398, group1    1665349
group2    1371991
weight          2
Name: 2398, dtype: int64)
(2399, group1     1665349
group2    20129636
weight           1
Name: 2399, dtype: int64)
(2400, group1    1665349
group2    1642477
weight          2
Name: 2400, dtype: int64)
(2401, group1    1665349
group2     929402
weight          1
Name: 2401, dtype: int64)
(2402, group1    1665349
group2    1473660
weight          1
Name: 2402, dtype: int64)
(2403, group1     1665349
group2    18414590
weight           1
Name: 2403, dtype: int64)
(2404, group1    11626822
group2      541319
weight           1
Name: 2404, dtype: int64)
(2405, group1    11626822
group2     1776274
weight           2
Name: 2405, dtype: int64)
(2406, group1    11626822
group2     1787157
weight           1
Name: 2406, dtype: int64)
(2407, group1    11626822
group2    19416348
weight           1
Name: 2407, dtype: int64)
(2408, group1    11626822
group2     1743773
weight           1

Name: 2774, dtype: int64)
(2775, group1    21686664
group2    16477792
weight           1
Name: 2775, dtype: int64)
(2776, group1    21686664
group2    18361585
weight           1
Name: 2776, dtype: int64)
(2777, group1    21686664
group2    15297782
weight           1
Name: 2777, dtype: int64)
(2778, group1    21686664
group2     7130232
weight           1
Name: 2778, dtype: int64)
(2779, group1    21686664
group2    19654655
weight           1
Name: 2779, dtype: int64)
(2780, group1    20586888
group2     6230672
weight           1
Name: 2780, dtype: int64)
(2781, group1    20586888
group2    18571126
weight           1
Name: 2781, dtype: int64)
(2782, group1    20586888
group2    19266390
weight           1
Name: 2782, dtype: int64)
(2783, group1    20586888
group2    19416348
weight           1
Name: 2783, dtype: int64)
(2784, group1    10426762
group2    21715712
weight           2
Name: 2784, dtype: int64)
(2785, group1    10426762
group2    18562307
weight           1
Name: 2785, dtype: int64)
(2786, group1    10426762
group2    19728145
weight           2
Name: 2786, dtype: int64)
(2787, group1    10426762
group2    19416348
weight           1
Name: 2787, dtype: int64)
(2788, group1    10426762
group2    16954142
weight           1
Name: 2788, dtype: int64)
(2789, group1    10426762
group2    18425641
weight           2
Name: 2789, dtype: int64)
(2790, group1    10426762
group2    18642226
weight           1
Name: 2790, dtype: int64)
(2791, group1    10426762
group2    18955830
weight           7
Name: 2791, dtype: int64)
(2792, group1    10426762
group2      339011
weight           1
Name: 2792, dtype: int64)
(2793, group1    10426762
group2    14380872
weight           1
Name: 2793, dtype: int64)
(2794, group1    10426762
group2    19266390
weight           2
Name: 2794, dtype: int64)
(2795, group1    10426762
group2      255854
weight           1
Name: 2795, dtype: int64)
(2796, group1    10426762
group2     1187715
weight           1
Name: 2796, dtype: int64)
(2797, group1    10426762
group2     1492619
weight           5
Name: 2797, dtype: int64)
(2798, group1    10426762
group2     1776274
weight           1
Name: 2798, dtype: int64)
(2799, group1    10426762
group2      252576
weight           2
Name: 2799, dtype: int64)
(2800, group1    10426762
group2    21338021
weight           1
Name: 2800, dtype: int64)
(2801, group1    10426762
group2    20583850
weight           1
Name: 2801, dtype: int64)
(2802, group1    10426762
group2    23723436
weight           2
Name: 2802, dtype: int64)
(2803, group1    10426762
group2     1029550
weight           1
Name: 2803, dtype: int64)
(2804, group1    10426762
group2    23595967
weight           1
Name: 2804, dtype: int64)
(2805, group1    10426762
group2    18660552
weight           1
Name: 2805, dtype: int64)
(2806, group1    10426762
group2     1751502
weight           6
Name: 2806, dtype: int64)
(2807, group1    10426762
group2    18944977
weight           1
Name: 2807, dtype: int64)
(2808, group1    10426762
group2     4705492
weight           3
Name: 2808, dtype: int64)
(2809, group1    10426762
group2     1576921
weight           1
Name: 2809, dtype: int64)
(2810, group1    10426762
group2     1498076
weight           1
Name: 2810, dtype: int64)
(2811, group1    10426762
group2     1622500
weight           1
Name: 2811, dtype: int64)
(2812, group1    10426762
group2    19443174
weight           2
Name: 2812, dtype: int64)
(2813, group1    10426762
group2      526316
weight           1
Name: 2813, dtype: int64)
(2814, group1    10426762
group2    19094001
weight           1
Name: 2814, dtype: int64)
(2815, group1    10426762
group2    18256892
weight           3
Name: 2815, dtype: int64)
(2816, group1    10426762
group2    18556157
weight           1
Name: 2816, dtype: int64)
(2817, group1    10426762
group2    18414590
weight           7
Name: 2817, dtype: int64)
(2818, group1    1665418
group2    1187715
weight          2
Name: 2818, dtype: int64)
(2819, group1     1665418
group2    19728145
weight           5
Name: 2819, dtype: int64)
(2820, group1     1665418
group2    19847832
weight           1
Name: 2820, dtype: int64)
(2821, group1    1665418
group2     252576
weight          1
Name: 2821, dtype: int64)
(2822, group1     1665418
group2    20186791
weight           2
Name: 2822, dtype: int64)
(2823, group1     1665418
group2    20336043
weight           1
Name: 2823, dtype: int64)
(2824, group1     1665418
group2    18955830
weight           1
Name: 2824, dtype: int64)
(2825, group1    1665418
group2    1772099
weight          1
Name: 2825, dtype: int64)
(2826, group1     1665418
group2    19964997
weight           1
Name: 2826, dtype: int64)
(2827, group1     1665418
group2    19049542
weight           1
Name: 2827, dtype: int64)
(2828, group1    1665418
group2    4705492
weight          2
Name: 2828, dtype: int64)
(2829, group1    1665418
group2     526316
weight          3
Name: 2829, dtype: int64)
(2830, group1    1665418
group2    1642477
weight          1
Name: 2830, dtype: int64)
(2831, group1    1665418
group2      47094
weight          1
Name: 2831, dtype: int64)
(2832, group1    19249559
group2    18562307
weight           1
Name: 2832, dtype: int64)
(2833, group1    19249559
group2     1102353
weight           3
Name: 2833, dtype: int64)
(2834, group1    19249559
group2    19728145
weight           1
Name: 2834, dtype: int64)
(2835, group1    19249559
group2      191516
weight           1
Name: 2835, dtype: int64)
(2836, group1    19249559
group2     2520612
weight           1
Name: 2836, dtype: int64)
(2837, group1    19249559
group2     6641192
weight           1
Name: 2837, dtype: int64)
(2838, group1    19249559
group2    18955830
weight           1
Name: 2838, dtype: int64)
(2839, group1    19249559
group2    20181560
weight           2
Name: 2839, dtype: int64)
(2840, group1    19249559
group2     8908602
weight           1
Name: 2840, dtype: int64)
(2841, group1    19249559
group2      339011
weight           1
Name: 2841, dtype: int64)
(2842, group1    19249559
group2    19934054
weight           1
Name: 2842, dtype: int64)
(2843, group1    19249559
group2    11625832
weight           4
Name: 2843, dtype: int64)
(2844, group1    19249559
group2     6190702
weight           1
Name: 2844, dtype: int64)
(2845, group1    19249559
group2    18529135
weight           1
Name: 2845, dtype: int64)
(2846, group1    19249559
group2     1763190
weight           1
Name: 2846, dtype: int64)
(2847, group1    19249559
group2     7130232
weight           1
Name: 2847, dtype: int64)
(2848, group1    19249559
group2      929402
weight           2
Name: 2848, dtype: int64)
(2849, group1    19249559
group2     1473660
weight           1
Name: 2849, dtype: int64)
(2850, group1    19249559
group2     1240194
weight           9
Name: 2850, dtype: int64)
(2851, group1    19249559
group2    16487812
weight           1
Name: 2851, dtype: int64)
(2852, group1    19249559
group2     6335372
weight           1
Name: 2852, dtype: int64)
(2853, group1    19249559
group2     1776274
weight           1
Name: 2853, dtype: int64)
(2854, group1    19249559
group2    19713173
weight           2
Name: 2854, dtype: int64)
(2855, group1    19249559
group2    20421535
weight           1
Name: 2855, dtype: int64)
(2856, group1    19249559
group2    21837219
weight           2
Name: 2856, dtype: int64)
(2857, group1    19249559
group2     7836842
weight           1
Name: 2857, dtype: int64)
(2858, group1    19249559
group2    17467312
weight           1
Name: 2858, dtype: int64)
(2859, group1    19249559
group2      405938
weight           1
Name: 2859, dtype: int64)
(2860, group1    19249559
group2    18314164
weight           1
Name: 2860, dtype: int64)
(2861, group1    19249559
group2     6707902
weight           2
Name: 2861, dtype: int64)
(2862, group1    19249559
group2    21989057
weight           1
Name: 2862, dtype: int64)
(2863, group1    19249559
group2    10178242
weight           1
Name: 2863, dtype: int64)
(2864, group1    19249559
group2    20384452
weight           1
Name: 2864, dtype: int64)
(2865, group1    19249559
group2    16062152
weight           1
Name: 2865, dtype: int64)
(2866, group1    19249559
group2    18616278
weight           2
Name: 2866, dtype: int64)
(2867, group1    19249559
group2    17872862
weight           1
Name: 2867, dtype: int64)
(2868, group1    19249559
group2    22197221
weight           2
Name: 2868, dtype: int64)
(2869, group1    19249559
group2    22422502
weight           1
Name: 2869, dtype: int64)
(2870, group1    19249559
group2    22736876
weight           1
Name: 2870, dtype: int64)
(2871, group1    19249559
group2      526316
weight           2
Name: 2871, dtype: int64)
(2872, group1    19249559
group2    19828207
weight           1
Name: 2872, dtype: int64)
(2873, group1    19249559
group2    18361585
weight           1
Name: 2873, dtype: int64)
(2874, group1    19249559
group2    10016242
weight           2
Name: 2874, dtype: int64)
(2875, group1    19249559
group2    16548342
weight           1
Name: 2875, dtype: int64)
(2876, group1    19249559
group2    11776502
weight           1
Name: 2876, dtype: int64)
(2877, group1    19249559
group2    19654655
weight           1
Name: 2877, dtype: int64)
(2878, group1    20269464
group2      339011
weight           1
Name: 2878, dtype: int64)
(2879, group1    20269464
group2    18556100
weight           1
Name: 2879, dtype: int64)
(2880, group1    20269464
group2    22197221
weight           1
Name: 2880, dtype: int64)
(2881, group1    20269464
group2    19828207
weight           1
Name: 2881, dtype: int64)
(2882, group1    20269464
group2     2542802
weight           1
Name: 2882, dtype: int64)
(2883, group1    22485402
group2    15770262
weight           1
Name: 2883, dtype: int64)
(2884, group1    22485402
group2      929402
weight           1
Name: 2884, dtype: int64)
(2885, group1    19218850
group2      535553
weight           1
Name: 2885, dtype: int64)
(2886, group1    19218850
group2     1102353
weight           2
Name: 2886, dtype: int64)
(2887, group1    19218850
group2     6641192
weight           1
Name: 2887, dtype: int64)
(2888, group1    19218850
group2    22817838
weight           1
Name: 2888, dtype: int64)
(2889, group1    19218850
group2    18855476
weight           1
Name: 2889, dtype: int64)
(2890, group1    19218850
group2      339011
weight           1
Name: 2890, dtype: int64)
(2891, group1    19218850
group2    16607822
weight           1
Name: 2891, dtype: int64)
(2892, group1    19218850
group2    13560402
weight          18
Name: 2892, dtype: int64)
(2893, group1    19218850
group2    16477792
weight           4
Name: 2893, dtype: int64)
(2894, group1    19218850
group2     6190702
weight           1
Name: 2894, dtype: int64)
(2895, group1    19218850
group2     1741429
weight           1
Name: 2895, dtype: int64)
(2896, group1    19218850
group2     7130232
weight           3
Name: 2896, dtype: int64)
(2897, group1    19218850
group2    23398017
weight           1
Name: 2897, dtype: int64)
(2898, group1    19218850
group2     7138452
weight           3
Name: 2898, dtype: int64)
(2899, group1    19218850
group2    19713173
weight           1
Name: 2899, dtype: int64)
(2900, group1    19218850
group2    18494105
weight           5
Name: 2900, dtype: int64)
(2901, group1    19218850
group2    20493986
weight           4
Name: 2901, dtype: int64)
(2902, group1    19218850
group2    18801828
weight           1
Name: 2902, dtype: int64)
(2903, group1    19218850
group2     7836842
weight           4
Name: 2903, dtype: int64)
(2904, group1    19218850
group2     6707902
weight          25
Name: 2904, dtype: int64)
(2905, group1    19218850
group2    10178242
weight           4
Name: 2905, dtype: int64)
(2906, group1    19218850
group2    14546632
weight           5
Name: 2906, dtype: int64)
(2907, group1    19218850
group2    16062152
weight           2
Name: 2907, dtype: int64)
(2908, group1    19218850
group2    14649032
weight           1
Name: 2908, dtype: int64)
(2909, group1    19218850
group2    15297782
weight           6
Name: 2909, dtype: int64)
(2910, group1    19218850
group2    12588802
weight           1
Name: 2910, dtype: int64)
(2911, group1    19218850
group2    18425641
weight           1
Name: 2911, dtype: int64)
(2912, group1    19218850
group2    19997487
weight           1
Name: 2912, dtype: int64)
(2913, group1    19218850
group2     1697586
weight           1
Name: 2913, dtype: int64)
(2914, group1    19218850
group2     1360698
weight           2
Name: 2914, dtype: int64)
(2915, group1    19218850
group2     7151442
weight           1
Name: 2915, dtype: int64)
(2916, group1    19218850
group2    19266390
weight           1
Name: 2916, dtype: int64)
(2917, group1    19218850
group2    18779992
weight           1
Name: 2917, dtype: int64)
(2918, group1    19218850
group2     5618532
weight           3
Name: 2918, dtype: int64)
(2919, group1    19218850
group2    11625832
weight          10
Name: 2919, dtype: int64)
(2920, group1    19218850
group2    18517376
weight           1
Name: 2920, dtype: int64)
(2921, group1    19218850
group2     3173762
weight           1
Name: 2921, dtype: int64)
(2922, group1    19218850
group2     1187715
weight           1
Name: 2922, dtype: int64)
(2923, group1    19218850
group2    16487812
weight           2
Name: 2923, dtype: int64)
(2924, group1    19218850
group2     6335372
weight           1
Name: 2924, dtype: int64)
(2925, group1    19218850
group2    19822479
weight           1
Name: 2925, dtype: int64)
(2926, group1    19218850
group2    11862932
weight           1
Name: 2926, dtype: int64)
(2927, group1    19218850
group2    21837219
weight           3
Name: 2927, dtype: int64)
(2928, group1    19218850
group2    18589616
weight           5
Name: 2928, dtype: int64)
(2929, group1    19218850
group2    17467312
weight           2
Name: 2929, dtype: int64)
(2930, group1    19218850
group2    18314164
weight           7
Name: 2930, dtype: int64)
(2931, group1    19218850
group2     9376702
weight           1
Name: 2931, dtype: int64)
(2932, group1    19218850
group2    18953664
weight           1
Name: 2932, dtype: int64)
(2933, group1    19218850
group2    18616278
weight           2
Name: 2933, dtype: int64)
(2934, group1    19218850
group2    23515107
weight           1
Name: 2934, dtype: int64)
(2935, group1    19218850
group2    22197221
weight           1
Name: 2935, dtype: int64)
(2936, group1    19218850
group2    10016242
weight           4
Name: 2936, dtype: int64)
(2937, group1    19218850
group2    18414590
weight           1
Name: 2937, dtype: int64)
(2938, group1    19218850
group2    19654655
weight           2
Name: 2938, dtype: int64)
(2939, group1    18626981
group2    18517376
weight           1
Name: 2939, dtype: int64)
(2940, group1    18626981
group2      339011
weight           1
Name: 2940, dtype: int64)
(2941, group1    18626981
group2    17487002
weight           1
Name: 2941, dtype: int64)
(2942, group1    18626981
group2      929402
weight           1
Name: 2942, dtype: int64)
(2943, group1    25694632
group2    14380872
weight           1
Name: 2943, dtype: int64)
(2944, group1    25694632
group2    19266390
weight           1
Name: 2944, dtype: int64)
(2945, group1    25694632
group2    19416348
weight           1
Name: 2945, dtype: int64)
(2946, group1    25694632
group2    20807142
weight           1
Name: 2946, dtype: int64)
(2947, group1    18764206
group2    19728145
weight           1
Name: 2947, dtype: int64)
(2948, group1    18764206
group2    19687074
weight           1
Name: 2948, dtype: int64)
(2949, group1    18764206
group2     6284242
weight           1
Name: 2949, dtype: int64)
(2950, group1    405938
group2    535553
weight         2
Name: 2950, dtype: int64)
(2951, group1      405938
group2    12588802
weight           1
Name: 2951, dtype: int64)
(2952, group1      405938
group2    19262745
weight           1
Name: 2952, dtype: int64)
(2953, group1      405938
group2    21533726
weight           1
Name: 2953, dtype: int64)
(2954, group1     405938
group2    1728035
weight          1
Name: 2954, dtype: int64)
(2955, group1     405938
group2    1360698
weight          1
Name: 2955, dtype: int64)
(2956, group1      405938
group2    16607822
weight           3
Name: 2956, dtype: int64)
(2957, group1      405938
group2    23353167
weight           1
Name: 2957, dtype: int64)
(2958, group1      405938
group2    13560402
weight           1
Name: 2958, dtype: int64)
(2959, group1     405938
group2    7151442
weight          1
Name: 2959, dtype: int64)
(2960, group1      405938
group2    16477792
weight           2
Name: 2960, dtype: int64)
(2961, group1      405938
group2    11625832
weight           3
Name: 2961, dtype: int64)
(2962, group1      405938
group2    15552112
weight           1
Name: 2962, dtype: int64)
(2963, group1     405938
group2    7130232
weight          2
Name: 2963, dtype: int64)
(2964, group1    405938
group2    929402
weight         1
Name: 2964, dtype: int64)
(2965, group1      405938
group2    23398017
weight           1
Name: 2965, dtype: int64)
(2966, group1      405938
group2    24906881
weight           1
Name: 2966, dtype: int64)
(2967, group1     405938
group2    1187715
weight          2
Name: 2967, dtype: int64)
(2968, group1      405938
group2    16487812
weight           5
Name: 2968, dtype: int64)
(2969, group1     405938
group2    3173762
weight          1
Name: 2969, dtype: int64)
(2970, group1     405938
group2    1240194
weight          1
Name: 2970, dtype: int64)
(2971, group1      405938
group2    11862932
weight           5
Name: 2971, dtype: int64)
(2972, group1      405938
group2    18494105
weight           1
Name: 2972, dtype: int64)
(2973, group1     405938
group2    7836842
weight          2
Name: 2973, dtype: int64)
(2974, group1      405938
group2    17467312
weight          15
Name: 2974, dtype: int64)
(2975, group1      405938
group2    18589616
weight           1
Name: 2975, dtype: int64)
(2976, group1      405938
group2    16447162
weight           1
Name: 2976, dtype: int64)
(2977, group1     405938
group2    6707902
weight          2
Name: 2977, dtype: int64)
(2978, group1     405938
group2    9376702
weight          3
Name: 2978, dtype: int64)
(2979, group1      405938
group2    10178242
weight           3
Name: 2979, dtype: int64)
(2980, group1      405938
group2    14546632
weight           2
Name: 2980, dtype: int64)
(2981, group1      405938
group2    14649032
weight           1
Name: 2981, dtype: int64)
(2982, group1     405938
group2    6284242
weight          1
Name: 2982, dtype: int64)
(2983, group1      405938
group2    18616278
weight           1
Name: 2983, dtype: int64)
(2984, group1      405938
group2    17872862
weight           1
Name: 2984, dtype: int64)
(2985, group1      405938
group2    18361585
weight           7
Name: 2985, dtype: int64)
(2986, group1      405938
group2    10016242
weight           1
Name: 2986, dtype: int64)
(2987, group1      405938
group2    15297782
weight           2
Name: 2987, dtype: int64)
(2988, group1      405938
group2    18556157
weight           1
Name: 2988, dtype: int64)
(2989, group1      405938
group2    19654655
weight           1
Name: 2989, dtype: int64)
(2990, group1    23112117
group2    23040833
weight           1
Name: 2990, dtype: int64)
(2991, group1    23112117
group2    18672773
weight           1
Name: 2991, dtype: int64)
(2992, group1    23112117
group2    14396812
weight           2
Name: 2992, dtype: int64)
(2993, group1    23112117
group2    20348898
weight           1
Name: 2993, dtype: int64)
(2994, group1    23112117
group2    15552112
weight           1
Name: 2994, dtype: int64)
(2995, group1    23112117
group2     8540732
weight           1
Name: 2995, dtype: int64)
(2996, group1    23112117
group2     1578685
weight           1
Name: 2996, dtype: int64)
(2997, group1     9710012
group2    18425641

Name: 3112, dtype: int64)
(3113, group1    1622500
group2     929402
weight          1
Name: 3113, dtype: int64)
(3114, group1    1622500
group2    1187715
weight          1
Name: 3114, dtype: int64)
(3115, group1     1622500
group2    24803205
weight           1
Name: 3115, dtype: int64)
(3116, group1    1622500
group2    1776274
weight          1
Name: 3116, dtype: int64)
(3117, group1     1622500
group2    19713173
weight           1
Name: 3117, dtype: int64)
(3118, group1    1622500
group2    3376042
weight          1
Name: 3118, dtype: int64)
(3119, group1     1622500
group2    20336043
weight           1
Name: 3119, dtype: int64)
(3120, group1    1622500
group2    4705492
weight          2
Name: 3120, dtype: int64)
(3121, group1     1622500
group2    18616278
weight           1
Name: 3121, dtype: int64)
(3122, group1    1622500
group2    1349592
weight          1
Name: 3122, dtype: int64)
(3123, group1    1622500
group2    1498076
weight          1
Name: 3123, dtype: int64)
(3124, group1     1622500
group2    22736876
weight           1
Name: 3124, dtype: int64)
(3125, group1     1622500
group2    18414590
weight           2
Name: 3125, dtype: int64)
(3126, group1    25448937
group2      339011
weight           1
Name: 3126, dtype: int64)
(3127, group1    25448937
group2     2520612
weight           1
Name: 3127, dtype: int64)
(3128, group1    24125934
group2    18616278
weight           1
Name: 3128, dtype: int64)
(3129, group1    24125934
group2    18494105
weight           1
Name: 3129, dtype: int64)
(3130, group1    24125934
group2    22817838
weight           3
Name: 3130, dtype: int64)
(3131, group1    24125934
group2    10016242
weight           1
Name: 3131, dtype: int64)
(3132, group1    24125934
group2     7130232
weight           1
Name: 3132, dtype: int64)
(3133, group1    24125934
group2     1360698
weight           1
Name: 3133, dtype: int64)
(3134, group1    18602480
group2    18517376
weight           1
Name: 3134, dtype: int64)
(3135, group1    18602480
group2      339011
weight           1
Name: 3135, dtype: int64)
(3136, group1    18602480
group2    19728145
weight           2
Name: 3136, dtype: int64)
(3137, group1    18602480
group2     6284242
weight           1
Name: 3137, dtype: int64)
(3138, group1    18602480
group2    15770262
weight           1
Name: 3138, dtype: int64)
(3139, group1    18602480
group2     6190702
weight           1
Name: 3139, dtype: int64)
(3140, group1    18602480
group2     1078077
weight           1
Name: 3140, dtype: int64)
(3141, group1    19094001
group2    19194894
weight           1
Name: 3141, dtype: int64)
(3142, group1    19094001
group2    19728145
weight           2
Name: 3142, dtype: int64)
(3143, group1    19094001
group2    18798102
weight           1
Name: 3143, dtype: int64)
(3144, group1    19094001
group2    19416348
weight           2
Name: 3144, dtype: int64)
(3145, group1    19094001
group2    16954142
weight           5
Name: 3145, dtype: int64)
(3146, group1    19094001
group2     2556962
weight           1
Name: 3146, dtype: int64)
(3147, group1    19094001
group2     1728035
weight           1
Name: 3147, dtype: int64)
(3148, group1    19094001
group2     6641192
weight           1
Name: 3148, dtype: int64)
(3149, group1    19094001
group2    18425641
weight           2
Name: 3149, dtype: int64)
(3150, group1    19094001
group2    19997487
weight           1
Name: 3150, dtype: int64)
(3151, group1    19094001
group2     1697586
weight           1
Name: 3151, dtype: int64)
(3152, group1    19094001
group2    11294262
weight           2
Name: 3152, dtype: int64)
(3153, group1    19094001
group2    18955830
weight           1
Name: 3153, dtype: int64)
(3154, group1    19094001
group2    22023226
weight           1
Name: 3154, dtype: int64)
(3155, group1    19094001
group2     7700282
weight           1
Name: 3155, dtype: int64)
(3156, group1    19094001
group2     8908602
weight           2
Name: 3156, dtype: int64)
(3157, group1    19094001
group2      339011
weight           1
Name: 3157, dtype: int64)
(3158, group1    19094001
group2    18996036
weight           1
Name: 3158, dtype: int64)
(3159, group1    19094001
group2    19964997
weight           5
Name: 3159, dtype: int64)
(3160, group1    19094001
group2    13560402
weight           1
Name: 3160, dtype: int64)
(3161, group1    19094001
group2    19266390
weight           6
Name: 3161, dtype: int64)
(3162, group1    19094001
group2    22021463
weight           1
Name: 3162, dtype: int64)
(3163, group1    19094001
group2      255854
weight           1
Name: 3163, dtype: int64)
(3164, group1    19094001
group2    18529135
weight           3
Name: 3164, dtype: int64)
(3165, group1    19094001
group2     1741429
weight           2
Name: 3165, dtype: int64)
(3166, group1    19094001
group2     7130232
weight           1
Name: 3166, dtype: int64)
(3167, group1    19094001
group2    16487812
weight           1
Name: 3167, dtype: int64)
(3168, group1    19094001
group2    19033734
weight           1
Name: 3168, dtype: int64)
(3169, group1    19094001
group2      541319
weight           1
Name: 3169, dtype: int64)
(3170, group1    19094001
group2     1492619
weight           1
Name: 3170, dtype: int64)
(3171, group1    19094001
group2    19822479
weight           1
Name: 3171, dtype: int64)
(3172, group1    19094001
group2     1776274
weight           3
Name: 3172, dtype: int64)
(3173, group1    19094001
group2    18494105
weight           1
Name: 3173, dtype: int64)
(3174, group1    19094001
group2    18801828
weight           3
Name: 3174, dtype: int64)
(3175, group1    19094001
group2    21338021
weight           1
Name: 3175, dtype: int64)
(3176, group1    19094001
group2     3376042
weight           4
Name: 3176, dtype: int64)
(3177, group1    19094001
group2    20583850
weight           2
Name: 3177, dtype: int64)
(3178, group1    19094001
group2     1324203
weight           2
Name: 3178, dtype: int64)
(3179, group1    19094001
group2    18314164
weight           1
Name: 3179, dtype: int64)
(3180, group1    19094001
group2    21989057
weight           1
Name: 3180, dtype: int64)
(3181, group1    19094001
group2    16062152
weight           2
Name: 3181, dtype: int64)
(3182, group1    19094001
group2    22985677
weight           1
Name: 3182, dtype: int64)
(3183, group1    19094001
group2    18944977
weight           1
Name: 3183, dtype: int64)
(3184, group1    19094001
group2     4705492
weight           3
Name: 3184, dtype: int64)
(3185, group1    19094001
group2    18616278
weight           1
Name: 3185, dtype: int64)
(3186, group1    19094001
group2      204767
weight           1
Name: 3186, dtype: int64)
(3187, group1    19094001
group2    22736876
weight           2
Name: 3187, dtype: int64)
(3188, group1    19094001
group2    11776502
weight           1
Name: 3188, dtype: int64)
(3189, group1    19094001
group2    18256892
weight           1
Name: 3189, dtype: int64)
(3190, group1    19094001
group2    18556157
weight           1
Name: 3190, dtype: int64)
(3191, group1    19094001
group2    18414590
weight           1
Name: 3191, dtype: int64)
(3192, group1    11776502
group2    19728145
weight           1
Name: 3192, dtype: int64)
(3193, group1    11776502
group2    19348756
weight           1
Name: 3193, dtype: int64)
(3194, group1    11776502
group2    18798102
weight           3
Name: 3194, dtype: int64)
(3195, group1    11776502
group2      191516
weight           2
Name: 3195, dtype: int64)
(3196, group1    11776502
group2      788001
weight          11
Name: 3196, dtype: int64)
(3197, group1    11776502
group2     6641192
weight           2
Name: 3197, dtype: int64)
(3198, group1    11776502
group2     1451826
weight           1
Name: 3198, dtype: int64)
(3199, group1    11776502
group2    18955830
weight           1
Name: 3199, dtype: int64)
(3200, group1    11776502
group2     1457232
weight           1
Name: 3200, dtype: int64)
(3201, group1    11776502
group2    19064659
weight           1
Name: 3201, dtype: int64)
(3202, group1    11776502
group2    19266390
weight           1
Name: 3202, dtype: int64)
(3203, group1    11776502
group2    19030621
weight           1
Name: 3203, dtype: int64)
(3204, group1    11776502
group2     6190702
weight           1
Name: 3204, dtype: int64)
(3205, group1    11776502
group2    18529135
weight           1
Name: 3205, dtype: int64)
(3206, group1    11776502
group2      710272
weight           4
Name: 3206, dtype: int64)
(3207, group1    11776502
group2     1187715
weight           1
Name: 3207, dtype: int64)
(3208, group1    11776502
group2     6335372
weight           1
Name: 3208, dtype: int64)
(3209, group1    11776502
group2    18256892
weight           2
Name: 3209, dtype: int64)
(3210, group1    11776502
group2    18494105
weight           1
Name: 3210, dtype: int64)
(3211, group1    11776502
group2    17487002
weight           9
Name: 3211, dtype: int64)
(3212, group1    11776502
group2    21338021
weight           1
Name: 3212, dtype: int64)
(3213, group1    11776502
group2     1324203
weight          10
Name: 3213, dtype: int64)
(3214, group1    11776502
group2    16062152
weight           1
Name: 3214, dtype: int64)
(3215, group1    11776502
group2     7699922
weight           1
Name: 3215, dtype: int64)
(3216, group1    11776502
group2     6284242
weight           1
Name: 3216, dtype: int64)
(3217, group1    11776502
group2    22422502
weight           1
Name: 3217, dtype: int64)
(3218, group1    11776502
group2     2496252
weight           1
Name: 3218, dtype: int64)
(3219, group1    16548342
group2    19194894
weight           1
Name: 3219, dtype: int64)
(3220, group1    16548342
group2    11294262
weight           1
Name: 3220, dtype: int64)
(3221, group1    16548342
group2      339011
weight           1
Name: 3221, dtype: int64)
(3222, group1    16548342
group2    13560402
weight           1
Name: 3222, dtype: int64)
(3223, group1    16548342
group2    11625832
weight           1
Name: 3223, dtype: int64)
(3224, group1    16548342
group2     1741429
weight           1
Name: 3224, dtype: int64)
(3225, group1    16548342
group2     7130232
weight           1
Name: 3225, dtype: int64)
(3226, group1    16548342
group2     1187715
weight           1
Name: 3226, dtype: int64)
(3227, group1    16548342
group2    16487812
weight           1
Name: 3227, dtype: int64)
(3228, group1    16548342
group2     1776274
weight           1
Name: 3228, dtype: int64)
(3229, group1    16548342
group2    21837219
weight           1
Name: 3229, dtype: int64)
(3230, group1    16548342
group2    18314164
weight           1
Name: 3230, dtype: int64)
(3231, group1    16548342
group2     6707902
weight           1
Name: 3231, dtype: int64)
(3232, group1    16548342
group2    10178242
weight           1
Name: 3232, dtype: int64)
(3233, group1    16548342
group2     4705492
weight           1
Name: 3233, dtype: int64)
(3234, group1    16548342
group2    18616278
weight           1
Name: 3234, dtype: int64)
(3235, group1    16548342
group2     1349592
weight           1
Name: 3235, dtype: int64)
(3236, group1    16548342
group2    18882523
weight           2
Name: 3236, dtype: int64)
(3237, group1    16548342
group2    18573279
weight           1
Name: 3237, dtype: int64)
(3238, group1    16548342
group2    10016242
weight           1
Name: 3238, dtype: int64)
(3239, group1    16548342
group2    19654655
weight           2
Name: 3239, dtype: int64)
(3240, group1     1102353
group2    12588802
weight           1
Name: 3240, dtype: int64)
(3241, group1     1102353
group2    18495240
weight           9
Name: 3241, dtype: int64)
(3242, group1     1102353
group2    25117452
weight           1
Name: 3242, dtype: int64)
(3243, group1     1102353
group2    19728145
weight           2
Name: 3243, dtype: int64)
(3244, group1    1102353
group2    2556962
weight          1
Name: 3244, dtype: int64)
(3245, group1    1102353
group2    1728035
weight          1
Name: 3245, dtype: int64)
(3246, group1    1102353
group2    1697586
weight          1
Name: 3246, dtype: int64)
(3247, group1     1102353
group2    11294262
weight           1
Name: 3247, dtype: int64)
(3248, group1     1102353
group2    20181560
weight           4
Name: 3248, dtype: int64)
(3249, group1    1102353
group2    1360698
weight          1
Name: 3249, dtype: int64)
(3250, group1    1102353
group2    1078077
weight          1
Name: 3250, dtype: int64)
(3251, group1    1102353
group2     339011
weight         17
Name: 3251, dtype: int64)
(3252, group1    1102353
group2    1772099
weight          1
Name: 3252, dtype: int64)
(3253, group1     1102353
group2    20806988
weight           1
Name: 3253, dtype: int64)
(3254, group1     1102353
group2    13560402
weight           2
Name: 3254, dtype: int64)
(3255, group1    1102353
group2    1371991
weight          1
Name: 3255, dtype: int64)
(3256, group1     1102353
group2    23053409
weight           1
Name: 3256, dtype: int64)
(3257, group1     1102353
group2    11625832
weight           1
Name: 3257, dtype: int64)
(3258, group1    1102353
group2    6190702
weight          2
Name: 3258, dtype: int64)
(3259, group1     1102353
group2    18529135
weight           1
Name: 3259, dtype: int64)
(3260, group1     1102353
group2    15552112
weight           1
Name: 3260, dtype: int64)
(3261, group1     1102353
group2    18468466
weight           1
Name: 3261, dtype: int64)
(3262, group1    1102353
group2    1741429
weight          1
Name: 3262, dtype: int64)
(3263, group1    1102353
group2     929402
weight         11
Name: 3263, dtype: int64)
(3264, group1    1102353
group2    1473660
weight          2
Name: 3264, dtype: int64)
(3265, group1     1102353
group2    18517376
weight           2
Name: 3265, dtype: int64)
(3266, group1    1102353
group2    1240194
weight          3
Name: 3266, dtype: int64)
(3267, group1    1102353
group2    1187715
weight          5
Name: 3267, dtype: int64)
(3268, group1     1102353
group2    19713173
weight           1
Name: 3268, dtype: int64)
(3269, group1     1102353
group2    20421535
weight           1
Name: 3269, dtype: int64)
(3270, group1     1102353
group2    20493986
weight           1
Name: 3270, dtype: int64)
(3271, group1     1102353
group2    18589616
weight           1
Name: 3271, dtype: int64)
(3272, group1    1102353
group2    6707902
weight          2
Name: 3272, dtype: int64)
(3273, group1     1102353
group2    16062152
weight           1
Name: 3273, dtype: int64)
(3274, group1     1102353
group2    19680459
weight           1
Name: 3274, dtype: int64)
(3275, group1    1102353
group2    6284242
weight          1
Name: 3275, dtype: int64)
(3276, group1     1102353
group2    18616278
weight           1
Name: 3276, dtype: int64)
(3277, group1    1102353
group2    1349592
weight          1
Name: 3277, dtype: int64)
(3278, group1     1102353
group2    17872862
weight           1
Name: 3278, dtype: int64)
(3279, group1     1102353
group2    22197221
weight           8
Name: 3279, dtype: int64)
(3280, group1     1102353
group2    19443174
weight           1
Name: 3280, dtype: int64)
(3281, group1     1102353
group2    18361585
weight           1
Name: 3281, dtype: int64)
(3282, group1     1102353
group2    15297782
weight           1
Name: 3282, dtype: int64)
(3283, group1     1102353
group2    18414590
weight           1
Name: 3283, dtype: int64)
(3284, group1    23816722
group2     1187715
weight           1
Name: 3284, dtype: int64)
(3285, group1    21262880
group2    18562307
weight           1
Name: 3285, dtype: int64)
(3286, group1    21262880
group2    20807142
weight           1
Name: 3286, dtype: int64)
(3287, group1    21262880
group2     6335372
weight           1
Name: 3287, dtype: int64)
(3288, group1    21262880
group2      526316
weight           1
Name: 3288, dtype: int64)
(3289, group1    21262880
group2     1741429
weight           1
Name: 3289, dtype: int64)
(3290, group1    25641512
group2      339011
weight           2
Name: 3290, dtype: int64)
(3291, group1    25641512
group2    22193397
weight           1
Name: 3291, dtype: int64)
(3292, group1    20181560
group2    23499806
weight           1
Name: 3292, dtype: int64)
(3293, group1    20181560
group2     2520612
weight           2
Name: 3293, dtype: int64)
(3294, group1    20181560
group2     6641192
weight           1
Name: 3294, dtype: int64)
(3295, group1    20181560
group2    18955830
weight           7
Name: 3295, dtype: int64)
(3296, group1    20181560
group2     3636792
weight           1
Name: 3296, dtype: int64)
(3297, group1    20181560
group2    22023226
weight           1
Name: 3297, dtype: int64)
(3298, group1    20181560
group2    18567736
weight           1
Name: 3298, dtype: int64)
(3299, group1    20181560
group2      339011
weight          10
Name: 3299, dtype: int64)
(3300, group1    20181560
group2     1772099
weight           1
Name: 3300, dtype: int64)
(3301, group1    20181560
group2     1457232
weight           1
Name: 3301, dtype: int64)
(3302, group1    20181560
group2    19030621
weight           2
Name: 3302, dtype: int64)
(3303, group1    20181560
group2     6190702
weight           1
Name: 3303, dtype: int64)
(3304, group1    20181560
group2     7130232
weight           1
Name: 3304, dtype: int64)
(3305, group1    20181560
group2      929402
weight           2
Name: 3305, dtype: int64)
(3306, group1    20181560
group2     1473660
weight           1
Name: 3306, dtype: int64)
(3307, group1    20181560
group2     1240194
weight           1
Name: 3307, dtype: int64)
(3308, group1    20181560
group2     1492619
weight           2
Name: 3308, dtype: int64)
(3309, group1    20181560
group2    20182158
weight           1
Name: 3309, dtype: int64)
(3310, group1    20181560
group2    19713173
weight           7
Name: 3310, dtype: int64)
(3311, group1    20181560
group2    19847832
weight           3
Name: 3311, dtype: int64)
(3312, group1    20181560
group2    18494105
weight           1
Name: 3312, dtype: int64)
(3313, group1    20181560
group2      252576
weight           1
Name: 3313, dtype: int64)
(3314, group1    20181560
group2     7836842
weight           1
Name: 3314, dtype: int64)
(3315, group1    20181560
group2     1324203
weight           1
Name: 3315, dtype: int64)
(3316, group1    20181560
group2     1307837
weight           1
Name: 3316, dtype: int64)
(3317, group1    20181560
group2     6707902
weight           1
Name: 3317, dtype: int64)
(3318, group1    20181560
group2    18549438
weight           1
Name: 3318, dtype: int64)
(3319, group1    20181560
group2     4705492
weight           3
Name: 3319, dtype: int64)
(3320, group1    20181560
group2    25681644
weight           1
Name: 3320, dtype: int64)
(3321, group1    20181560
group2    18562307
weight           4
Name: 3321, dtype: int64)
(3322, group1    20181560
group2    18495240
weight           2
Name: 3322, dtype: int64)
(3323, group1    20181560
group2    22422793
weight           2
Name: 3323, dtype: int64)
(3324, group1    20181560
group2    19728145
weight           4
Name: 3324, dtype: int64)
(3325, group1    20181560
group2    19416348
weight           1
Name: 3325, dtype: int64)
(3326, group1    20181560
group2     1697586
weight           1
Name: 3326, dtype: int64)
(3327, group1    20181560
group2     8805172
weight           2
Name: 3327, dtype: int64)
(3328, group1    20181560
group2    20806988
weight           1
Name: 3328, dtype: int64)
(3329, group1    20181560
group2    19064659
weight           1
Name: 3329, dtype: int64)
(3330, group1    20181560
group2    19266390
weight           1
Name: 3330, dtype: int64)
(3331, group1    20181560
group2     1371991
weight           5
Name: 3331, dtype: int64)
(3332, group1    20181560
group2    25857366
weight           1
Name: 3332, dtype: int64)
(3333, group1    20181560
group2    19934054
weight           2
Name: 3333, dtype: int64)
(3334, group1    20181560
group2    11625832
weight           1
Name: 3334, dtype: int64)
(3335, group1    20181560
group2    18529135
weight           1

Name: 3435, dtype: int64)
(3436, group1    16607822
group2    18361585
weight           2
Name: 3436, dtype: int64)
(3437, group1    16607822
group2    15297782
weight           5
Name: 3437, dtype: int64)
(3438, group1    16607822
group2    18556157
weight           1
Name: 3438, dtype: int64)
(3439, group1    16607822
group2    19728145
weight           1
Name: 3439, dtype: int64)
(3440, group1    16607822
group2    19262745
weight           1
Name: 3440, dtype: int64)
(3441, group1    16607822
group2     1360698
weight           2
Name: 3441, dtype: int64)
(3442, group1    16607822
group2     7700282
weight           1
Name: 3442, dtype: int64)
(3443, group1    16607822
group2    23353167
weight           1
Name: 3443, dtype: int64)
(3444, group1    16607822
group2     7151442
weight           2
Name: 3444, dtype: int64)
(3445, group1    16607822
group2    18779992
weight           1
Name: 3445, dtype: int64)
(3446, group1    16607822
group2     3173762
weight           1
Name: 3446, dtype: int64)
(3447, group1    16607822
group2     1187715
weight           1
Name: 3447, dtype: int64)
(3448, group1    16607822
group2    16487812
weight           4
Name: 3448, dtype: int64)
(3449, group1    16607822
group2    11862932
weight           1
Name: 3449, dtype: int64)
(3450, group1    16607822
group2    21837219
weight           1
Name: 3450, dtype: int64)
(3451, group1    16607822
group2    10016162
weight           1
Name: 3451, dtype: int64)
(3452, group1    16607822
group2    17467312
weight           3
Name: 3452, dtype: int64)
(3453, group1    16607822
group2    18589616
weight           1
Name: 3453, dtype: int64)
(3454, group1    16607822
group2     9376702
weight           1
Name: 3454, dtype: int64)
(3455, group1    16607822
group2     7699922
weight           1
Name: 3455, dtype: int64)
(3456, group1    16607822
group2    18616278
weight           3
Name: 3456, dtype: int64)
(3457, group1    16607822
group2    17872862
weight           1
Name: 3457, dtype: int64)
(3458, group1    16607822
group2    10016242
weight           4
Name: 3458, dtype: int64)
(3459, group1    16607822
group2    19654655
weight           4
Name: 3459, dtype: int64)
(3460, group1    13560402
group2      535553
weight           1
Name: 3460, dtype: int64)
(3461, group1    13560402
group2    21533726
weight           1
Name: 3461, dtype: int64)
(3462, group1    13560402
group2     1728035
weight           3
Name: 3462, dtype: int64)
(3463, group1    13560402
group2    22817838
weight           1
Name: 3463, dtype: int64)
(3464, group1    13560402
group2    18855476
weight           2
Name: 3464, dtype: int64)
(3465, group1    13560402
group2    18955830
weight           3
Name: 3465, dtype: int64)
(3466, group1    13560402
group2    11294262
weight           1
Name: 3466, dtype: int64)
(3467, group1    13560402
group2      339011
weight           1
Name: 3467, dtype: int64)
(3468, group1    13560402
group2    16477792
weight           6
Name: 3468, dtype: int64)
(3469, group1    13560402
group2     6190702
weight           1
Name: 3469, dtype: int64)
(3470, group1    13560402
group2     7130232
weight           2
Name: 3470, dtype: int64)
(3471, group1    13560402
group2      929402
weight           1
Name: 3471, dtype: int64)
(3472, group1    13560402
group2      710272
weight           1
Name: 3472, dtype: int64)
(3473, group1    13560402
group2    24906881
weight           1
Name: 3473, dtype: int64)
(3474, group1    13560402
group2    23398017
weight           1
Name: 3474, dtype: int64)
(3475, group1    13560402
group2     1776274
weight           3
Name: 3475, dtype: int64)
(3476, group1    13560402
group2     7138452
weight           1
Name: 3476, dtype: int64)
(3477, group1    13560402
group2    19713173
weight           1
Name: 3477, dtype: int64)
(3478, group1    13560402
group2    18494105
weight          12
Name: 3478, dtype: int64)
(3479, group1    13560402
group2    20493986
weight           2
Name: 3479, dtype: int64)
(3480, group1    13560402
group2    18801828
weight           1
Name: 3480, dtype: int64)
(3481, group1    13560402
group2     7836842
weight           5
Name: 3481, dtype: int64)
(3482, group1    13560402
group2     1324203
weight           1
Name: 3482, dtype: int64)
(3483, group1    13560402
group2     6707902
weight          19
Name: 3483, dtype: int64)
(3484, group1    13560402
group2    10178242
weight           4
Name: 3484, dtype: int64)
(3485, group1    13560402
group2    14546632
weight           1
Name: 3485, dtype: int64)
(3486, group1    13560402
group2    16062152
weight           3
Name: 3486, dtype: int64)
(3487, group1    13560402
group2    18660552
weight           1
Name: 3487, dtype: int64)
(3488, group1    13560402
group2    25397992
weight           1
Name: 3488, dtype: int64)
(3489, group1    13560402
group2    18361585
weight           1
Name: 3489, dtype: int64)
(3490, group1    13560402
group2     2237681
weight           1
Name: 3490, dtype: int64)
(3491, group1    13560402
group2    15297782
weight           6
Name: 3491, dtype: int64)
(3492, group1    13560402
group2    19728145
weight           1
Name: 3492, dtype: int64)
(3493, group1    13560402
group2    19416348
weight           1
Name: 3493, dtype: int64)
(3494, group1    13560402
group2    18425641
weight           1
Name: 3494, dtype: int64)
(3495, group1    13560402
group2    19997487
weight           1
Name: 3495, dtype: int64)
(3496, group1    13560402
group2    23353167
weight           1
Name: 3496, dtype: int64)
(3497, group1    13560402
group2    19266390
weight           1
Name: 3497, dtype: int64)
(3498, group1    13560402
group2     1371991
weight           2
Name: 3498, dtype: int64)
(3499, group1    13560402
group2    18779992
weight           1
Name: 3499, dtype: int64)
(3500, group1    13560402
group2     5618532
weight           4
Name: 3500, dtype: int64)
(3501, group1    13560402
group2    11625832
weight           6
Name: 3501, dtype: int64)
(3502, group1    13560402
group2     1763190
weight           1
Name: 3502, dtype: int64)
(3503, group1    13560402
group2    18517376
weight           1
Name: 3503, dtype: int64)
(3504, group1    13560402
group2     3173762
weight           1
Name: 3504, dtype: int64)
(3505, group1    13560402
group2     1187715
weight           2
Name: 3505, dtype: int64)
(3506, group1    13560402
group2    16487812
weight           4
Name: 3506, dtype: int64)
(3507, group1    13560402
group2     6335372
weight           1
Name: 3507, dtype: int64)
(3508, group1    13560402
group2    19822479
weight           1
Name: 3508, dtype: int64)
(3509, group1    13560402
group2    18923420
weight           1
Name: 3509, dtype: int64)
(3510, group1    13560402
group2    21837219
weight           1
Name: 3510, dtype: int64)
(3511, group1    13560402
group2    10016162
weight           2
Name: 3511, dtype: int64)
(3512, group1    13560402
group2     3376042
weight           1
Name: 3512, dtype: int64)
(3513, group1    13560402
group2    18589616
weight           7
Name: 3513, dtype: int64)
(3514, group1    13560402
group2    17467312
weight           4
Name: 3514, dtype: int64)
(3515, group1    13560402
group2    18314164
weight          21
Name: 3515, dtype: int64)
(3516, group1    13560402
group2     9376702
weight           1
Name: 3516, dtype: int64)
(3517, group1    13560402
group2    18616278
weight           3
Name: 3517, dtype: int64)
(3518, group1    13560402
group2     1349592
weight           1
Name: 3518, dtype: int64)
(3519, group1    13560402
group2     1498076
weight           1
Name: 3519, dtype: int64)
(3520, group1    13560402
group2    17872862
weight           1
Name: 3520, dtype: int64)
(3521, group1    13560402
group2    22197221
weight           1
Name: 3521, dtype: int64)
(3522, group1    13560402
group2    10016242
weight           2
Name: 3522, dtype: int64)
(3523, group1    13560402
group2    18232817
weight           1
Name: 3523, dtype: int64)
(3524, group1    13560402
group2    18414590
weight           1
Name: 3524, dtype: int64)
(3525, group1    19030621
group2      535553
weight           1
Name: 3525, dtype: int64)
(3526, group1    19030621
group2    18495240
weight           1
Name: 3526, dtype: int64)
(3527, group1    19030621
group2    19348756
weight           1
Name: 3527, dtype: int64)
(3528, group1    19030621
group2     1728035
weight           1
Name: 3528, dtype: int64)
(3529, group1    19030621
group2     6641192
weight           1
Name: 3529, dtype: int64)
(3530, group1    19030621
group2    19997487
weight           2
Name: 3530, dtype: int64)
(3531, group1    19030621
group2    18855476
weight           1
Name: 3531, dtype: int64)
(3532, group1    19030621
group2    18955830
weight           1
Name: 3532, dtype: int64)
(3533, group1    19030621
group2     1371991
weight           1
Name: 3533, dtype: int64)
(3534, group1    19030621
group2    18529135
weight           1
Name: 3534, dtype: int64)
(3535, group1    19030621
group2     7130232
weight           1
Name: 3535, dtype: int64)
(3536, group1    19030621
group2     1473660
weight           1
Name: 3536, dtype: int64)
(3537, group1    19030621
group2    16487812
weight           1
Name: 3537, dtype: int64)
(3538, group1    19030621
group2      541319
weight           1
Name: 3538, dtype: int64)
(3539, group1    19030621
group2    19713173
weight           2
Name: 3539, dtype: int64)
(3540, group1    19030621
group2    18494105
weight           1
Name: 3540, dtype: int64)
(3541, group1    19030621
group2    20186791
weight           1
Name: 3541, dtype: int64)
(3542, group1    19030621
group2     7836842
weight           1
Name: 3542, dtype: int64)
(3543, group1    19030621
group2    20336043
weight           1
Name: 3543, dtype: int64)
(3544, group1    19030621
group2     9376702
weight           2
Name: 3544, dtype: int64)
(3545, group1    19030621
group2    16067522
weight           1
Name: 3545, dtype: int64)
(3546, group1    19030621
group2     1576921
weight           1
Name: 3546, dtype: int64)
(3547, group1    19030621
group2      526316
weight           1
Name: 3547, dtype: int64)
(3548, group1    19030621
group2    10016242
weight           1
Name: 3548, dtype: int64)
(3549, group1    19030621
group2    18414590
weight           1
Name: 3549, dtype: int64)
(3550, group1     1741429
group2    21715712
weight           1
Name: 3550, dtype: int64)
(3551, group1     1741429
group2    18562307
weight           8
Name: 3551, dtype: int64)
(3552, group1     1741429
group2    19194894
weight           1
Name: 3552, dtype: int64)
(3553, group1     1741429
group2    19728145
weight           2
Name: 3553, dtype: int64)
(3554, group1     1741429
group2    19416348
weight           1
Name: 3554, dtype: int64)
(3555, group1     1741429
group2    16954142
weight           8
Name: 3555, dtype: int64)
(3556, group1     1741429
group2    18425641
weight           8
Name: 3556, dtype: int64)
(3557, group1     1741429
group2    11294262
weight           1
Name: 3557, dtype: int64)
(3558, group1    1741429
group2    8908602
weight          3
Name: 3558, dtype: int64)
(3559, group1    1741429
group2    7700282
weight          1
Name: 3559, dtype: int64)
(3560, group1     1741429
group2    19964997
weight           3
Name: 3560, dtype: int64)
(3561, group1     1741429
group2    14380872
weight           1
Name: 3561, dtype: int64)
(3562, group1     1741429
group2    19266390
weight          13
Name: 3562, dtype: int64)
(3563, group1     1741429
group2    21957723
weight           1
Name: 3563, dtype: int64)
(3564, group1    1741429
group2     255854
weight          1
Name: 3564, dtype: int64)
(3565, group1     1741429
group2    18529135
weight           6
Name: 3565, dtype: int64)
(3566, group1    1741429
group2    6190702
weight          1
Name: 3566, dtype: int64)
(3567, group1     1741429
group2    18517376
weight           1
Name: 3567, dtype: int64)
(3568, group1    1741429
group2    1187715
weight          1
Name: 3568, dtype: int64)
(3569, group1    1741429
group2    1492619
weight          2
Name: 3569, dtype: int64)
(3570, group1    1741429
group2    6335372
weight          2
Name: 3570, dtype: int64)
(3571, group1    1741429
group2    1776274
weight          2
Name: 3571, dtype: int64)
(3572, group1     1741429
group2    19266450
weight           1
Name: 3572, dtype: int64)
(3573, group1     1741429
group2    13288852
weight           1
Name: 3573, dtype: int64)
(3574, group1     1741429
group2    18801828
weight           1
Name: 3574, dtype: int64)
(3575, group1    1741429
group2    3376042
weight          7
Name: 3575, dtype: int64)
(3576, group1    1741429
group2    4705492
weight          6
Name: 3576, dtype: int64)
(3577, group1     1741429
group2    18616278
weight           1
Name: 3577, dtype: int64)
(3578, group1    1741429
group2    1498076
weight          3
Name: 3578, dtype: int64)
(3579, group1     1741429
group2    20807142
weight           1
Name: 3579, dtype: int64)
(3580, group1     1741429
group2    22736876
weight           5
Name: 3580, dtype: int64)
(3581, group1    1741429
group2     526316
weight          1
Name: 3581, dtype: int64)
(3582, group1     1741429
group2    24693747
weight           1
Name: 3582, dtype: int64)
(3583, group1     1741429
group2    15297782
weight           1
Name: 3583, dtype: int64)
(3584, group1    1292918
group2     339011
weight          2
Name: 3584, dtype: int64)
(3585, group1     1292918
group2    18549379
weight           1
Name: 3585, dtype: int64)
(3586, group1    1292918
group2    1776274
weight          1
Name: 3586, dtype: int64)
(3587, group1    1292918
group2    1349592
weight          1
Name: 3587, dtype: int64)
(3588, group1     1292918
group2    18573279
weight           1
Name: 3588, dtype: int64)
(3589, group1     1292918
group2    22197221
weight           1
Name: 3589, dtype: int64)
(3590, group1     1292918
group2    18314669
weight           1
Name: 3590, dtype: int64)
(3591, group1    18549379
group2    18562307
weight           1
Name: 3591, dtype: int64)
(3592, group1    18549379
group2    24803205
weight           1
Name: 3592, dtype: int64)
(3593, group1    18549379
group2      541319
weight           1
Name: 3593, dtype: int64)
(3594, group1    18549379
group2    11375762
weight           1
Name: 3594, dtype: int64)
(3595, group1    18549379
group2    19713173
weight           1
Name: 3595, dtype: int64)
(3596, group1    18549379
group2    18855476
weight           1
Name: 3596, dtype: int64)
(3597, group1    18549379
group2    18955830
weight           1
Name: 3597, dtype: int64)
(3598, group1    18549379
group2     9376702
weight           1
Name: 3598, dtype: int64)
(3599, group1    18549379
group2      339011
weight           2
Name: 3599, dtype: int64)
(3600, group1    18549379
group2     6190702
weight           1
Name: 3600, dtype: int64)
(3601, group1     541319
group2    1728035
weight          3
Name: 3601, dtype: int64)
(3602, group1      541319
group2    19528743
weight           1
Name: 3602, dtype: int64)
(3603, group1     541319
group2    6641192
weight          1
Name: 3603, dtype: int64)
(3604, group1      541319
group2    18955830
weight           2
Name: 3604, dtype: int64)
(3605, group1      541319
group2    11294262
weight           2
Name: 3605, dtype: int64)
(3606, group1     541319
group2    1457232
weight          1
Name: 3606, dtype: int64)
(3607, group1      541319
group2    15552112
weight           1
Name: 3607, dtype: int64)
(3608, group1    541319
group2    929402
weight         2
Name: 3608, dtype: int64)
(3609, group1      541319
group2    19708553
weight           1
Name: 3609, dtype: int64)
(3610, group1      541319
group2    18795154
weight           1
Name: 3610, dtype: int64)
(3611, group1      541319
group2    17487002
weight           1
Name: 3611, dtype: int64)
(3612, group1      541319
group2    19852452
weight           1
Name: 3612, dtype: int64)
(3613, group1      541319
group2    18801828
weight           1
Name: 3613, dtype: int64)
(3614, group1     541319
group2    7836842
weight          1
Name: 3614, dtype: int64)
(3615, group1     541319
group2    1324203
weight          2
Name: 3615, dtype: int64)
(3616, group1      541319
group2    16062152
weight           1
Name: 3616, dtype: int64)
(3617, group1      541319
group2    19680459
weight           2
Name: 3617, dtype: int64)
(3618, group1     541319
group2    4705492
weight          3
Name: 3618, dtype: int64)
(3619, group1      541319
group2    15297782
weight           1
Name: 3619, dtype: int64)
(3620, group1     541319
group2    2496252
weight          1
Name: 3620, dtype: int64)
(3621, group1      541319
group2    18562307
weight           1
Name: 3621, dtype: int64)
(3622, group1      541319
group2    19728145
weight           4
Name: 3622, dtype: int64)
(3623, group1      541319
group2    19416348
weight           2
Name: 3623, dtype: int64)
(3624, group1      541319
group2    18425641
weight           1
Name: 3624, dtype: int64)
(3625, group1     541319
group2    7700282
weight          1
Name: 3625, dtype: int64)
(3626, group1     541319
group2    1078077
weight          1
Name: 3626, dtype: int64)
(3627, group1      541319
group2    19266390
weight           1
Name: 3627, dtype: int64)
(3628, group1      541319
group2    18529135
weight           1
Name: 3628, dtype: int64)
(3629, group1     541319
group2    1763190
weight          1
Name: 3629, dtype: int64)
(3630, group1     541319
group2    1187715
weight          2
Name: 3630, dtype: int64)
(3631, group1      541319
group2    24803205
weight           1
Name: 3631, dtype: int64)
(3632, group1      541319
group2    21837219
weight           1
Name: 3632, dtype: int64)
(3633, group1     541319
group2    3376042
weight          1
Name: 3633, dtype: int64)
(3634, group1      541319
group2    18314669
weight           1
Name: 3634, dtype: int64)
(3635, group1    541319
group2    711599
weight         1
Name: 3635, dtype: int64)
(3636, group1      541319
group2    18476981
weight           2
Name: 3636, dtype: int64)
(3637, group1      541319
group2    18573279
weight           1
Name: 3637, dtype: int64)
(3638, group1    541319
group2    204767
weight         1
Name: 3638, dtype: int64)
(3639, group1      541319
group2    22736876
weight           1
Name: 3639, dtype: int64)
(3640, group1      541319
group2    19654655
weight           1
Name: 3640, dtype: int64)
(3641, group1    19708553
group2    19728145
weight           1
Name: 3641, dtype: int64)
(3642, group1    19708553
group2    20186791
weight           1
Name: 3642, dtype: int64)
(3643, group1    19708553
group2    18314669
weight           1
Name: 3643, dtype: int64)
(3644, group1    19708553
group2     1697586
weight           1
Name: 3644, dtype: int64)
(3645, group1    19708553
group2    18955830
weight           3
Name: 3645, dtype: int64)
(3646, group1    19708553
group2    19680459
weight           4
Name: 3646, dtype: int64)
(3647, group1    19708553
group2     4705492
weight           1
Name: 3647, dtype: int64)
(3648, group1    19708553
group2     1349592
weight           1
Name: 3648, dtype: int64)
(3649, group1    19708553
group2    18573279
weight           1
Name: 3649, dtype: int64)
(3650, group1    19708553
group2    19680612
weight           1
Name: 3650, dtype: int64)
(3651, group1    6230672
group2    1187715
weight          2
Name: 3651, dtype: int64)
(3652, group1    6230672
group2    1492619
weight          1
Name: 3652, dtype: int64)
(3653, group1     6230672
group2    19728145
weight           3
Name: 3653, dtype: int64)
(3654, group1     6230672
group2    19262745
weight           1
Name: 3654, dtype: int64)
(3655, group1     6230672
group2    19416348
weight           2
Name: 3655, dtype: int64)
(3656, group1     6230672
group2    18801828
weight           1
Name: 3656, dtype: int64)
(3657, group1    6230672
group2     339011
weight          1
Name: 3657, dtype: int64)
(3658, group1     6230672
group2    20384452
weight           1
Name: 3658, dtype: int64)

Name: 4015, dtype: int64)
(4016, group1     1405630
group2    20822884
weight           1
Name: 4016, dtype: int64)
(4017, group1     1405630
group2    11625832
weight           1
Name: 4017, dtype: int64)
(4018, group1    1405630
group2    1578685
weight          1
Name: 4018, dtype: int64)
(4019, group1    18549438
group2    18562307
weight           2
Name: 4019, dtype: int64)
(4020, group1    18549438
group2     1187715
weight           1
Name: 4020, dtype: int64)
(4021, group1    18549438
group2    18672773
weight           1
Name: 4021, dtype: int64)
(4022, group1    18549438
group2    16487812
weight           1
Name: 4022, dtype: int64)
(4023, group1    18549438
group2    14396812
weight           1
Name: 4023, dtype: int64)
(4024, group1    18549438
group2    19728145
weight           2
Name: 4024, dtype: int64)
(4025, group1    18549438
group2    19713173
weight           1
Name: 4025, dtype: int64)
(4026, group1    18549438
group2    19262745
weight           1
Name: 4026, dtype: int64)
(4027, group1    18549438
group2    20041384
weight           1
Name: 4027, dtype: int64)
(4028, group1    18549438
group2    18425641
weight           1
Name: 4028, dtype: int64)
(4029, group1    18549438
group2    18955830
weight           1
Name: 4029, dtype: int64)
(4030, group1    18549438
group2     8908602
weight           1
Name: 4030, dtype: int64)
(4031, group1    18549438
group2      217795
weight           1
Name: 4031, dtype: int64)
(4032, group1    18549438
group2    16477792
weight           1
Name: 4032, dtype: int64)
(4033, group1    18549438
group2    20348898
weight           1
Name: 4033, dtype: int64)
(4034, group1    18549438
group2    11625832
weight           1
Name: 4034, dtype: int64)
(4035, group1      217795
group2    18562307
weight           1
Name: 4035, dtype: int64)
(4036, group1      217795
group2    24803205
weight           1
Name: 4036, dtype: int64)
(4037, group1      217795
group2    18425641
weight           1
Name: 4037, dtype: int64)
(4038, group1      217795
group2    18589616
weight           1
Name: 4038, dtype: int64)
(4039, group1    20384452
group2     1187715
weight           2
Name: 4039, dtype: int64)
(4040, group1    20384452
group2    19728145
weight           2
Name: 4040, dtype: int64)
(4041, group1    20384452
group2    19713173
weight           2
Name: 4041, dtype: int64)
(4042, group1    20384452
group2    20421535
weight           1
Name: 4042, dtype: int64)
(4043, group1    20384452
group2    22730657
weight           2
Name: 4043, dtype: int64)
(4044, group1    20384452
group2    20186791
weight           1
Name: 4044, dtype: int64)
(4045, group1    20384452
group2    18955830
weight           1
Name: 4045, dtype: int64)
(4046, group1    20384452
group2      339011
weight           2
Name: 4046, dtype: int64)
(4047, group1    20384452
group2    19049542
weight           1
Name: 4047, dtype: int64)
(4048, group1    20384452
group2     1371991
weight           1
Name: 4048, dtype: int64)
(4049, group1    20384452
group2     1349592
weight           1
Name: 4049, dtype: int64)
(4050, group1    20384452
group2     1576921
weight           1
Name: 4050, dtype: int64)
(4051, group1    20384452
group2    20129636
weight           2
Name: 4051, dtype: int64)
(4052, group1    20384452
group2    22197221
weight           1
Name: 4052, dtype: int64)
(4053, group1    20384452
group2    19934054
weight           1
Name: 4053, dtype: int64)
(4054, group1    20384452
group2    18361585
weight           1
Name: 4054, dtype: int64)
(4055, group1    20384452
group2    18414590
weight           1
Name: 4055, dtype: int64)
(4056, group1    18629337
group2    19713173
weight           1
Name: 4056, dtype: int64)
(4057, group1    18629337
group2     1078077
weight           1
Name: 4057, dtype: int64)
(4058, group1    25397992
group2      710272
weight           1
Name: 4058, dtype: int64)
(4059, group1    25397992
group2    18517376
weight           1
Name: 4059, dtype: int64)
(4060, group1    25397992
group2     1187715
weight           1
Name: 4060, dtype: int64)
(4061, group1    25397992
group2    18923420
weight           1
Name: 4061, dtype: int64)
(4062, group1    25397992
group2    24850344
weight           1
Name: 4062, dtype: int64)
(4063, group1    25397992
group2     1324203
weight           1
Name: 4063, dtype: int64)
(4064, group1    25397992
group2    18589616
weight           1
Name: 4064, dtype: int64)
(4065, group1    25397992
group2    18955830
weight           1
Name: 4065, dtype: int64)
(4066, group1    25397992
group2    18660552
weight           1
Name: 4066, dtype: int64)
(4067, group1    25397992
group2     1371991
weight           1
Name: 4067, dtype: int64)
(4068, group1    25397992
group2    23515107
weight           1
Name: 4068, dtype: int64)
(4069, group1    25397992
group2     1763190
weight           1
Name: 4069, dtype: int64)
(4070, group1    21277425
group2     6284242
weight           1
Name: 4070, dtype: int64)
(4071, group1    21277425
group2    19064659
weight           1
Name: 4071, dtype: int64)
(4072, group1    21277425
group2     1581956
weight           1
Name: 4072, dtype: int64)
(4073, group1    14566132
group2     1187715
weight           1
Name: 4073, dtype: int64)
(4074, group1    14566132
group2    19728145
weight           1
Name: 4074, dtype: int64)
(4075, group1    14566132
group2     6284242
weight           1
Name: 4075, dtype: int64)
(4076, group1    14566132
group2    19713173
weight           1
Name: 4076, dtype: int64)
(4077, group1    14566132
group2     1371991
weight           1
Name: 4077, dtype: int64)
(4078, group1    14566132
group2    19262745
weight           1
Name: 4078, dtype: int64)
(4079, group1    14566132
group2      526316
weight           1
Name: 4079, dtype: int64)
(4080, group1    14566132
group2     1642477
weight           1
Name: 4080, dtype: int64)
(4081, group1    22608632
group2     7836842
weight           1
Name: 4081, dtype: int64)
(4082, group1    21715712
group2    18562307
weight           2
Name: 4082, dtype: int64)
(4083, group1    21715712
group2    22422793
weight           2
Name: 4083, dtype: int64)
(4084, group1    21715712
group2     1492619
weight           1
Name: 4084, dtype: int64)
(4085, group1    21715712
group2    19728145
weight           5
Name: 4085, dtype: int64)
(4086, group1    21715712
group2    19713173
weight           1
Name: 4086, dtype: int64)
(4087, group1    21715712
group2    18414491
weight           1
Name: 4087, dtype: int64)
(4088, group1    21715712
group2    23499806
weight           1
Name: 4088, dtype: int64)
(4089, group1    21715712
group2    18471729
weight           1
Name: 4089, dtype: int64)
(4090, group1    21715712
group2    18955830
weight           1
Name: 4090, dtype: int64)
(4091, group1    21715712
group2     8908602
weight           1
Name: 4091, dtype: int64)
(4092, group1    21715712
group2    19964997
weight           1
Name: 4092, dtype: int64)
(4093, group1    21715712
group2    19266390
weight           1
Name: 4093, dtype: int64)
(4094, group1    21715712
group2     1498076
weight           2
Name: 4094, dtype: int64)
(4095, group1    21715712
group2     6190702
weight           3
Name: 4095, dtype: int64)
(4096, group1    21715712
group2    18529135
weight           1
Name: 4096, dtype: int64)
(4097, group1    21715712
group2    18414590
weight           3
Name: 4097, dtype: int64)
(4098, group1    23456513
group2    25117452
weight           1
Name: 4098, dtype: int64)
(4099, group1    23456513
group2    19728145
weight           1
Name: 4099, dtype: int64)
(4100, group1    23456513
group2    19713173
weight           1
Name: 4100, dtype: int64)
(4101, group1    23456513
group2    19266390
weight           1
Name: 4101, dtype: int64)
(4102, group1    23456513
group2     6190702
weight           1
Name: 4102, dtype: int64)
(4103, group1    23456513
group2    18361585
weight           1
Name: 4103, dtype: int64)
(4104, group1    23456513
group2    18955830
weight           1
Name: 4104, dtype: int64)
(4105, group1    25117452
group2     2556962
weight           1
Name: 4105, dtype: int64)
(4106, group1    25117452
group2    24446290
weight           1
Name: 4106, dtype: int64)
(4107, group1    25117452
group2     1349592
weight           1
Name: 4107, dtype: int64)
(4108, group1    25903892
group2    23674770
weight           2
Name: 4108, dtype: int64)
(4109, group1    25856788
group2     1187715
weight           1
Name: 4109, dtype: int64)
(4110, group1    25856788
group2    18955830
weight           1
Name: 4110, dtype: int64)
(4111, group1    16954142
group2    19194894
weight           1
Name: 4111, dtype: int64)
(4112, group1    16954142
group2     1728035
weight           1
Name: 4112, dtype: int64)
(4113, group1    16954142
group2    19528743
weight           1
Name: 4113, dtype: int64)
(4114, group1    16954142
group2    11294262
weight           4
Name: 4114, dtype: int64)
(4115, group1    16954142
group2    22023226
weight           1
Name: 4115, dtype: int64)
(4116, group1    16954142
group2    19964997
weight           3
Name: 4116, dtype: int64)
(4117, group1    16954142
group2    21957723
weight           2
Name: 4117, dtype: int64)
(4118, group1    16954142
group2    19033734
weight           1
Name: 4118, dtype: int64)
(4119, group1    16954142
group2     1492619
weight           1
Name: 4119, dtype: int64)
(4120, group1    16954142
group2    19713173
weight           1
Name: 4120, dtype: int64)
(4121, group1    16954142
group2    26090658
weight           2
Name: 4121, dtype: int64)
(4122, group1    16954142
group2    18801828
weight           2
Name: 4122, dtype: int64)
(4123, group1    16954142
group2    21989057
weight           1
Name: 4123, dtype: int64)
(4124, group1    16954142
group2     4705492
weight           5
Name: 4124, dtype: int64)
(4125, group1    16954142
group2    18556157
weight           2
Name: 4125, dtype: int64)
(4126, group1    16954142
group2    18562307
weight           3
Name: 4126, dtype: int64)
(4127, group1    16954142
group2    19416348
weight           4
Name: 4127, dtype: int64)
(4128, group1    16954142
group2    25150760
weight           1
Name: 4128, dtype: int64)
(4129, group1    16954142
group2    18425641
weight          11
Name: 4129, dtype: int64)
(4130, group1    16954142
group2    19997487
weight           1
Name: 4130, dtype: int64)
(4131, group1    16954142
group2     7700282
weight           2
Name: 4131, dtype: int64)
(4132, group1    16954142
group2     8908602
weight           2
Name: 4132, dtype: int64)
(4133, group1    16954142
group2    18996036
weight           1
Name: 4133, dtype: int64)
(4134, group1    16954142
group2    14380872
weight           1
Name: 4134, dtype: int64)
(4135, group1    16954142
group2    19266390
weight          23
Name: 4135, dtype: int64)
(4136, group1    16954142
group2    22021463
weight           1
Name: 4136, dtype: int64)
(4137, group1    16954142
group2    25996638
weight           1
Name: 4137, dtype: int64)
(4138, group1    16954142
group2    18529135
weight           6
Name: 4138, dtype: int64)
(4139, group1    16954142
group2    21245809
weight           2
Name: 4139, dtype: int64)
(4140, group1    16954142
group2    16487812
weight           1
Name: 4140, dtype: int64)
(4141, group1    16954142
group2    19822479
weight           1
Name: 4141, dtype: int64)
(4142, group1    16954142
group2    20368282
weight           1
Name: 4142, dtype: int64)
(4143, group1    16954142
group2    18414491
weight           1
Name: 4143, dtype: int64)
(4144, group1    16954142
group2     3376042
weight           6
Name: 4144, dtype: int64)
(4145, group1    16954142
group2    20583850
weight           2
Name: 4145, dtype: int64)
(4146, group1    16954142
group2    20336043
weight           2
Name: 4146, dtype: int64)
(4147, group1    16954142
group2    21192621
weight           1
Name: 4147, dtype: int64)
(4148, group1    16954142
group2    16067522
weight           1
Name: 4148, dtype: int64)
(4149, group1    16954142
group2    18616278
weight           1
Name: 4149, dtype: int64)
(4150, group1    16954142
group2     1498076
weight           5
Name: 4150, dtype: int64)
(4151, group1    16954142
group2    22736876
weight           6
Name: 4151, dtype: int64)
(4152, group1    16954142
group2    19828207
weight           1
Name: 4152, dtype: int64)
(4153, group1    16954142
group2    24693747
weight           1
Name: 4153, dtype: int64)
(4154, group1    22643488
group2      710272
weight           1
Name: 4154, dtype: int64)
(4155, group1    22643488
group2    23040833
weight           1
Name: 4155, dtype: int64)
(4156, group1    22643488
group2     1187715
weight           1
Name: 4156, dtype: int64)
(4157, group1    22643488
group2    19728145
weight           1
Name: 4157, dtype: int64)
(4158, group1    22643488
group2    23053409
weight           1
Name: 4158, dtype: int64)
(4159, group1    22643488
group2    20129636
weight           1
Name: 4159, dtype: int64)
(4160, group1    20402980
group2    25471951
weight           1
Name: 4160, dtype: int64)
(4161, group1    20402980
group2    18589616
weight           1
Name: 4161, dtype: int64)
(4162, group1    20402980
group2       47094
weight           5
Name: 4162, dtype: int64)
(4163, group1    20402980
group2     1349592
weight           1
Name: 4163, dtype: int64)
(4164, group1    7193382
group2     710272
weight          1
Name: 4164, dtype: int64)
(4165, group1    19997487
group2      535553
weight           9
Name: 4165, dtype: int64)
(4166, group1    19997487
group2    19194894
weight           2
Name: 4166, dtype: int64)
(4167, group1    19997487
group2    21533726
weight           6
Name: 4167, dtype: int64)
(4168, group1    19997487
group2     2556962
weight           1
Name: 4168, dtype: int64)
(4169, group1    19997487
group2     1728035
weight           9
Name: 4169, dtype: int64)
(4170, group1    19997487
group2     6641192
weight           1
Name: 4170, dtype: int64)
(4171, group1    19997487
group2    22817838
weight          10
Name: 4171, dtype: int64)
(4172, group1    19997487
group2    18855476
weight           4
Name: 4172, dtype: int64)
(4173, group1    19997487
group2    11294262
weight           1
Name: 4173, dtype: int64)
(4174, group1    19997487
group2    18955830
weight           1
Name: 4174, dtype: int64)
(4175, group1    19997487
group2    22023226
weight           1
Name: 4175, dtype: int64)
(4176, group1    19997487
group2    16477792
weight          20
Name: 4176, dtype: int64)
(4177, group1    19997487
group2    18837102
weight           1
Name: 4177, dtype: int64)
(4178, group1    19997487
group2     7130232
weight          16
Name: 4178, dtype: int64)
(4179, group1    19997487
group2    19033734
weight           1
Name: 4179, dtype: int64)
(4180, group1    19997487
group2    19713173
weight           1
Name: 4180, dtype: int64)
(4181, group1    19997487
group2    18801828
weight           1
Name: 4181, dtype: int64)
(4182, group1    19997487
group2    20186791
weight           1
Name: 4182, dtype: int64)
(4183, group1    19997487
group2     7836842
weight           6
Name: 4183, dtype: int64)
(4184, group1    19997487
group2    16447162
weight           7
Name: 4184, dtype: int64)
(4185, group1    19997487
group2    21989057
weight           1
Name: 4185, dtype: int64)
(4186, group1    19997487
group2    10178242
weight          17
Name: 4186, dtype: int64)
(4187, group1    19997487
group2    14546632
weight           2
Name: 4187, dtype: int64)
(4188, group1    19997487
group2    14649032
weight           1
Name: 4188, dtype: int64)
(4189, group1    19997487
group2    18361585
weight           1
Name: 4189, dtype: int64)
(4190, group1    19997487
group2    15297782
weight           4
Name: 4190, dtype: int64)
(4191, group1    19997487
group2    18556157
weight           1
Name: 4191, dtype: int64)
(4192, group1    19997487
group2    19728145
weight           1
Name: 4192, dtype: int64)
(4193, group1    19997487
group2    19416348
weight           1
Name: 4193, dtype: int64)
(4194, group1    19997487
group2    18425641
weight           1
Name: 4194, dtype: int64)
(4195, group1    19997487
group2     7700282
weight           1
Name: 4195, dtype: int64)
(4196, group1    19997487
group2     8908602
weight           1
Name: 4196, dtype: int64)
(4197, group1    19997487
group2     1360698
weight           5
Name: 4197, dtype: int64)
(4198, group1    19997487
group2    18996036
weight           1
Name: 4198, dtype: int64)
(4199, group1    19997487
group2     7151442
weight           4
Name: 4199, dtype: int64)
(4200, group1    19997487
group2    19266390
weight           2
Name: 4200, dtype: int64)
(4201, group1    19997487
group2    22021463
weight           1
Name: 4201, dtype: int64)
(4202, group1    19997487
group2    18779992
weight           2
Name: 4202, dtype: int64)
(4203, group1    19997487
group2     5618532
weight           1
Name: 4203, dtype: int64)
(4204, group1    19997487
group2    11625832
weight          17
Name: 4204, dtype: int64)
(4205, group1    19997487
group2    18529135
weight           1
Name: 4205, dtype: int64)
(4206, group1    19997487
group2     3173762
weight           3
Name: 4206, dtype: int64)
(4207, group1    19997487
group2    16487812
weight          29
Name: 4207, dtype: int64)
(4208, group1    19997487
group2     6335372
weight           1
Name: 4208, dtype: int64)
(4209, group1    19997487
group2    11862932
weight           1
Name: 4209, dtype: int64)
(4210, group1    19997487
group2    21837219
weight          10
Name: 4210, dtype: int64)
(4211, group1    19997487
group2     3376042
weight           1
Name: 4211, dtype: int64)
(4212, group1    19997487
group2    17467312
weight           2
Name: 4212, dtype: int64)
(4213, group1    19997487
group2    18589616
weight           3
Name: 4213, dtype: int64)
(4214, group1    19997487
group2    18314164
weight           2
Name: 4214, dtype: int64)
(4215, group1    19997487
group2     9376702
weight          11
Name: 4215, dtype: int64)
(4216, group1    19997487
group2    16067522
weight           2
Name: 4216, dtype: int64)
(4217, group1    19997487
group2    22985677
weight           1
Name: 4217, dtype: int64)
(4218, group1    19997487
group2    18616278
weight           7
Name: 4218, dtype: int64)
(4219, group1    19997487
group2    18882523
weight           1
Name: 4219, dtype: int64)
(4220, group1    19997487
group2    22736876
weight           1
Name: 4220, dtype: int64)
(4221, group1    19997487
group2    19828207
weight           1
Name: 4221, dtype: int64)
(4222, group1    19997487
group2    10016242
weight          44
Name: 4222, dtype: int64)
(4223, group1    19997487
group2    18256892
weight           1
Name: 4223, dtype: int64)
(4224, group1    20931376
group2      788001
weight           1
Name: 4224, dtype: int64)
(4225, group1    20931376
group2    16487812
weight           1
Name: 4225, dtype: int64)
(4226, group1    20931376
group2    20197351
weight           1
Name: 4226, dtype: int64)
(4227, group1    20931376
group2    16062152
weight           1
Name: 4227, dtype: int64)
(4228, group1    20931376
group2     7836842
weight           1
Name: 4228, dtype: int64)
(4229, group1    18471729
group2     1492619
weight           1
Name: 4229, dtype: int64)
(4230, group1    18471729
group2    19728145
weight           1
Name: 4230, dtype: int64)
(4231, group1    18471729
group2     1787157
weight           1
Name: 4231, dtype: int64)
(4232, group1    18471729
group2     1743773
weight           1
Name: 4232, dtype: int64)
(4233, group1    18471729
group2     1728035
weight           1
Name: 4233, dtype: int64)
(4234, group1    18471729
group2      711599
weight           1
Name: 4234, dtype: int64)
(4235, group1    18471729
group2    18955830
weight           2
Name: 4235, dtype: int64)
(4236, group1    18471729
group2     8908602
weight           1
Name: 4236, dtype: int64)
(4237, group1    18471729
group2    18996036
weight           1
Name: 4237, dtype: int64)

Name: 4456, dtype: int64)
(4457, group1    19934054
group2    18361585
weight           2
Name: 4457, dtype: int64)
(4458, group1    19934054
group2    24693747
weight           1
Name: 4458, dtype: int64)
(4459, group1    18529135
group2    19194894
weight           1
Name: 4459, dtype: int64)
(4460, group1    18529135
group2    18798102
weight           1
Name: 4460, dtype: int64)
(4461, group1    18529135
group2      788001
weight           1
Name: 4461, dtype: int64)
(4462, group1    18529135
group2     1728035
weight           1
Name: 4462, dtype: int64)
(4463, group1    18529135
group2     6641192
weight           1
Name: 4463, dtype: int64)
(4464, group1    18529135
group2    18955830
weight           1
Name: 4464, dtype: int64)
(4465, group1    18529135
group2    11294262
weight           3
Name: 4465, dtype: int64)
(4466, group1    18529135
group2    22023226
weight           1
Name: 4466, dtype: int64)
(4467, group1    18529135
group2      339011
weight           1
Name: 4467, dtype: int64)
(4468, group1    18529135
group2    19964997
weight           5
Name: 4468, dtype: int64)
(4469, group1    18529135
group2      929402
weight           1
Name: 4469, dtype: int64)
(4470, group1    18529135
group2      710272
weight           1
Name: 4470, dtype: int64)
(4471, group1    18529135
group2     1240194
weight           1
Name: 4471, dtype: int64)
(4472, group1    18529135
group2    19033734
weight           1
Name: 4472, dtype: int64)
(4473, group1    18529135
group2     1492619
weight           1
Name: 4473, dtype: int64)
(4474, group1    18529135
group2    17487002
weight           1
Name: 4474, dtype: int64)
(4475, group1    18529135
group2    26090658
weight           2
Name: 4475, dtype: int64)
(4476, group1    18529135
group2    18801828
weight           2
Name: 4476, dtype: int64)
(4477, group1    18529135
group2     1324203
weight           2
Name: 4477, dtype: int64)
(4478, group1    18529135
group2    21989057
weight           1
Name: 4478, dtype: int64)
(4479, group1    18529135
group2     4705492
weight           3
Name: 4479, dtype: int64)
(4480, group1    18529135
group2    15297782
weight           1
Name: 4480, dtype: int64)
(4481, group1    18529135
group2    18556157
weight           2
Name: 4481, dtype: int64)
(4482, group1    18529135
group2    18562307
weight           4
Name: 4482, dtype: int64)
(4483, group1    18529135
group2    19348756
weight           2
Name: 4483, dtype: int64)
(4484, group1    18529135
group2    19416348
weight           4
Name: 4484, dtype: int64)
(4485, group1    18529135
group2    18425641
weight           6
Name: 4485, dtype: int64)
(4486, group1    18529135
group2     8908602
weight           2
Name: 4486, dtype: int64)
(4487, group1    18529135
group2    22021463
weight           1
Name: 4487, dtype: int64)
(4488, group1    18529135
group2    11625832
weight           1
Name: 4488, dtype: int64)
(4489, group1    18529135
group2    16487812
weight           1
Name: 4489, dtype: int64)
(4490, group1    18529135
group2     3376042
weight           7
Name: 4490, dtype: int64)
(4491, group1    18529135
group2    18616278
weight           3
Name: 4491, dtype: int64)
(4492, group1    18529135
group2     1498076
weight           7
Name: 4492, dtype: int64)
(4493, group1    18529135
group2    17872862
weight           1
Name: 4493, dtype: int64)
(4494, group1    18529135
group2    22736876
weight           5
Name: 4494, dtype: int64)
(4495, group1    1581956
group2    3173762
weight          1
Name: 4495, dtype: int64)
(4496, group1    1581956
group2     339011
weight          1
Name: 4496, dtype: int64)
(4497, group1    1581956
group2    6284242
weight          1
Name: 4497, dtype: int64)
(4498, group1     1581956
group2    19064659
weight           1
Name: 4498, dtype: int64)
(4499, group1     6335372
group2    18562307
weight           3
Name: 4499, dtype: int64)
(4500, group1     6335372
group2    18495240
weight           1
Name: 4500, dtype: int64)
(4501, group1     6335372
group2    19728145
weight           1
Name: 4501, dtype: int64)
(4502, group1     6335372
group2    19528743
weight           1
Name: 4502, dtype: int64)
(4503, group1     6335372
group2    18425641
weight           2
Name: 4503, dtype: int64)
(4504, group1     6335372
group2    18955830
weight           1
Name: 4504, dtype: int64)
(4505, group1    6335372
group2     339011
weight          2
Name: 4505, dtype: int64)
(4506, group1     6335372
group2    16477792
weight           3
Name: 4506, dtype: int64)
(4507, group1     6335372
group2    23053409
weight           1
Name: 4507, dtype: int64)
(4508, group1     6335372
group2    11625832
weight           5
Name: 4508, dtype: int64)
(4509, group1     6335372
group2    18837102
weight           1
Name: 4509, dtype: int64)
(4510, group1    6335372
group2    1763190
weight          3
Name: 4510, dtype: int64)
(4511, group1    6335372
group2    7130232
weight          1
Name: 4511, dtype: int64)
(4512, group1     6335372
group2    16487812
weight           3
Name: 4512, dtype: int64)
(4513, group1     6335372
group2    24803205
weight           1
Name: 4513, dtype: int64)
(4514, group1    6335372
group2    7138452
weight          1
Name: 4514, dtype: int64)
(4515, group1     6335372
group2    13288852
weight           1
Name: 4515, dtype: int64)
(4516, group1     6335372
group2    19713173
weight           1
Name: 4516, dtype: int64)
(4517, group1     6335372
group2    25076888
weight           1
Name: 4517, dtype: int64)
(4518, group1     6335372
group2    17487002
weight           1
Name: 4518, dtype: int64)
(4519, group1     6335372
group2    18923420
weight           1
Name: 4519, dtype: int64)
(4520, group1     6335372
group2    24316830
weight           1
Name: 4520, dtype: int64)
(4521, group1    6335372
group2    1324203
weight          1
Name: 4521, dtype: int64)
(4522, group1     6335372
group2    19828398
weight           3
Name: 4522, dtype: int64)
(4523, group1     6335372
group2    18314164
weight           1
Name: 4523, dtype: int64)
(4524, group1    6335372
group2    9376702
weight          1
Name: 4524, dtype: int64)
(4525, group1     6335372
group2    21989057
weight           1
Name: 4525, dtype: int64)
(4526, group1     6335372
group2    10178242
weight           1
Name: 4526, dtype: int64)
(4527, group1    6335372
group2    2542802
weight          1
Name: 4527, dtype: int64)
(4528, group1     6335372
group2    22197221
weight           2
Name: 4528, dtype: int64)
(4529, group1     6335372
group2    20807142
weight           2
Name: 4529, dtype: int64)
(4530, group1    6335372
group2     526316
weight          3
Name: 4530, dtype: int64)
(4531, group1     6335372
group2    10016242
weight           2
Name: 4531, dtype: int64)
(4532, group1     6335372
group2    15297782
weight           1
Name: 4532, dtype: int64)
(4533, group1    6335372
group2      47094
weight          1
Name: 4533, dtype: int64)
(4534, group1     6335372
group2    19654655
weight           1
Name: 4534, dtype: int64)
(4535, group1    14775182
group2     1187715
weight           1
Name: 4535, dtype: int64)
(4536, group1    25648018
group2    22197221
weight           1
Name: 4536, dtype: int64)
(4537, group1    25648018
group2    20336043
weight           1
Name: 4537, dtype: int64)
(4538, group1    25648018
group2    19713173
weight           1
Name: 4538, dtype: int64)
(4539, group1    25648018
group2    18955830
weight           1
Name: 4539, dtype: int64)
(4540, group1    11862932
group2      535553
weight           2
Name: 4540, dtype: int64)
(4541, group1    11862932
group2    19262745
weight           1
Name: 4541, dtype: int64)
(4542, group1    11862932
group2    21533726
weight           1
Name: 4542, dtype: int64)
(4543, group1    11862932
group2      788001
weight           1
Name: 4543, dtype: int64)
(4544, group1    11862932
group2    18642226
weight           1
Name: 4544, dtype: int64)
(4545, group1    11862932
group2    11294262
weight           1
Name: 4545, dtype: int64)
(4546, group1    11862932
group2    20135762
weight           1
Name: 4546, dtype: int64)
(4547, group1    11862932
group2     7151442
weight           1
Name: 4547, dtype: int64)
(4548, group1    11862932
group2    18779992
weight           2
Name: 4548, dtype: int64)
(4549, group1    11862932
group2    16477792
weight           2
Name: 4549, dtype: int64)
(4550, group1    11862932
group2    11625832
weight           5
Name: 4550, dtype: int64)
(4551, group1    11862932
group2     7130232
weight           2
Name: 4551, dtype: int64)
(4552, group1    11862932
group2      929402
weight           1
Name: 4552, dtype: int64)
(4553, group1    11862932
group2    23398017
weight           1
Name: 4553, dtype: int64)
(4554, group1    11862932
group2     3173762
weight           3
Name: 4554, dtype: int64)
(4555, group1    11862932
group2    16487812
weight           7
Name: 4555, dtype: int64)
(4556, group1    11862932
group2    21837219
weight           2
Name: 4556, dtype: int64)
(4557, group1    11862932
group2     7836842
weight           3
Name: 4557, dtype: int64)
(4558, group1    11862932
group2    17467312
weight           5
Name: 4558, dtype: int64)
(4559, group1    11862932
group2    18589616
weight           1
Name: 4559, dtype: int64)
(4560, group1    11862932
group2    10178242
weight           7
Name: 4560, dtype: int64)
(4561, group1    11862932
group2    14649032
weight           3
Name: 4561, dtype: int64)
(4562, group1    11862932
group2    14546632
weight           2
Name: 4562, dtype: int64)
(4563, group1    11862932
group2     6284242
weight           1
Name: 4563, dtype: int64)
(4564, group1    11862932
group2     2237681
weight           1
Name: 4564, dtype: int64)
(4565, group1    11862932
group2    10016242
weight           6
Name: 4565, dtype: int64)
(4566, group1    11862932
group2    18361585
weight           1
Name: 4566, dtype: int64)
(4567, group1    11862932
group2    15297782
weight           1
Name: 4567, dtype: int64)
(4568, group1    11862932
group2    19654655
weight           2
Name: 4568, dtype: int64)
(4569, group1    20368282
group2     1492619
weight           1
Name: 4569, dtype: int64)
(4570, group1    18414491
group2    19964997
weight           1
Name: 4570, dtype: int64)
(4571, group1    18414491
group2    22422793
weight           1
Name: 4571, dtype: int64)
(4572, group1    18414491
group2     4705492
weight           1
Name: 4572, dtype: int64)
(4573, group1    18414491
group2    23499806
weight           1
Name: 4573, dtype: int64)
(4574, group1    18414491
group2    21192621
weight           1
Name: 4574, dtype: int64)
(4575, group1    18414491
group2    18414590
weight           1
Name: 4575, dtype: int64)
(4576, group1    1743773
group2    1787157
weight          1
Name: 4576, dtype: int64)
(4577, group1    1743773
group2    1728035
weight          1
Name: 4577, dtype: int64)
(4578, group1    1743773
group2     711599
weight          1
Name: 4578, dtype: int64)
(4579, group1    24316830
group2     1642477
weight           1
Name: 4579, dtype: int64)
(4580, group1    24316830
group2     4705492
weight           1
Name: 4580, dtype: int64)
(4581, group1    20421535
group2    22197221
weight           1
Name: 4581, dtype: int64)
(4582, group1    20421535
group2    18955830
weight           1
Name: 4582, dtype: int64)
(4583, group1    20421535
group2     9376702
weight           1
Name: 4583, dtype: int64)
(4584, group1     3376042
group2    18562307
weight           1
Name: 4584, dtype: int64)
(4585, group1     3376042
group2    19194894
weight           1
Name: 4585, dtype: int64)
(4586, group1     3376042
group2    19416348
weight           7
Name: 4586, dtype: int64)
(4587, group1    3376042
group2    1728035
weight          1
Name: 4587, dtype: int64)
(4588, group1    3376042
group2    6641192
weight          1
Name: 4588, dtype: int64)
(4589, group1     3376042
group2    18425641
weight           5
Name: 4589, dtype: int64)
(4590, group1     3376042
group2    11294262
weight           3
Name: 4590, dtype: int64)
(4591, group1     3376042
group2    22023226
weight           1
Name: 4591, dtype: int64)
(4592, group1    3376042
group2    8908602
weight          1
Name: 4592, dtype: int64)
(4593, group1     3376042
group2    19964997
weight           3
Name: 4593, dtype: int64)
(4594, group1     3376042
group2    14380872
weight           2
Name: 4594, dtype: int64)
(4595, group1     3376042
group2    22021463
weight           1
Name: 4595, dtype: int64)
(4596, group1     3376042
group2    16487812
weight           1
Name: 4596, dtype: int64)
(4597, group1     3376042
group2    19033734
weight           1
Name: 4597, dtype: int64)
(4598, group1    3376042
group2    1492619
weight          2
Name: 4598, dtype: int64)
(4599, group1     3376042
group2    26090658
weight           1
Name: 4599, dtype: int64)
(4600, group1     3376042
group2    18801828
weight           2
Name: 4600, dtype: int64)
(4601, group1    3376042
group2    1324203
weight          1
Name: 4601, dtype: int64)
(4602, group1     3376042
group2    23723436
weight           1
Name: 4602, dtype: int64)
(4603, group1     3376042
group2    20583850
weight           1
Name: 4603, dtype: int64)
(4604, group1    3376042
group2    7836842
weight          1
Name: 4604, dtype: int64)
(4605, group1     3376042
group2    18476981
weight           1
Name: 4605, dtype: int64)
(4606, group1     3376042
group2    21989057
weight           1
Name: 4606, dtype: int64)
(4607, group1     3376042
group2    10178242
weight           1
Name: 4607, dtype: int64)
(4608, group1     3376042
group2    16062152
weight           1
Name: 4608, dtype: int64)
(4609, group1     3376042
group2    18944977
weight           1
Name: 4609, dtype: int64)
(4610, group1    3376042
group2    4705492
weight          2
Name: 4610, dtype: int64)
(4611, group1     3376042
group2    18616278
weight           1
Name: 4611, dtype: int64)
(4612, group1    3376042
group2    1498076
weight          3
Name: 4612, dtype: int64)
(4613, group1     3376042
group2    22736876
weight           3
Name: 4613, dtype: int64)
(4614, group1     3376042
group2    18232817
weight           1
Name: 4614, dtype: int64)
(4615, group1     3376042
group2    15297782
weight           1
Name: 4615, dtype: int64)
(4616, group1     3376042
group2    18556157
weight           2
Name: 4616, dtype: int64)
(4617, group1    11938732
group2      710272
weight           1
Name: 4617, dtype: int64)
(4618, group1    11938732
group2    18798102
weight           1
Name: 4618, dtype: int64)
(4619, group1    11938732
group2      788001
weight           1
Name: 4619, dtype: int64)
(4620, group1    11938732
group2     1324203
weight           1
Name: 4620, dtype: int64)
(4621, group1    11938732
group2     4064562
weight           1
Name: 4621, dtype: int64)
(4622, group1    11938732
group2     2496252
weight           1
Name: 4622, dtype: int64)
(4623, group1      711599
group2    16487812
weight           1
Name: 4623, dtype: int64)
(4624, group1     711599
group2    1787157
weight          1
Name: 4624, dtype: int64)
(4625, group1      711599
group2    19416348
weight           1
Name: 4625, dtype: int64)
(4626, group1     711599
group2    1728035
weight          1
Name: 4626, dtype: int64)
(4627, group1     711599
group2    7836842
weight          1
Name: 4627, dtype: int64)
(4628, group1      711599
group2    18476981
weight           1
Name: 4628, dtype: int64)
(4629, group1     711599
group2    9376702
weight          1
Name: 4629, dtype: int64)
(4630, group1      711599
group2    16062152
weight           1
Name: 4630, dtype: int64)
(4631, group1      711599
group2    18616278
weight           1
Name: 4631, dtype: int64)
(4632, group1    711599
group2    526316
weight         1
Name: 4632, dtype: int64)
(4633, group1      711599
group2    10016242
weight           1
Name: 4633, dtype: int64)
(4634, group1     711599
group2    7130232
weight          1
Name: 4634, dtype: int64)
(4635, group1    18314164
group2      535553
weight           2
Name: 4635, dtype: int64)
(4636, group1    18314164
group2    18495240
weight           1
Name: 4636, dtype: int64)
(4637, group1    18314164
group2    21533726
weight           2
Name: 4637, dtype: int64)
(4638, group1    18314164
group2     1728035
weight           1
Name: 4638, dtype: int64)
(4639, group1    18314164
group2     7151442
weight           3
Name: 4639, dtype: int64)
(4640, group1    18314164
group2    16477792
weight          10
Name: 4640, dtype: int64)
(4641, group1    18314164
group2    11625832
weight           6
Name: 4641, dtype: int64)
(4642, group1    18314164
group2    18837102
weight           1
Name: 4642, dtype: int64)
(4643, group1    18314164
group2     6190702
weight           1
Name: 4643, dtype: int64)
(4644, group1    18314164
group2     7130232
weight           4
Name: 4644, dtype: int64)
(4645, group1    18314164
group2    22437242
weight           1
Name: 4645, dtype: int64)
(4646, group1    18314164
group2    24906881
weight           1
Name: 4646, dtype: int64)
(4647, group1    18314164
group2    23398017
weight           1
Name: 4647, dtype: int64)
(4648, group1    18314164
group2     1187715
weight           1
Name: 4648, dtype: int64)
(4649, group1    18314164
group2    16487812
weight           4
Name: 4649, dtype: int64)
(4650, group1    18314164
group2     7138452
weight           1
Name: 4650, dtype: int64)
(4651, group1    18314164
group2    10016162
weight           3
Name: 4651, dtype: int64)
(4652, group1    18314164
group2    21837219
weight           2
Name: 4652, dtype: int64)
(4653, group1    18314164
group2    20493986
weight           1
Name: 4653, dtype: int64)
(4654, group1    18314164
group2     7836842
weight           2
Name: 4654, dtype: int64)
(4655, group1    18314164
group2    18589616
weight           4
Name: 4655, dtype: int64)
(4656, group1    18314164
group2    17467312
weight           1
Name: 4656, dtype: int64)
(4657, group1    18314164
group2    16447162
weight           2
Name: 4657, dtype: int64)
(4658, group1    18314164
group2     9376702
weight           1
Name: 4658, dtype: int64)
(4659, group1    18314164
group2    10178242
weight           5
Name: 4659, dtype: int64)
(4660, group1    18314164
group2    14546632
weight           1
Name: 4660, dtype: int64)
(4661, group1    18314164
group2    25471951
weight           1
Name: 4661, dtype: int64)
(4662, group1    18314164
group2    18616278
weight           2
Name: 4662, dtype: int64)
(4663, group1    18314164
group2    22197221
weight           1
Name: 4663, dtype: int64)
(4664, group1    18314164
group2      526316
weight           1
Name: 4664, dtype: int64)
(4665, group1    18314164
group2    18361585
weight           2
Name: 4665, dtype: int64)
(4666, group1    18314164
group2    10016242
weight           4
Name: 4666, dtype: int64)
(4667, group1    18314164
group2       47094
weight           1
Name: 4667, dtype: int64)
(4668, group1    18314164
group2    15297782
weight           1
Name: 4668, dtype: int64)
(4669, group1    18314164
group2    19654655
weight           1
Name: 4669, dtype: int64)
(4670, group1    9376702
group2     535553
weight          8
Name: 4670, dtype: int64)
(4671, group1     9376702
group2    19194894
weight           2
Name: 4671, dtype: int64)
(4672, group1     9376702
group2    21533726
weight           5
Name: 4672, dtype: int64)
(4673, group1    9376702
group2    2556962
weight          1
Name: 4673, dtype: int64)
(4674, group1    9376702
group2    1728035
weight         13
Name: 4674, dtype: int64)
(4675, group1    9376702
group2    6641192
weight          1
Name: 4675, dtype: int64)
(4676, group1     9376702
group2    22817838
weight           1
Name: 4676, dtype: int64)
(4677, group1     9376702
group2    18855476
weight           4
Name: 4677, dtype: int64)
(4678, group1     9376702
group2    18955830
weight           1
Name: 4678, dtype: int64)
(4679, group1     9376702
group2    16477792
weight          13
Name: 4679, dtype: int64)

Name: 4755, dtype: int64)
(4756, group1    16067522
group2    17487002
weight           1
Name: 4756, dtype: int64)
(4757, group1    16067522
group2    18801828
weight           1
Name: 4757, dtype: int64)
(4758, group1    16067522
group2    20186791
weight           7
Name: 4758, dtype: int64)
(4759, group1    16067522
group2     1324203
weight           1
Name: 4759, dtype: int64)
(4760, group1    16067522
group2    16447162
weight           1
Name: 4760, dtype: int64)
(4761, group1    16067522
group2    10178242
weight           2
Name: 4761, dtype: int64)
(4762, group1    16067522
group2     2542802
weight           1
Name: 4762, dtype: int64)
(4763, group1    16067522
group2     4705492
weight           5
Name: 4763, dtype: int64)
(4764, group1    16067522
group2     1576921
weight           3
Name: 4764, dtype: int64)
(4765, group1    16067522
group2      526316
weight           1
Name: 4765, dtype: int64)
(4766, group1    16067522
group2     1642477
weight           1
Name: 4766, dtype: int64)
(4767, group1    16067522
group2    10016242
weight           2
Name: 4767, dtype: int64)
(4768, group1    24431556
group2    19728145
weight           1
Name: 4768, dtype: int64)
(4769, group1    24431556
group2    22197221
weight           1
Name: 4769, dtype: int64)
(4770, group1    24431556
group2    18955830
weight           1
Name: 4770, dtype: int64)
(4771, group1    25717708
group2    19262745
weight           1
Name: 4771, dtype: int64)
(4772, group1    22985677
group2      339011
weight           1
Name: 4772, dtype: int64)
(4773, group1    22985677
group2    16487812
weight           1
Name: 4773, dtype: int64)
(4774, group1    22985677
group2    19728145
weight           1
Name: 4774, dtype: int64)
(4775, group1    22985677
group2    11625832
weight           1
Name: 4775, dtype: int64)
(4776, group1    22985677
group2     1697586
weight           1
Name: 4776, dtype: int64)
(4777, group1    22985677
group2    18361585
weight           1
Name: 4777, dtype: int64)
(4778, group1    22985677
group2    19654655
weight           1
Name: 4778, dtype: int64)
(4779, group1    25471951
group2       47094
weight           4
Name: 4779, dtype: int64)
(4780, group1    24675279
group2    21933145
weight           1
Name: 4780, dtype: int64)
(4781, group1    24675279
group2    22422502
weight           1
Name: 4781, dtype: int64)
(4782, group1    24675279
group2     1324203
weight           2
Name: 4782, dtype: int64)
(4783, group1    24675279
group2    18955830
weight           1
Name: 4783, dtype: int64)
(4784, group1    24675279
group2     3636792
weight           1
Name: 4784, dtype: int64)
(4785, group1    18944977
group2      339011
weight           1
Name: 4785, dtype: int64)
(4786, group1    18944977
group2    14380872
weight           1
Name: 4786, dtype: int64)
(4787, group1    18944977
group2    18425641
weight           1
Name: 4787, dtype: int64)
(4788, group1    18944977
group2      255854
weight           1
Name: 4788, dtype: int64)
(4789, group1    18944977
group2    18955830
weight           1
Name: 4789, dtype: int64)
(4790, group1    18944977
group2    15297782
weight           1
Name: 4790, dtype: int64)
(4791, group1    6284242
group2     535553
weight          1
Name: 4791, dtype: int64)
(4792, group1     6284242
group2    19728145
weight           3
Name: 4792, dtype: int64)
(4793, group1    6284242
group2    1451826
weight          1
Name: 4793, dtype: int64)
(4794, group1    6284242
group2     339011
weight          2
Name: 4794, dtype: int64)
(4795, group1     6284242
group2    19064659
weight           2
Name: 4795, dtype: int64)
(4796, group1    6284242
group2    1371991
weight          1
Name: 4796, dtype: int64)
(4797, group1     6284242
group2    11625832
weight           1
Name: 4797, dtype: int64)
(4798, group1    6284242
group2    6190702
weight          1
Name: 4798, dtype: int64)
(4799, group1    6284242
group2     929402
weight          3
Name: 4799, dtype: int64)
(4800, group1    6284242
group2    1473660
weight          2
Name: 4800, dtype: int64)
(4801, group1     6284242
group2    24906881
weight           1
Name: 4801, dtype: int64)
(4802, group1    6284242
group2    1187715
weight          3
Name: 4802, dtype: int64)
(4803, group1     6284242
group2    16487812
weight           1
Name: 4803, dtype: int64)
(4804, group1     6284242
group2    21755271
weight           1
Name: 4804, dtype: int64)
(4805, group1     6284242
group2    17487002
weight           2
Name: 4805, dtype: int64)
(4806, group1     6284242
group2    17467312
weight           1
Name: 4806, dtype: int64)
(4807, group1    6284242
group2    1578685
weight          1
Name: 4807, dtype: int64)
(4808, group1    6284242
group2    1349592
weight          1
Name: 4808, dtype: int64)
(4809, group1    6284242
group2    1642477
weight          2
Name: 4809, dtype: int64)
(4810, group1     6284242
group2    18361585
weight           1
Name: 4810, dtype: int64)
(4811, group1     6284242
group2    18256892
weight           1
Name: 4811, dtype: int64)
(4812, group1     1498076
group2    18562307
weight           3
Name: 4812, dtype: int64)
(4813, group1     1498076
group2    19416348
weight           2
Name: 4813, dtype: int64)
(4814, group1     1498076
group2    18425641
weight           2
Name: 4814, dtype: int64)
(4815, group1     1498076
group2    18955830
weight           1
Name: 4815, dtype: int64)
(4816, group1     1498076
group2    11294262
weight           2
Name: 4816, dtype: int64)
(4817, group1    1498076
group2    7700282
weight          1
Name: 4817, dtype: int64)
(4818, group1     1498076
group2    19964997
weight           1
Name: 4818, dtype: int64)
(4819, group1    1498076
group2    1371991
weight          1
Name: 4819, dtype: int64)
(4820, group1     1498076
group2    25857366
weight           1
Name: 4820, dtype: int64)
(4821, group1    1498076
group2    6190702
weight          1
Name: 4821, dtype: int64)
(4822, group1    1498076
group2    1187715
weight          1
Name: 4822, dtype: int64)
(4823, group1    1498076
group2    1492619
weight          1
Name: 4823, dtype: int64)
(4824, group1     1498076
group2    19713173
weight           1
Name: 4824, dtype: int64)
(4825, group1     1498076
group2    26090658
weight           2
Name: 4825, dtype: int64)
(4826, group1     1498076
group2    20583850
weight           2
Name: 4826, dtype: int64)
(4827, group1    1498076
group2    4705492
weight          1
Name: 4827, dtype: int64)
(4828, group1     1498076
group2    18616278
weight           1
Name: 4828, dtype: int64)
(4829, group1     1498076
group2    22197221
weight           1
Name: 4829, dtype: int64)
(4830, group1     1498076
group2    22736876
weight           2
Name: 4830, dtype: int64)
(4831, group1     1498076
group2    24693747
weight           1
Name: 4831, dtype: int64)
(4832, group1    20124638
group2     4705492
weight           2
Name: 4832, dtype: int64)
(4833, group1    22197221
group2    18798102
weight           1
Name: 4833, dtype: int64)
(4834, group1    22197221
group2     6641192
weight           1
Name: 4834, dtype: int64)
(4835, group1    22197221
group2    18955830
weight          14
Name: 4835, dtype: int64)
(4836, group1    22197221
group2      339011
weight          23
Name: 4836, dtype: int64)
(4837, group1    22197221
group2    19049542
weight           2
Name: 4837, dtype: int64)
(4838, group1    22197221
group2     1457232
weight           1
Name: 4838, dtype: int64)
(4839, group1    22197221
group2     6190702
weight           1
Name: 4839, dtype: int64)
(4840, group1    22197221
group2    15552112
weight           1
Name: 4840, dtype: int64)
(4841, group1    22197221
group2      929402
weight           3
Name: 4841, dtype: int64)
(4842, group1    22197221
group2    19713173
weight           7
Name: 4842, dtype: int64)
(4843, group1    22197221
group2    20493986
weight           1
Name: 4843, dtype: int64)
(4844, group1    22197221
group2    20186791
weight           1
Name: 4844, dtype: int64)
(4845, group1    22197221
group2     7836842
weight           1
Name: 4845, dtype: int64)
(4846, group1    22197221
group2     1324203
weight           2
Name: 4846, dtype: int64)
(4847, group1    22197221
group2    16062152
weight           1
Name: 4847, dtype: int64)
(4848, group1    22197221
group2    25681644
weight           1
Name: 4848, dtype: int64)
(4849, group1    22197221
group2    18361585
weight           1
Name: 4849, dtype: int64)
(4850, group1    22197221
group2    15297782
weight           1
Name: 4850, dtype: int64)
(4851, group1    22197221
group2     2496252
weight           2
Name: 4851, dtype: int64)
(4852, group1    22197221
group2    18562307
weight           2
Name: 4852, dtype: int64)
(4853, group1    22197221
group2    18495240
weight           1
Name: 4853, dtype: int64)
(4854, group1    22197221
group2    19728145
weight          12
Name: 4854, dtype: int64)
(4855, group1    22197221
group2    25857366
weight           1
Name: 4855, dtype: int64)
(4856, group1    22197221
group2     1371991
weight           4
Name: 4856, dtype: int64)
(4857, group1    22197221
group2    11625832
weight           2
Name: 4857, dtype: int64)
(4858, group1    22197221
group2     1763190
weight           2
Name: 4858, dtype: int64)
(4859, group1    22197221
group2     1187715
weight           7
Name: 4859, dtype: int64)
(4860, group1    22197221
group2    16487812
weight           1
Name: 4860, dtype: int64)
(4861, group1    22197221
group2    24803205
weight           1
Name: 4861, dtype: int64)
(4862, group1    22197221
group2    23674770
weight           3
Name: 4862, dtype: int64)
(4863, group1    22197221
group2    18923420
weight           1
Name: 4863, dtype: int64)
(4864, group1    22197221
group2    22730657
weight           1
Name: 4864, dtype: int64)
(4865, group1    22197221
group2    24850344
weight           1
Name: 4865, dtype: int64)
(4866, group1    22197221
group2    20336043
weight           1
Name: 4866, dtype: int64)
(4867, group1    22197221
group2    23723436
weight           1
Name: 4867, dtype: int64)
(4868, group1    22197221
group2    18314669
weight           2
Name: 4868, dtype: int64)
(4869, group1    22197221
group2    18589616
weight           2
Name: 4869, dtype: int64)
(4870, group1    22197221
group2     1349592
weight           2
Name: 4870, dtype: int64)
(4871, group1    22197221
group2     1576921
weight           1
Name: 4871, dtype: int64)
(4872, group1    22197221
group2    18573279
weight           1
Name: 4872, dtype: int64)
(4873, group1    22197221
group2    23515107
weight           1
Name: 4873, dtype: int64)
(4874, group1    22197221
group2    20807142
weight           3
Name: 4874, dtype: int64)
(4875, group1    22197221
group2      526316
weight           5
Name: 4875, dtype: int64)
(4876, group1    22197221
group2     1642477
weight           2
Name: 4876, dtype: int64)
(4877, group1    22197221
group2    25587693
weight           1
Name: 4877, dtype: int64)
(4878, group1    22197221
group2    10016242
weight           1
Name: 4878, dtype: int64)
(4879, group1    22197221
group2    24693747
weight           1
Name: 4879, dtype: int64)
(4880, group1    22197221
group2    18414590
weight           1
Name: 4880, dtype: int64)
(4881, group1    22422502
group2      710272
weight           1
Name: 4881, dtype: int64)
(4882, group1    22422502
group2     1187715
weight           1
Name: 4882, dtype: int64)
(4883, group1    22422502
group2    19728145
weight           2
Name: 4883, dtype: int64)
(4884, group1    22422502
group2      191516
weight           1
Name: 4884, dtype: int64)
(4885, group1    22422502
group2    20186791
weight           1
Name: 4885, dtype: int64)
(4886, group1    22422502
group2     6641192
weight           1
Name: 4886, dtype: int64)
(4887, group1    22422502
group2     1324203
weight           1
Name: 4887, dtype: int64)
(4888, group1    22422502
group2    18955830
weight           1
Name: 4888, dtype: int64)
(4889, group1    22422502
group2     3636792
weight           1
Name: 4889, dtype: int64)
(4890, group1    22422502
group2     7700282
weight           1
Name: 4890, dtype: int64)
(4891, group1    22422502
group2    14649032
weight           1
Name: 4891, dtype: int64)
(4892, group1    22422502
group2    21933145
weight           1
Name: 4892, dtype: int64)
(4893, group1    22422502
group2     1576921
weight           1
Name: 4893, dtype: int64)
(4894, group1    22422502
group2    23053409
weight           1
Name: 4894, dtype: int64)
(4895, group1    22422502
group2    22130047
weight           1
Name: 4895, dtype: int64)
(4896, group1     1780720
group2    10032122
weight           1
Name: 4896, dtype: int64)
(4897, group1     1780720
group2    18974119
weight           1
Name: 4897, dtype: int64)
(4898, group1    24693747
group2     1187715
weight           3
Name: 4898, dtype: int64)
(4899, group1    24693747
group2    18562307
weight           1
Name: 4899, dtype: int64)
(4900, group1    24693747
group2    24803205
weight           1
Name: 4900, dtype: int64)
(4901, group1    24693747
group2    19728145
weight           2
Name: 4901, dtype: int64)
(4902, group1    24693747
group2    19713173
weight           1
Name: 4902, dtype: int64)
(4903, group1    24693747
group2    18314669
weight           1
Name: 4903, dtype: int64)
(4904, group1    24693747
group2    18955830
weight           2
Name: 4904, dtype: int64)
(4905, group1    24693747
group2     7700282
weight           1
Name: 4905, dtype: int64)
(4906, group1    24693747
group2      339011
weight           1
Name: 4906, dtype: int64)
(4907, group1    24693747
group2     7699922
weight           1
Name: 4907, dtype: int64)
(4908, group1    24693747
group2    25857366
weight           1
Name: 4908, dtype: int64)
(4909, group1    24693747
group2     1371991
weight           3
Name: 4909, dtype: int64)
(4910, group1    24693747
group2     1349592
weight           1
Name: 4910, dtype: int64)
(4911, group1    24693747
group2     1642477
weight           1
Name: 4911, dtype: int64)
(4912, group1    24693747
group2     6190702
weight           1
Name: 4912, dtype: int64)
(4913, group1    5327862
group2    6121452
weight          1
Name: 4913, dtype: int64)
(4914, group1    5327862
group2    1473660
weight          1
Name: 4914, dtype: int64)
(4915, group1    5327862
group2    1578685
weight          1
Name: 4915, dtype: int64)
(4916, group1    10032122
group2    18974119
weight           2
Name: 4916, dtype: int64)
(4917, group1    10032122
group2    18476981
weight           1
Name: 4917, dtype: int64)
(4918, group1    10032122
group2    19262745
weight           1
Name: 4918, dtype: int64)
(4919, group1    18256892
group2    18798102
weight           1
Name: 4919, dtype: int64)
(4920, group1    18256892
group2    19416348
weight           2
Name: 4920, dtype: int64)
(4921, group1    18256892
group2      788001
weight           1
Name: 4921, dtype: int64)
(4922, group1    18256892
group2     6641192
weight           1
Name: 4922, dtype: int64)
(4923, group1    18256892
group2    18955830
weight           1
Name: 4923, dtype: int64)
(4924, group1    18256892
group2     7700282
weight           1
Name: 4924, dtype: int64)
(4925, group1    18256892
group2    19964997
weight           1
Name: 4925, dtype: int64)
(4926, group1    18256892
group2     1371991
weight           2
Name: 4926, dtype: int64)
(4927, group1    18256892
group2     1187715
weight           2
Name: 4927, dtype: int64)
(4928, group1    18256892
group2     1492619
weight           4
Name: 4928, dtype: int64)
(4929, group1    18256892
group2    19687074
weight           1
Name: 4929, dtype: int64)
(4930, group1    18256892
group2    21338021
weight           1
Name: 4930, dtype: int64)
(4931, group1    18256892
group2     1324203
weight           2
Name: 4931, dtype: int64)
(4932, group1    18256892
group2    23723436
weight           3
Name: 4932, dtype: int64)
(4933, group1    18256892
group2    10178242
weight           1
Name: 4933, dtype: int64)
(4934, group1    18256892
group2     4705492
weight           3
Name: 4934, dtype: int64)
(4935, group1    18256892
group2     1349592
weight           1
Name: 4935, dtype: int64)
(4936, group1    18256892
group2     1576921
weight           1
Name: 4936, dtype: int64)
(4937, group1    18256892
group2    19908083
weight           1
Name: 4937, dtype: int64)
(4938, group1    18414590
group2    22422793
weight           1
Name: 4938, dtype: int64)
(4939, group1    18414590
group2    19728145
weight           8
Name: 4939, dtype: int64)
(4940, group1    18414590
group2    23499806
weight           1
Name: 4940, dtype: int64)
(4941, group1    18414590
group2    18955830
weight           7
Name: 4941, dtype: int64)
(4942, group1    18414590
group2     7700282
weight           1
Name: 4942, dtype: int64)
(4943, group1    18414590
group2      339011
weight           3
Name: 4943, dtype: int64)
(4944, group1    18414590
group2    19964997
weight           1
Name: 4944, dtype: int64)
(4945, group1    18414590
group2     1457232
weight           1
Name: 4945, dtype: int64)
(4946, group1    18414590
group2     1371991
weight           1
Name: 4946, dtype: int64)
(4947, group1    18414590
group2      710272
weight           1
Name: 4947, dtype: int64)
(4948, group1    18414590
group2     1187715
weight           1
Name: 4948, dtype: int64)
(4949, group1    18414590
group2     1492619
weight           2
Name: 4949, dtype: int64)
(4950, group1    18414590
group2    19713173
weight           2
Name: 4950, dtype: int64)
(4951, group1    18414590
group2    20493986
weight           1
Name: 4951, dtype: int64)
(4952, group1    18414590
group2    18589616
weight           2
Name: 4952, dtype: int64)
(4953, group1    18414590
group2    10178242
weight           1
Name: 4953, dtype: int64)
(4954, group1    18414590
group2    18556100
weight           1
Name: 4954, dtype: int64)
(4955, group1    18414590
group2    16062152
weight           1
Name: 4955, dtype: int64)
(4956, group1    18414590
group2     4705492
weight           5
Name: 4956, dtype: int64)
(4957, group1    18414590
group2    19443174
weight           1
Name: 4957, dtype: int64)
(4958, group1    18414590
group2      526316
weight           1
Name: 4958, dtype: int64)
(4959, group1    18414590
group2    15297782
weight           1
Name: 4959, dtype: int64)
(4960, group1    18414590
group2    18556157
weight           1
Name: 4960, dtype: int64)
(4961, group1      535553
group2    19194894
weight           2
Name: 4961, dtype: int64)
(4962, group1     535553
group2    1728035
weight          5
Name: 4962, dtype: int64)
(4963, group1     535553
group2    6641192
weight          1
Name: 4963, dtype: int64)
(4964, group1      535553
group2    22817838
weight           2
Name: 4964, dtype: int64)
(4965, group1      535553
group2    17686062
weight           1
Name: 4965, dtype: int64)
(4966, group1      535553
group2    18855476
weight           2
Name: 4966, dtype: int64)
(4967, group1      535553
group2    16477792
weight           9
Name: 4967, dtype: int64)
(4968, group1      535553
group2    18837102
weight           1
Name: 4968, dtype: int64)
(4969, group1     535553
group2    7130232
weight         27
Name: 4969, dtype: int64)
(4970, group1      535553
group2    20186791
weight           1
Name: 4970, dtype: int64)
(4971, group1     535553
group2    7836842
weight         12
Name: 4971, dtype: int64)
(4972, group1      535553
group2    16447162
weight          17
Name: 4972, dtype: int64)
(4973, group1      535553
group2    10178242
weight           9
Name: 4973, dtype: int64)
(4974, group1      535553
group2    14546632
weight           2
Name: 4974, dtype: int64)
(4975, group1      535553
group2    16062152
weight           1
Name: 4975, dtype: int64)
(4976, group1      535553
group2    18361585
weight           2
Name: 4976, dtype: int64)
(4977, group1      535553
group2    15297782
weight           5
Name: 4977, dtype: int64)
(4978, group1      535553
group2    12588802
weight           2

Name: 5109, dtype: int64)
(5110, group1    22817838
group2    11625832
weight           3
Name: 5110, dtype: int64)
(5111, group1    22817838
group2     7130232
weight           9
Name: 5111, dtype: int64)
(5112, group1    22817838
group2     3173762
weight           3
Name: 5112, dtype: int64)
(5113, group1    22817838
group2    16487812
weight           7
Name: 5113, dtype: int64)
(5114, group1    22817838
group2    21837219
weight           3
Name: 5114, dtype: int64)
(5115, group1    22817838
group2     7836842
weight           4
Name: 5115, dtype: int64)
(5116, group1    22817838
group2    18589616
weight           2
Name: 5116, dtype: int64)
(5117, group1    22817838
group2    16447162
weight           1
Name: 5117, dtype: int64)
(5118, group1    22817838
group2    18180033
weight           1
Name: 5118, dtype: int64)
(5119, group1    22817838
group2    10178242
weight           5
Name: 5119, dtype: int64)
(5120, group1    22817838
group2    16062152
weight           1
Name: 5120, dtype: int64)
(5121, group1    22817838
group2    18616278
weight           2
Name: 5121, dtype: int64)
(5122, group1    22817838
group2      526316
weight           1
Name: 5122, dtype: int64)
(5123, group1    22817838
group2    18361585
weight           1
Name: 5123, dtype: int64)
(5124, group1    22817838
group2    10016242
weight          13
Name: 5124, dtype: int64)
(5125, group1    22817838
group2    15297782
weight           1
Name: 5125, dtype: int64)
(5126, group1    22023226
group2    19728145
weight           1
Name: 5126, dtype: int64)
(5127, group1    22023226
group2    19416348
weight           1
Name: 5127, dtype: int64)
(5128, group1    22023226
group2     9307682
weight           1
Name: 5128, dtype: int64)
(5129, group1    22023226
group2     1728035
weight           2
Name: 5129, dtype: int64)
(5130, group1    22023226
group2    11294262
weight           1
Name: 5130, dtype: int64)
(5131, group1    22023226
group2     7700282
weight           1
Name: 5131, dtype: int64)
(5132, group1    22023226
group2    19964997
weight           1
Name: 5132, dtype: int64)
(5133, group1    22023226
group2    14380872
weight           1
Name: 5133, dtype: int64)
(5134, group1    22023226
group2    22021463
weight           2
Name: 5134, dtype: int64)
(5135, group1    22023226
group2     7130232
weight           1
Name: 5135, dtype: int64)
(5136, group1    22023226
group2    16487812
weight           1
Name: 5136, dtype: int64)
(5137, group1    22023226
group2    19033734
weight           1
Name: 5137, dtype: int64)
(5138, group1    22023226
group2     1492619
weight           1
Name: 5138, dtype: int64)
(5139, group1    22023226
group2    18801828
weight           2
Name: 5139, dtype: int64)
(5140, group1    22023226
group2    20583850
weight           1
Name: 5140, dtype: int64)
(5141, group1    22023226
group2     1324203
weight           1
Name: 5141, dtype: int64)
(5142, group1    22023226
group2    21989057
weight           1
Name: 5142, dtype: int64)
(5143, group1    22023226
group2     4705492
weight           2
Name: 5143, dtype: int64)
(5144, group1    22023226
group2    18616278
weight           1
Name: 5144, dtype: int64)
(5145, group1    22023226
group2      204767
weight           1
Name: 5145, dtype: int64)
(5146, group1    22023226
group2    10016242
weight           1
Name: 5146, dtype: int64)
(5147, group1    22023226
group2    18556157
weight           1
Name: 5147, dtype: int64)
(5148, group1    18592827
group2    19262745
weight           1
Name: 5148, dtype: int64)
(5149, group1    18592827
group2    15552112
weight           2
Name: 5149, dtype: int64)
(5150, group1    18592827
group2    18468466
weight           1
Name: 5150, dtype: int64)
(5151, group1    18549827
group2     1349592
weight           1
Name: 5151, dtype: int64)
(5152, group1    18549827
group2    11294262
weight           1
Name: 5152, dtype: int64)
(5153, group1      339011
group2    19049542
weight           2
Name: 5153, dtype: int64)
(5154, group1     339011
group2    1473660
weight          4
Name: 5154, dtype: int64)
(5155, group1      339011
group2    24906881
weight           1
Name: 5155, dtype: int64)
(5156, group1     339011
group2    1240194
weight          1
Name: 5156, dtype: int64)
(5157, group1     339011
group2    7138452
weight          1
Name: 5157, dtype: int64)
(5158, group1      339011
group2    19713173
weight           7
Name: 5158, dtype: int64)
(5159, group1      339011
group2    17487002
weight           2
Name: 5159, dtype: int64)
(5160, group1     339011
group2    1324203
weight          1
Name: 5160, dtype: int64)
(5161, group1     339011
group2    4705492
weight          1
Name: 5161, dtype: int64)
(5162, group1      339011
group2    18361585
weight           2
Name: 5162, dtype: int64)
(5163, group1      339011
group2    22193397
weight           1
Name: 5163, dtype: int64)
(5164, group1      339011
group2    15297782
weight           2
Name: 5164, dtype: int64)
(5165, group1      339011
group2    18562307
weight           4
Name: 5165, dtype: int64)
(5166, group1      339011
group2    19416348
weight           1
Name: 5166, dtype: int64)
(5167, group1      339011
group2    11625832
weight           2
Name: 5167, dtype: int64)
(5168, group1      339011
group2    18517376
weight           6
Name: 5168, dtype: int64)
(5169, group1      339011
group2    16487812
weight           1
Name: 5169, dtype: int64)
(5170, group1      339011
group2    20336043
weight           2
Name: 5170, dtype: int64)
(5171, group1      339011
group2    18314669
weight           2
Name: 5171, dtype: int64)
(5172, group1      339011
group2    20807142
weight           2
Name: 5172, dtype: int64)
(5173, group1      339011
group2    10016242
weight           2
Name: 5173, dtype: int64)
(5174, group1    339011
group2    788001
weight         1
Name: 5174, dtype: int64)
(5175, group1     339011
group2    2520612
weight          2
Name: 5175, dtype: int64)
(5176, group1     339011
group2    6641192
weight          2
Name: 5176, dtype: int64)
(5177, group1      339011
group2    18955830
weight          18
Name: 5177, dtype: int64)
(5178, group1      339011
group2    11294262
weight           1
Name: 5178, dtype: int64)
(5179, group1      339011
group2    16477792
weight           1
Name: 5179, dtype: int64)
(5180, group1     339011
group2    6190702
weight          4
Name: 5180, dtype: int64)
(5181, group1      339011
group2    15552112
weight           2
Name: 5181, dtype: int64)
(5182, group1    339011
group2    929402
weight        17
Name: 5182, dtype: int64)
(5183, group1    339011
group2    710272
weight         1
Name: 5183, dtype: int64)
(5184, group1      339011
group2    23398017
weight           1
Name: 5184, dtype: int64)
(5185, group1      339011
group2    20493986
weight           1
Name: 5185, dtype: int64)
(5186, group1      339011
group2    20186791
weight           2
Name: 5186, dtype: int64)
(5187, group1      339011
group2    19828398
weight           1
Name: 5187, dtype: int64)
(5188, group1      339011
group2    16062152
weight           1
Name: 5188, dtype: int64)
(5189, group1      339011
group2    22468329
weight           1
Name: 5189, dtype: int64)
(5190, group1      339011
group2    25681644
weight           1
Name: 5190, dtype: int64)
(5191, group1      339011
group2    18495240
weight          25
Name: 5191, dtype: int64)
(5192, group1      339011
group2    19728145
weight          24
Name: 5192, dtype: int64)
(5193, group1      339011
group2    26091301
weight           1
Name: 5193, dtype: int64)
(5194, group1     339011
group2    1697586
weight          1
Name: 5194, dtype: int64)
(5195, group1     339011
group2    1451826
weight          1
Name: 5195, dtype: int64)
(5196, group1     339011
group2    1371991
weight          5
Name: 5196, dtype: int64)
(5197, group1      339011
group2    20129636
weight           1
Name: 5197, dtype: int64)
(5198, group1     339011
group2    1763190
weight          2
Name: 5198, dtype: int64)
(5199, group1     339011
group2    1187715
weight         15
Name: 5199, dtype: int64)
(5200, group1      339011
group2    24803205
weight           1
Name: 5200, dtype: int64)
(5201, group1      339011
group2    22730657
weight           3
Name: 5201, dtype: int64)
(5202, group1      339011
group2    18589616
weight           2
Name: 5202, dtype: int64)
(5203, group1      339011
group2    18476981
weight           2
Name: 5203, dtype: int64)
(5204, group1      339011
group2    18180033
weight           1
Name: 5204, dtype: int64)
(5205, group1      339011
group2    13635532
weight           1
Name: 5205, dtype: int64)
(5206, group1      339011
group2    18616278
weight           1
Name: 5206, dtype: int64)
(5207, group1     339011
group2    1349592
weight          1
Name: 5207, dtype: int64)
(5208, group1     339011
group2    1576921
weight          1
Name: 5208, dtype: int64)
(5209, group1      339011
group2    18882523
weight           1
Name: 5209, dtype: int64)
(5210, group1      339011
group2    17872862
weight           1
Name: 5210, dtype: int64)
(5211, group1      339011
group2    18573279
weight           2
Name: 5211, dtype: int64)
(5212, group1    339011
group2    526316
weight         2
Name: 5212, dtype: int64)
(5213, group1     339011
group2    1642477
weight          4
Name: 5213, dtype: int64)
(5214, group1      339011
group2    19654655
weight           1
Name: 5214, dtype: int64)
(5215, group1    19964997
group2    18562307
weight           3
Name: 5215, dtype: int64)
(5216, group1    19964997
group2    22422793
weight           1
Name: 5216, dtype: int64)
(5217, group1    19964997
group2    19728145
weight           2
Name: 5217, dtype: int64)
(5218, group1    19964997
group2    19416348
weight           1
Name: 5218, dtype: int64)
(5219, group1    19964997
group2     2520612
weight           1
Name: 5219, dtype: int64)
(5220, group1    19964997
group2    18425641
weight           1
Name: 5220, dtype: int64)
(5221, group1    19964997
group2    11294262
weight           1
Name: 5221, dtype: int64)
(5222, group1    19964997
group2     7700282
weight           1
Name: 5222, dtype: int64)
(5223, group1    19964997
group2    19049542
weight           1
Name: 5223, dtype: int64)
(5224, group1    19964997
group2    14380872
weight           1
Name: 5224, dtype: int64)
(5225, group1    19964997
group2     1492619
weight           2
Name: 5225, dtype: int64)
(5226, group1    19964997
group2    19822479
weight           2
Name: 5226, dtype: int64)
(5227, group1    19964997
group2    23984060
weight           1
Name: 5227, dtype: int64)
(5228, group1    19964997
group2     4705492
weight          14
Name: 5228, dtype: int64)
(5229, group1    19964997
group2    18616278
weight           1
Name: 5229, dtype: int64)
(5230, group1    19964997
group2      204767
weight           2
Name: 5230, dtype: int64)
(5231, group1    19964997
group2    20807142
weight           1
Name: 5231, dtype: int64)
(5232, group1    19964997
group2    22736876
weight           3
Name: 5232, dtype: int64)
(5233, group1    19964997
group2      526316
weight           1
Name: 5233, dtype: int64)
(5234, group1    19964997
group2    15297782
weight           1
Name: 5234, dtype: int64)
(5235, group1    19049542
group2    19728145
weight           8
Name: 5235, dtype: int64)
(5236, group1    19049542
group2      788001
weight           1
Name: 5236, dtype: int64)
(5237, group1    19049542
group2     1728035
weight           1
Name: 5237, dtype: int64)
(5238, group1    19049542
group2     6641192
weight           1
Name: 5238, dtype: int64)
(5239, group1    19049542
group2    18425641
weight           1
Name: 5239, dtype: int64)
(5240, group1    19049542
group2    18955830
weight           3
Name: 5240, dtype: int64)
(5241, group1    19049542
group2     1371991
weight           1
Name: 5241, dtype: int64)
(5242, group1    19049542
group2     6190702
weight           1
Name: 5242, dtype: int64)
(5243, group1    19049542
group2     1763190
weight           1
Name: 5243, dtype: int64)
(5244, group1    19049542
group2      710272
weight           1
Name: 5244, dtype: int64)
(5245, group1    19049542
group2     1187715
weight           2
Name: 5245, dtype: int64)
(5246, group1    19049542
group2    19713173
weight           1
Name: 5246, dtype: int64)
(5247, group1    19049542
group2    25934999
weight           1
Name: 5247, dtype: int64)
(5248, group1    19049542
group2    20186791
weight           1
Name: 5248, dtype: int64)
(5249, group1    19049542
group2    24850344
weight           1
Name: 5249, dtype: int64)
(5250, group1    19049542
group2     1324203
weight           1
Name: 5250, dtype: int64)
(5251, group1    19049542
group2     1576921
weight           1
Name: 5251, dtype: int64)
(5252, group1    19049542
group2    23515107
weight           1
Name: 5252, dtype: int64)
(5253, group1    19049542
group2      526316
weight           4
Name: 5253, dtype: int64)
(5254, group1    19049542
group2    18361585
weight           1
Name: 5254, dtype: int64)
(5255, group1    19049542
group2     2496252
weight           2
Name: 5255, dtype: int64)
(5256, group1     1457232
group2    18562307
weight           2
Name: 5256, dtype: int64)
(5257, group1     1457232
group2    19728145
weight           3
Name: 5257, dtype: int64)
(5258, group1    1457232
group2    6641192
weight          1
Name: 5258, dtype: int64)
(5259, group1     1457232
group2    18955830
weight           4
Name: 5259, dtype: int64)
(5260, group1     1457232
group2    20757821
weight           1
Name: 5260, dtype: int64)
(5261, group1    1457232
group2    1371991
weight          1
Name: 5261, dtype: int64)
(5262, group1    1457232
group2    6190702
weight          1
Name: 5262, dtype: int64)
(5263, group1    1457232
group2     929402
weight          2
Name: 5263, dtype: int64)
(5264, group1    1457232
group2    1240194
weight          1
Name: 5264, dtype: int64)
(5265, group1    1457232
group2    1187715
weight          1
Name: 5265, dtype: int64)
(5266, group1     1457232
group2    19713173
weight           1
Name: 5266, dtype: int64)
(5267, group1     1457232
group2    18923420
weight           1
Name: 5267, dtype: int64)
(5268, group1    1457232
group2    7836842
weight          1
Name: 5268, dtype: int64)
(5269, group1    1457232
group2    7699922
weight          1
Name: 5269, dtype: int64)
(5270, group1    1457232
group2     526316
weight          1
Name: 5270, dtype: int64)
(5271, group1    1457232
group2    1642477
weight          1
Name: 5271, dtype: int64)
(5272, group1     1457232
group2    19828207
weight           1
Name: 5272, dtype: int64)
(5273, group1     1457232
group2    10016242
weight           1
Name: 5273, dtype: int64)
(5274, group1    21933145
group2     1187715
weight           1
Name: 5274, dtype: int64)
(5275, group1    21933145
group2    22730657
weight           1
Name: 5275, dtype: int64)
(5276, group1    21933145
group2    21338021
weight           1
Name: 5276, dtype: int64)
(5277, group1    21933145
group2     1324203
weight           1
Name: 5277, dtype: int64)
(5278, group1    21957723
group2    18801828
weight           2
Name: 5278, dtype: int64)
(5279, group1    21957723
group2    15297782
weight           1
Name: 5279, dtype: int64)
(5280, group1    23053409
group2    16487812
weight           1
Name: 5280, dtype: int64)
(5281, group1    23053409
group2    18495240
weight           1
Name: 5281, dtype: int64)
(5282, group1    23053409
group2    11625832
weight           1
Name: 5282, dtype: int64)
(5283, group1    23053409
group2    10016242
weight           1
Name: 5283, dtype: int64)
(5284, group1    23053409
group2       47094
weight           1
Name: 5284, dtype: int64)
(5285, group1    23053409
group2    23573879
weight           1
Name: 5285, dtype: int64)
(5286, group1    23053409
group2      929402
weight           1
Name: 5286, dtype: int64)
(5287, group1    23053409
group2    22130047
weight           1
Name: 5287, dtype: int64)
(5288, group1    20440175
group2    19416348
weight           1
Name: 5288, dtype: int64)
(5289, group1    20440175
group2      526316
weight           1
Name: 5289, dtype: int64)
(5290, group1    20440175
group2     7700282
weight           1
Name: 5290, dtype: int64)
(5291, group1    21134448
group2    23353167
weight           1
Name: 5291, dtype: int64)
(5292, group1    7130232
group2    1728035
weight          8
Name: 5292, dtype: int64)
(5293, group1    7130232
group2    6641192
weight          1
Name: 5293, dtype: int64)
(5294, group1     7130232
group2    18855476
weight           2
Name: 5294, dtype: int64)
(5295, group1     7130232
group2    16477792
weight          18
Name: 5295, dtype: int64)
(5296, group1    7130232
group2    6190702
weight          1
Name: 5296, dtype: int64)
(5297, group1     7130232
group2    18837102
weight           1
Name: 5297, dtype: int64)
(5298, group1     7130232
group2    25076888
weight           1
Name: 5298, dtype: int64)
(5299, group1     7130232
group2    20186791
weight           1
Name: 5299, dtype: int64)
(5300, group1    7130232
group2    7836842
weight         12
Name: 5300, dtype: int64)
(5301, group1     7130232
group2    16447162
weight          16
Name: 5301, dtype: int64)
(5302, group1     7130232
group2    10178242
weight          20
Name: 5302, dtype: int64)
(5303, group1     7130232
group2    18556100
weight           1
Name: 5303, dtype: int64)
(5304, group1     7130232
group2    16062152
weight           1
Name: 5304, dtype: int64)
(5305, group1     7130232
group2    14546632
weight           1
Name: 5305, dtype: int64)
(5306, group1     7130232
group2    14649032
weight           2
Name: 5306, dtype: int64)
(5307, group1     7130232
group2    18361585
weight           2
Name: 5307, dtype: int64)
(5308, group1     7130232
group2    15297782
weight           5
Name: 5308, dtype: int64)
(5309, group1     7130232
group2    12588802
weight           1
Name: 5309, dtype: int64)
(5310, group1     7130232
group2    19728145
weight           1
Name: 5310, dtype: int64)
(5311, group1     7130232
group2    19262745
weight           1
Name: 5311, dtype: int64)
(5312, group1     7130232
group2    18425641
weight           1
Name: 5312, dtype: int64)
(5313, group1    7130232
group2    7700282
weight          1
Name: 5313, dtype: int64)
(5314, group1    7130232
group2    8908602
weight          1
Name: 5314, dtype: int64)
(5315, group1    7130232
group2    7151442
weight          4
Name: 5315, dtype: int64)
(5316, group1     7130232
group2    22021463
weight           1
Name: 5316, dtype: int64)
(5317, group1     7130232
group2    18779992
weight           6
Name: 5317, dtype: int64)
(5318, group1     7130232
group2    11625832
weight          19
Name: 5318, dtype: int64)
(5319, group1    7130232
group2    3173762
weight          5
Name: 5319, dtype: int64)
(5320, group1    7130232
group2    1187715
weight          1
Name: 5320, dtype: int64)
(5321, group1     7130232
group2    16487812
weight          28
Name: 5321, dtype: int64)
(5322, group1     7130232
group2    21837219
weight          15
Name: 5322, dtype: int64)
(5323, group1     7130232
group2    23594916
weight           1
Name: 5323, dtype: int64)
(5324, group1     7130232
group2    17467312
weight           5
Name: 5324, dtype: int64)
(5325, group1     7130232
group2    18589616
weight           3
Name: 5325, dtype: int64)
(5326, group1     7130232
group2    18616278
weight           8
Name: 5326, dtype: int64)
(5327, group1     7130232
group2    17872862
weight           2
Name: 5327, dtype: int64)
(5328, group1    7130232
group2     204767
weight          1
Name: 5328, dtype: int64)
(5329, group1     7130232
group2    19443174
weight           1
Name: 5329, dtype: int64)
(5330, group1     7130232
group2    22736876
weight           1
Name: 5330, dtype: int64)
(5331, group1     7130232
group2    10016242
weight          54
Name: 5331, dtype: int64)
(5332, group1    7130232
group2      47094
weight          1
Name: 5332, dtype: int64)
(5333, group1     7130232

(5850, group1    19416348
group2     8908602
weight           1
Name: 5850, dtype: int64)
(5851, group1    19416348
group2    14380872
weight           1
Name: 5851, dtype: int64)
(5852, group1    19416348
group2     1371991
weight           1
Name: 5852, dtype: int64)
(5853, group1    19416348
group2    18571126
weight           1
Name: 5853, dtype: int64)
(5854, group1    19416348
group2     1187715
weight           1
Name: 5854, dtype: int64)
(5855, group1    19416348
group2     1349592
weight           1
Name: 5855, dtype: int64)
(5856, group1    19416348
group2    20807142
weight           1
Name: 5856, dtype: int64)
(5857, group1    19416348
group2    22736876
weight           3
Name: 5857, dtype: int64)
(5858, group1    19416348
group2    18232817
weight           1
Name: 5858, dtype: int64)
(5859, group1    25521445
group2    23594916
weight           2
Name: 5859, dtype: int64)
(5860, group1    25150760
group2    18425641
weight           1
Name: 5860, dtype: int64)
(5861, group1    18642226
group2     1763190
weight           2
Name: 5861, dtype: int64)
(5862, group1    20757821
group2    19822479
weight           1
Name: 5862, dtype: int64)
(5863, group1    20757821
group2    20336043
weight           1
Name: 5863, dtype: int64)
(5864, group1    20757821
group2    19828398
weight           1
Name: 5864, dtype: int64)
(5865, group1    20757821
group2    18955830
weight           2
Name: 5865, dtype: int64)
(5866, group1    20757821
group2     7151442
weight           1
Name: 5866, dtype: int64)
(5867, group1    20757821
group2    20807142
weight           2
Name: 5867, dtype: int64)
(5868, group1    20757821
group2    19828207
weight           1
Name: 5868, dtype: int64)
(5869, group1    24556869
group2    21632405
weight           2
Name: 5869, dtype: int64)
(5870, group1    20806988
group2     1187715
weight           1
Name: 5870, dtype: int64)
(5871, group1    20806988
group2    19728145
weight           1
Name: 5871, dtype: int64)
(5872, group1    20806988
group2    18589616
weight           1
Name: 5872, dtype: int64)
(5873, group1    20806988
group2    23573879
weight           1
Name: 5873, dtype: int64)
(5874, group1    25857366
group2     1187715
weight           1
Name: 5874, dtype: int64)
(5875, group1    25857366
group2     1371991
weight           1
Name: 5875, dtype: int64)
(5876, group1    25857366
group2    18955830
weight           1
Name: 5876, dtype: int64)
(5877, group1    22021463
group2     1728035
weight           3
Name: 5877, dtype: int64)
(5878, group1    22021463
group2    11294262
weight           1
Name: 5878, dtype: int64)
(5879, group1    22021463
group2     7700282
weight           1
Name: 5879, dtype: int64)
(5880, group1    22021463
group2    16487812
weight           2
Name: 5880, dtype: int64)
(5881, group1    22021463
group2    19033734
weight           1
Name: 5881, dtype: int64)
(5882, group1    22021463
group2    18476981
weight           1
Name: 5882, dtype: int64)
(5883, group1    22021463
group2    20338101
weight           1
Name: 5883, dtype: int64)
(5884, group1    22021463
group2    21989057
weight           1
Name: 5884, dtype: int64)
(5885, group1    22021463
group2    14649032
weight           1
Name: 5885, dtype: int64)
(5886, group1    22021463
group2    18616278
weight           1
Name: 5886, dtype: int64)
(5887, group1    22021463
group2      204767
weight           8
Name: 5887, dtype: int64)
(5888, group1    22021463
group2    10016242
weight           1
Name: 5888, dtype: int64)
(5889, group1    25996638
group2    18425641
weight           1
Name: 5889, dtype: int64)
(5890, group1    25996638
group2    22736876
weight           3
Name: 5890, dtype: int64)
(5891, group1    25996638
group2     8908602
weight           1
Name: 5891, dtype: int64)
(5892, group1    11625832
group2     1728035
weight           1
Name: 5892, dtype: int64)
(5893, group1    11625832
group2    18855476
weight           2
Name: 5893, dtype: int64)
(5894, group1    11625832
group2    18955830
weight           3
Name: 5894, dtype: int64)
(5895, group1    11625832
group2    11294262
weight           2
Name: 5895, dtype: int64)
(5896, group1    11625832
group2    16477792
weight          25
Name: 5896, dtype: int64)
(5897, group1    11625832
group2    18837102
weight           2
Name: 5897, dtype: int64)
(5898, group1    11625832
group2    15552112
weight           1
Name: 5898, dtype: int64)
(5899, group1    11625832
group2      929402
weight           1
Name: 5899, dtype: int64)
(5900, group1    11625832
group2    23398017
weight           2
Name: 5900, dtype: int64)
(5901, group1    11625832
group2    20493986
weight           2
Name: 5901, dtype: int64)
(5902, group1    11625832
group2    20041384
weight           1
Name: 5902, dtype: int64)
(5903, group1    11625832
group2    19828398
weight           1
Name: 5903, dtype: int64)
(5904, group1    11625832
group2    16447162
weight          11
Name: 5904, dtype: int64)
(5905, group1    11625832
group2     1578685
weight           1
Name: 5905, dtype: int64)
(5906, group1    11625832
group2    10178242
weight          22
Name: 5906, dtype: int64)
(5907, group1    11625832
group2    14649032
weight           5
Name: 5907, dtype: int64)
(5908, group1    11625832
group2    14546632
weight          11
Name: 5908, dtype: int64)
(5909, group1    11625832
group2    16062152
weight           4
Name: 5909, dtype: int64)
(5910, group1    11625832
group2    12588802
weight           1
Name: 5910, dtype: int64)
(5911, group1    11625832
group2    19728145
weight           3
Name: 5911, dtype: int64)
(5912, group1    11625832
group2    18767675
weight           1
Name: 5912, dtype: int64)
(5913, group1    11625832
group2    23353167
weight           3
Name: 5913, dtype: int64)
(5914, group1    11625832
group2     7151442
weight           4
Name: 5914, dtype: int64)
(5915, group1    11625832
group2    18779992
weight           8
Name: 5915, dtype: int64)
(5916, group1    11625832
group2     1763190
weight           1
Name: 5916, dtype: int64)
(5917, group1    11625832
group2     3173762
weight           5
Name: 5917, dtype: int64)
(5918, group1    11625832
group2     1187715
weight           1
Name: 5918, dtype: int64)
(5919, group1    11625832
group2    16487812
weight          44
Name: 5919, dtype: int64)
(5920, group1    11625832
group2    21755271
weight           1
Name: 5920, dtype: int64)
(5921, group1    11625832
group2    21837219
weight          17
Name: 5921, dtype: int64)
(5922, group1    11625832
group2    23594916
weight           2
Name: 5922, dtype: int64)
(5923, group1    11625832
group2    18314669
weight           1
Name: 5923, dtype: int64)
(5924, group1    11625832
group2    17467312
weight          14
Name: 5924, dtype: int64)
(5925, group1    11625832
group2    18589616
weight          11
Name: 5925, dtype: int64)
(5926, group1    11625832
group2    18616278
weight          12
Name: 5926, dtype: int64)
(5927, group1    11625832
group2    17872862
weight           7
Name: 5927, dtype: int64)
(5928, group1    11625832
group2      526316
weight           1
Name: 5928, dtype: int64)
(5929, group1    11625832
group2    19828207
weight           1
Name: 5929, dtype: int64)
(5930, group1    11625832
group2    10016242
weight          65
Name: 5930, dtype: int64)
(5931, group1    11625832
group2       47094
weight           2
Name: 5931, dtype: int64)
(5932, group1    11625832
group2    19654655
weight           9
Name: 5932, dtype: int64)
(5933, group1    25482608
group2     1763190
weight           1
Name: 5933, dtype: int64)
(5934, group1    23573879
group2    23515107
weight           1
Name: 5934, dtype: int64)
(5935, group1    24249720
group2     1492619
weight           1
Name: 5935, dtype: int64)
(5936, group1    22130047
group2      710272
weight           3
Name: 5936, dtype: int64)
(5937, group1    22130047
group2    18798102
weight           1
Name: 5937, dtype: int64)
(5938, group1    22130047
group2      788001
weight           1
Name: 5938, dtype: int64)
(5939, group1    22130047
group2    19687074
weight           1
Name: 5939, dtype: int64)
(5940, group1    22130047
group2     2496252
weight           1
Name: 5940, dtype: int64)
(5941, group1    18517376
group2    18495240
weight           1
Name: 5941, dtype: int64)
(5942, group1    18517376
group2    11294262
weight           1
Name: 5942, dtype: int64)
(5943, group1    18517376
group2    18955830
weight           1
Name: 5943, dtype: int64)
(5944, group1    18517376
group2     1371991
weight           1
Name: 5944, dtype: int64)
(5945, group1    18517376
group2     6190702
weight           1
Name: 5945, dtype: int64)
(5946, group1    18517376
group2     1763190
weight           1
Name: 5946, dtype: int64)
(5947, group1    18517376
group2      929402
weight           1
Name: 5947, dtype: int64)
(5948, group1    18517376
group2      710272
weight           1
Name: 5948, dtype: int64)
(5949, group1    18517376
group2     1187715
weight           2
Name: 5949, dtype: int64)
(5950, group1    18517376
group2    18923420
weight           1
Name: 5950, dtype: int64)
(5951, group1    18517376
group2    18589616
weight           1
Name: 5951, dtype: int64)
(5952, group1    3173762
group2     788001
weight          1
Name: 5952, dtype: int64)
(5953, group1    3173762
group2    1728035
weight          2
Name: 5953, dtype: int64)
(5954, group1     3173762
group2    11294262
weight           1
Name: 5954, dtype: int64)
(5955, group1     3173762
group2    23353167
weight           2
Name: 5955, dtype: int64)
(5956, group1     3173762
group2    20135762
weight           2
Name: 5956, dtype: int64)
(5957, group1    3173762
group2    7151442
weight          2
Name: 5957, dtype: int64)
(5958, group1     3173762
group2    18779992
weight           5
Name: 5958, dtype: int64)
(5959, group1     3173762
group2    16477792
weight           9
Name: 5959, dtype: int64)
(5960, group1    3173762
group2    6190702
weight          1
Name: 5960, dtype: int64)
(5961, group1     3173762
group2    18837102
weight           2
Name: 5961, dtype: int64)
(5962, group1     3173762
group2    15552112
weight           1
Name: 5962, dtype: int64)
(5963, group1    3173762
group2     929402
weight          1
Name: 5963, dtype: int64)
(5964, group1    3173762
group2    1187715
weight          1
Name: 5964, dtype: int64)
(5965, group1     3173762
group2    16487812
weight           7
Name: 5965, dtype: int64)
(5966, group1     3173762
group2    21837219
weight           6
Name: 5966, dtype: int64)
(5967, group1     3173762
group2    18589616
weight           6
Name: 5967, dtype: int64)
(5968, group1     3173762
group2    17467312
weight           3
Name: 5968, dtype: int64)
(5969, group1     3173762
group2    16447162
weight           1
Name: 5969, dtype: int64)
(5970, group1     3173762
group2    18180033
weight           1
Name: 5970, dtype: int64)
(5971, group1     3173762
group2    10178242
weight          15
Name: 5971, dtype: int64)
(5972, group1     3173762
group2    14546632
weight           1
Name: 5972, dtype: int64)
(5973, group1     3173762
group2    18616278
weight          10
Name: 5973, dtype: int64)
(5974, group1     3173762
group2    18882523
weight           1
Name: 5974, dtype: int64)
(5975, group1     3173762
group2    17872862
weight           2
Name: 5975, dtype: int64)
(5976, group1     3173762
group2    10016242
weight          12
Name: 5976, dtype: int64)
(5977, group1     3173762
group2    19654655
weight           1
Name: 5977, dtype: int64)
(5978, group1    16487812
group2      788001
weight           1
Name: 5978, dtype: int64)
(5979, group1    16487812
group2     1728035
weight          13
Name: 5979, dtype: int64)
(5980, group1    16487812
group2     6641192
weight           1
Name: 5980, dtype: int64)
(5981, group1    16487812
group2    18855476
weight           4
Name: 5981, dtype: int64)
(5982, group1    16487812
group2    11294262
weight           1
Name: 5982, dtype: int64)
(5983, group1    16487812
group2    18955830
weight           1
Name: 5983, dtype: int64)
(5984, group1    16487812
group2    16477792
weight          34
Name: 5984, dtype: int64)
(5985, group1    16487812
group2     6190702
weight           1
Name: 5985, dtype: int64)
(5986, group1    16487812
group2    15552112
weight           2
Name: 5986, dtype: int64)
(5987, group1    16487812
group2      929402
weight           1
Name: 5987, dtype: int64)
(5988, group1    16487812
group2    23398017
weight           1
Name: 5988, dtype: int64)
(5989, group1    16487812
group2    19033734
weight           1
Name: 5989, dtype: int64)
(5990, group1    16487812
group2    20186791
weight           1
Name: 5990, dtype: int64)
(5991, group1    16487812
group2    20041384
weight           2
Name: 5991, dtype: int64)
(5992, group1    16487812
group2    19828398
weight           1
Name: 5992, dtype: int64)
(5993, group1    16487812
group2    16447162
weight          14
Name: 5993, dtype: int64)
(5994, group1    16487812
group2     1578685
weight           1
Name: 5994, dtype: int64)
(5995, group1    16487812
group2    21989057
weight           1
Name: 5995, dtype: int64)
(5996, group1    16487812
group2    10178242
weight          27
Name: 5996, dtype: int64)
(5997, group1    16487812
group2    14649032
weight           6
Name: 5997, dtype: int64)
(5998, group1    16487812
group2    14546632
weight           5
Name: 5998, dtype: int64)
(5999, group1    16487812
group2    16062152
weight           6
Name: 5999, dtype: int64)
(6000, group1    16487812
group2    19728145
weight           1
Name: 6000, dtype: int64)
(6001, group1    16487812
group2     8908602
weight           1
Name: 6001, dtype: int64)
(6002, group1    16487812
group2    18767675
weight           1
Name: 6002, dtype: int64)
(6003, group1    16487812
group2    23353167
weight           4
Name: 6003, dtype: int64)
(6004, group1    16487812
group2     7151442
weight           9
Name: 6004, dtype: int64)
(6005, group1    16487812
group2    18779992
weight           8
Name: 6005, dtype: int64)
(6006, group1    16487812
group2     1187715
weight           1
Name: 6006, dtype: int64)
(6007, group1    16487812
group2    21755271
weight           1
Name: 6007, dtype: int64)
(6008, group1    16487812
group2    21837219
weight           9
Name: 6008, dtype: int64)
(6009, group1    16487812
group2    23594916
weight           1
Name: 6009, dtype: int64)
(6010, group1    16487812
group2    18589616
weight           6
Name: 6010, dtype: int64)
(6011, group1    16487812
group2    17467312
weight          11
Name: 6011, dtype: int64)
(6012, group1    16487812
group2    18616278
weight          10
Name: 6012, dtype: int64)
(6013, group1    16487812
group2    18882523
weight           2
Name: 6013, dtype: int64)
(6014, group1    16487812
group2    17872862
weight           4
Name: 6014, dtype: int64)
(6015, group1    16487812
group2    19443174
weight           1
Name: 6015, dtype: int64)
(6016, group1    16487812
group2    20197351
weight           1
Name: 6016, dtype: int64)
(6017, group1    16487812
group2    10016242
weight          75
Name: 6017, dtype: int64)
(6018, group1    16487812
group2       47094
weight           1
Name: 6018, dtype: int64)
(6019, group1    16487812
group2    19654655
weight           7
Name: 6019, dtype: int64)
(6020, group1    21755271
group2    19687074
weight           1
Name: 6020, dtype: int64)
(6021, group1    21755271
group2     1578685
weight           1
Name: 6021, dtype: int64)
(6022, group1    21755271
group2    19064659
weight           1
Name: 6022, dtype: int64)
(6023, group1    21755271
group2     1371991
weight           1
Name: 6023, dtype: int64)
(6024, group1    21755271
group2     1642477
weight           1
Name: 6024, dtype: int64)
(6025, group1    14396812
group2    19728145
weight           1
Name: 6025, dtype: int64)
(6026, group1    14396812
group2     1728035
weight           1
Name: 6026, dtype: int64)
(6027, group1    14396812
group2    18955830
weight           1
Name: 6027, dtype: int64)
(6028, group1    14396812
group2    18677333
weight           1
Name: 6028, dtype: int64)
(6029, group1    14396812
group2    15552112
weight           3
Name: 6029, dtype: int64)
(6030, group1    14396812
group2    18589616
weight           1
Name: 6030, dtype: int64)
(6031, group1    14396812
group2     1578685
weight           1
Name: 6031, dtype: int64)
(6032, group1    14396812
group2    16062152
weight           1
Name: 6032, dtype: int64)
(6033, group1    14396812
group2    20348898
weight           2
Name: 6033, dtype: int64)
(6034, group1    14396812
group2    10016242
weight           1
Name: 6034, dtype: int64)
(6035, group1    13288852
group2    10016162
weight           1
Name: 6035, dtype: int64)
(6036, group1    13288852
group2    11294262
weight           1
Name: 6036, dtype: int64)
(6037, group1    13288852
group2     7700282
weight           1
Name: 6037, dtype: int64)
(6038, group1    21632405
group2       47094
weight           1
Name: 6038, dtype: int64)
(6039, group1    21390741
group2     1187715
weight           1
Name: 6039, dtype: int64)
(6040, group1    21390741
group2     1371991
weight           1
Name: 6040, dtype: int64)
(6041, group1    21390741
group2    20336043
weight           1
Name: 6041, dtype: int64)
(6042, group1    21390741
group2    18314669
weight           1
Name: 6042, dtype: int64)
(6043, group1    21390741
group2    19828207
weight           2
Name: 6043, dtype: int64)
(6044, group1    10016162
group2     7700282
weight           1
Name: 6044, dtype: int64)
(6045, group1    10016162
group2     7151442
weight           3
Name: 6045, dtype: int64)
(6046, group1    10016162
group2    18779992
weight           1
Name: 6046, dtype: int64)
(6047, group1    10016162
group2    16477792
weight           4
Name: 6047, dtype: int64)
(6048, group1    10016162
group2    23398017
weight           1
Name: 6048, dtype: int64)
(6049, group1    10016162
group2    21837219
weight           1
Name: 6049, dtype: int64)
(6050, group1    10016162
group2    17467312
weight           2
Name: 6050, dtype: int64)
(6051, group1    10016162
group2    14546632
weight           1
Name: 6051, dtype: int64)
(6052, group1    10016162
group2    18616278
weight           1
Name: 6052, dtype: int64)
(6053, group1    10016162
group2    17872862
weight           1
Name: 6053, dtype: int64)
(6054, group1    10016162
group2    10016242
weight           1
Name: 6054, dtype: int64)
(6055, group1    21837219
group2      788001
weight           1
Name: 6055, dtype: int64)
(6056, group1    21837219
group2     1728035
weight           3
Name: 6056, dtype: int64)
(6057, group1    21837219
group2    18955830
weight           1
Name: 6057, dtype: int64)
(6058, group1    21837219
group2    16477792
weight          22
Name: 6058, dtype: int64)
(6059, group1    21837219
group2    23398017
weight           1
Name: 6059, dtype: int64)
(6060, group1    21837219
group2    16447162
weight           3
Name: 6060, dtype: int64)
(6061, group1    21837219
group2    10178242
weight          11
Name: 6061, dtype: int64)
(6062, group1    21837219
group2    16062152
weight           1
Name: 6062, dtype: int64)
(6063, group1    21837219
group2    14546632
weight           1
Name: 6063, dtype: int64)
(6064, group1    21837219
group2    23353167
weight           1
Name: 6064, dtype: int64)
(6065, group1    21837219
group2     7151442
weight           2
Name: 6065, dtype: int64)
(6066, group1    21837219
group2    20135762
weight           1
Name: 6066, dtype: int64)
(6067, group1    21837219
group2    18779992
weight           2
Name: 6067, dtype: int64)
(6068, group1    21837219
group2    23594916
weight           1
Name: 6068, dtype: int64)
(6069, group1    21837219
group2    17467312
weight           4
Name: 6069, dtype: int64)
(6070, group1    21837219
group2    18589616
weight           1
Name: 6070, dtype: int64)
(6071, group1    21837219
group2    18616278
weight           7
Name: 6071, dtype: int64)
(6072, group1    21837219

Name: 6277, dtype: int64)
(6278, group1    18955830
group2    16062152
weight           2
Name: 6278, dtype: int64)
(6279, group1    18955830
group2    22468329
weight           1
Name: 6279, dtype: int64)
(6280, group1    18955830
group2    25681644
weight           1
Name: 6280, dtype: int64)
(6281, group1    18955830
group2     2496252
weight           3
Name: 6281, dtype: int64)
(6282, group1    18955830
group2    19728145
weight          20
Name: 6282, dtype: int64)
(6283, group1    18955830
group2    26091301
weight           1
Name: 6283, dtype: int64)
(6284, group1    18955830
group2    18425641
weight           1
Name: 6284, dtype: int64)
(6285, group1    18955830
group2     1451826
weight           1
Name: 6285, dtype: int64)
(6286, group1    18955830
group2     1697586
weight           1
Name: 6286, dtype: int64)
(6287, group1    18955830
group2     7700282
weight           1
Name: 6287, dtype: int64)
(6288, group1    18955830
group2     8908602
weight           1
Name: 6288, dtype: int64)
(6289, group1    18955830
group2    14380872
weight           1
Name: 6289, dtype: int64)
(6290, group1    18955830
group2     1371991
weight          17
Name: 6290, dtype: int64)
(6291, group1    18955830
group2    20129636
weight           2
Name: 6291, dtype: int64)
(6292, group1    18955830
group2      255854
weight           1
Name: 6292, dtype: int64)
(6293, group1    18955830
group2     1763190
weight           2
Name: 6293, dtype: int64)
(6294, group1    18955830
group2     1187715
weight          39
Name: 6294, dtype: int64)
(6295, group1    18955830
group2    24803205
weight           4
Name: 6295, dtype: int64)
(6296, group1    18955830
group2    18923420
weight           2
Name: 6296, dtype: int64)
(6297, group1    18955830
group2    22730657
weight           1
Name: 6297, dtype: int64)
(6298, group1    18955830
group2    24850344
weight           1
Name: 6298, dtype: int64)
(6299, group1    18955830
group2    18589616
weight           2
Name: 6299, dtype: int64)
(6300, group1    18955830
group2    18616278
weight           1
Name: 6300, dtype: int64)
(6301, group1    18955830
group2     1349592
weight           4
Name: 6301, dtype: int64)
(6302, group1    18955830
group2     1576921
weight           1
Name: 6302, dtype: int64)
(6303, group1    18955830
group2    18573279
weight           1
Name: 6303, dtype: int64)
(6304, group1    18955830
group2    23515107
weight           1
Name: 6304, dtype: int64)
(6305, group1    18955830
group2      526316
weight           6
Name: 6305, dtype: int64)
(6306, group1    18955830
group2     1642477
weight           6
Name: 6306, dtype: int64)
(6307, group1    11294262
group2    16477792
weight           1
Name: 6307, dtype: int64)
(6308, group1    11294262
group2     6190702
weight           1
Name: 6308, dtype: int64)
(6309, group1    11294262
group2    15552112
weight           1
Name: 6309, dtype: int64)
(6310, group1    11294262
group2    19033734
weight           1
Name: 6310, dtype: int64)
(6311, group1    11294262
group2    21989057
weight           1
Name: 6311, dtype: int64)
(6312, group1    11294262
group2    10178242
weight           1
Name: 6312, dtype: int64)
(6313, group1    11294262
group2    14546632
weight           1
Name: 6313, dtype: int64)
(6314, group1    11294262
group2    19728145
weight           2
Name: 6314, dtype: int64)
(6315, group1    11294262
group2    18425641
weight           2
Name: 6315, dtype: int64)
(6316, group1    11294262
group2     1697586
weight           1
Name: 6316, dtype: int64)
(6317, group1    11294262
group2     7700282
weight           1
Name: 6317, dtype: int64)
(6318, group1    11294262
group2     8908602
weight           1
Name: 6318, dtype: int64)
(6319, group1    11294262
group2     7151442
weight           1
Name: 6319, dtype: int64)
(6320, group1    11294262
group2    21245809
weight           1
Name: 6320, dtype: int64)
(6321, group1    11294262
group2     1187715
weight           1
Name: 6321, dtype: int64)
(6322, group1    11294262
group2    19822479
weight           1
Name: 6322, dtype: int64)
(6323, group1    11294262
group2    18589616
weight           1
Name: 6323, dtype: int64)
(6324, group1    11294262
group2    18180033
weight           1
Name: 6324, dtype: int64)
(6325, group1    11294262
group2    18616278
weight           1
Name: 6325, dtype: int64)
(6326, group1    11294262
group2    22736876
weight           1
Name: 6326, dtype: int64)
(6327, group1    11294262
group2      526316
weight           1
Name: 6327, dtype: int64)
(6328, group1    3636792
group2    1187715
weight          1
Name: 6328, dtype: int64)
(6329, group1     3636792
group2    19064659
weight           1
Name: 6329, dtype: int64)
(6330, group1    3636792
group2    6190702
weight          1
Name: 6330, dtype: int64)
(6331, group1    18677333
group2      710272
weight           1
Name: 6331, dtype: int64)
(6332, group1    18677333
group2    16062152
weight           1
Name: 6332, dtype: int64)
(6333, group1    18677333
group2    18589616
weight           1
Name: 6333, dtype: int64)
(6334, group1    23285340
group2    19728145
weight           1
Name: 6334, dtype: int64)
(6335, group1    16477792
group2    18837102
weight           3
Name: 6335, dtype: int64)
(6336, group1    16477792
group2     6190702
weight           1
Name: 6336, dtype: int64)
(6337, group1    16477792
group2    19828398
weight           1
Name: 6337, dtype: int64)
(6338, group1    16477792
group2    16447162
weight           5
Name: 6338, dtype: int64)
(6339, group1    16477792
group2    10178242
weight          24
Name: 6339, dtype: int64)
(6340, group1    16477792
group2    14649032
weight           5
Name: 6340, dtype: int64)
(6341, group1    16477792
group2    14546632
weight           1
Name: 6341, dtype: int64)
(6342, group1    16477792
group2    18495240
weight           1
Name: 6342, dtype: int64)
(6343, group1    16477792
group2    23353167
weight           1
Name: 6343, dtype: int64)
(6344, group1    16477792
group2     7151442
weight          30
Name: 6344, dtype: int64)
(6345, group1    16477792
group2    18779992
weight          12
Name: 6345, dtype: int64)
(6346, group1    16477792
group2     1187715
weight           1
Name: 6346, dtype: int64)
(6347, group1    16477792
group2    17467312
weight          17
Name: 6347, dtype: int64)
(6348, group1    16477792
group2    18589616
weight          15
Name: 6348, dtype: int64)
(6349, group1    16477792
group2    18616278
weight          21
Name: 6349, dtype: int64)
(6350, group1    16477792
group2    17872862
weight           4
Name: 6350, dtype: int64)
(6351, group1    16477792
group2      526316
weight           2
Name: 6351, dtype: int64)
(6352, group1    16477792
group2     1642477
weight           1
Name: 6352, dtype: int64)
(6353, group1    16477792
group2       47094
weight           1
Name: 6353, dtype: int64)
(6354, group1    16477792
group2    19654655
weight           3
Name: 6354, dtype: int64)
(6355, group1     6190702
group2    18468466
weight           1
Name: 6355, dtype: int64)
(6356, group1    6190702
group2     929402
weight          2
Name: 6356, dtype: int64)
(6357, group1    6190702
group2    1492619
weight          1
Name: 6357, dtype: int64)
(6358, group1     6190702
group2    19687074
weight           1
Name: 6358, dtype: int64)
(6359, group1     6190702
group2    10178242
weight           1
Name: 6359, dtype: int64)
(6360, group1    6190702
group2    2496252
weight          1
Name: 6360, dtype: int64)
(6361, group1     6190702
group2    18495240
weight           1
Name: 6361, dtype: int64)
(6362, group1     6190702
group2    19728145
weight          18
Name: 6362, dtype: int64)
(6363, group1    6190702
group2    1451826
weight          1
Name: 6363, dtype: int64)
(6364, group1    6190702
group2    8908602
weight          2
Name: 6364, dtype: int64)
(6365, group1     6190702
group2    19064659
weight           2
Name: 6365, dtype: int64)
(6366, group1    6190702
group2    1371991
weight          3
Name: 6366, dtype: int64)
(6367, group1     6190702
group2    18779992
weight           1
Name: 6367, dtype: int64)
(6368, group1    6190702
group2    1187715
weight          9
Name: 6368, dtype: int64)
(6369, group1     6190702
group2    24803205
weight           3
Name: 6369, dtype: int64)
(6370, group1     6190702
group2    17467312
weight           1
Name: 6370, dtype: int64)
(6371, group1    6190702
group2    1349592
weight          1
Name: 6371, dtype: int64)
(6372, group1    6190702
group2    1576921
weight          1
Name: 6372, dtype: int64)
(6373, group1    18837102
group2    18589616
weight           1
Name: 6373, dtype: int64)
(6374, group1    18837102
group2    21989057
weight           1
Name: 6374, dtype: int64)
(6375, group1    18837102
group2    10178242
weight           3
Name: 6375, dtype: int64)
(6376, group1    18837102
group2    23353167
weight           2
Name: 6376, dtype: int64)
(6377, group1    18837102
group2     7151442
weight           1
Name: 6377, dtype: int64)
(6378, group1    18837102
group2    18616278
weight           4
Name: 6378, dtype: int64)
(6379, group1    18837102
group2    18779992
weight           2
Name: 6379, dtype: int64)
(6380, group1    15552112
group2    18468466
weight           1
Name: 6380, dtype: int64)
(6381, group1    15552112
group2      929402
weight           1
Name: 6381, dtype: int64)
(6382, group1    15552112
group2     1578685
weight           1
Name: 6382, dtype: int64)
(6383, group1    15552112
group2    10178242
weight           1
Name: 6383, dtype: int64)
(6384, group1    15552112
group2    14546632
weight           1
Name: 6384, dtype: int64)
(6385, group1    15552112
group2     7700282
weight           1
Name: 6385, dtype: int64)
(6386, group1    15552112
group2    23353167
weight           1
Name: 6386, dtype: int64)
(6387, group1    15552112
group2     1187715
weight           1
Name: 6387, dtype: int64)
(6388, group1    15552112
group2    18589616
weight           1
Name: 6388, dtype: int64)
(6389, group1    15552112
group2    17467312
weight           1
Name: 6389, dtype: int64)
(6390, group1    15552112
group2    18476981
weight           1
Name: 6390, dtype: int64)
(6391, group1    15552112
group2    18180033
weight           1
Name: 6391, dtype: int64)
(6392, group1    15552112
group2     1349592
weight           1
Name: 6392, dtype: int64)
(6393, group1    15552112
group2    17872862
weight           1
Name: 6393, dtype: int64)
(6394, group1    15552112
group2    20348898
weight           1
Name: 6394, dtype: int64)
(6395, group1    15552112
group2       47094
weight           1
Name: 6395, dtype: int64)
(6396, group1    24153712
group2      710272
weight           1
Name: 6396, dtype: int64)
(6397, group1    18468466
group2    19728145
weight           1
Name: 6397, dtype: int64)
(6398, group1     929402
group2    1492619
weight          2
Name: 6398, dtype: int64)
(6399, group1     929402
group2    1578685
weight          1
Name: 6399, dtype: int64)
(6400, group1      929402
group2    10178242
weight           1
Name: 6400, dtype: int64)
(6401, group1     929402
group2    2496252
weight          1
Name: 6401, dtype: int64)
(6402, group1      929402
group2    18495240
weight           3
Name: 6402, dtype: int64)
(6403, group1      929402
group2    19728145
weight           5
Name: 6403, dtype: int64)
(6404, group1      929402
group2    23353167
weight           1
Name: 6404, dtype: int64)
(6405, group1      929402
group2    19064659
weight           1
Name: 6405, dtype: int64)
(6406, group1     929402
group2    1371991
weight          3
Name: 6406, dtype: int64)
(6407, group1     929402
group2    1187715
weight          4
Name: 6407, dtype: int64)
(6408, group1      929402
group2    24803205
weight           1
Name: 6408, dtype: int64)
(6409, group1      929402
group2    18589616
weight           3
Name: 6409, dtype: int64)
(6410, group1      929402
group2    17467312
weight           2
Name: 6410, dtype: int64)
(6411, group1      929402
group2    18616278
weight           1
Name: 6411, dtype: int64)
(6412, group1     929402
group2    1349592
weight          2
Name: 6412, dtype: int64)
(6413, group1      929402
group2    17872862
weight           2
Name: 6413, dtype: int64)
(6414, group1    929402
group2    526316
weight         1
Name: 6414, dtype: int64)
(6415, group1     929402
group2    1642477
weight          1
Name: 6415, dtype: int64)
(6416, group1    929402
group2     47094
weight         1
Name: 6416, dtype: int64)
(6417, group1      710272
group2    19728145
weight           5
Name: 6417, dtype: int64)
(6418, group1     710272
group2    7700282
weight          1
Name: 6418, dtype: int64)
(6419, group1     710272
group2    1371991
weight          1
Name: 6419, dtype: int64)
(6420, group1      710272
group2    20129636
weight           1
Name: 6420, dtype: int64)
(6421, group1     710272
group2    1763190
weight          1
Name: 6421, dtype: int64)
(6422, group1     710272
group2    1187715
weight          1
Name: 6422, dtype: int64)
(6423, group1      710272
group2    18923420
weight           1
Name: 6423, dtype: int64)
(6424, group1      710272
group2    19687074
weight           1
Name: 6424, dtype: int64)
(6425, group1      710272
group2    20186791
weight           1
Name: 6425, dtype: int64)
(6426, group1      710272
group2    24850344
weight           1
Name: 6426, dtype: int64)
(6427, group1      710272
group2    18589616
weight           1
Name: 6427, dtype: int64)
(6428, group1      710272
group2    18180033
weight           1
Name: 6428, dtype: int64)
(6429, group1      710272
group2    14649032
weight           1
Name: 6429, dtype: int64)
(6430, group1    710272
group2    526316
weight         1
Name: 6430, dtype: int64)
(6431, group1     710272
group2    2496252
weight          4
Name: 6431, dtype: int64)
(6432, group1    23398017
group2    19728145
weight           1
Name: 6432, dtype: int64)
(6433, group1    23398017
group2    17467312
weight           1
Name: 6433, dtype: int64)
(6434, group1    23398017
group2    10178242
weight           1
Name: 6434, dtype: int64)
(6435, group1    23398017
group2    14546632
weight           5
Name: 6435, dtype: int64)
(6436, group1    23398017
group2    18616278
weight           1
Name: 6436, dtype: int64)
(6437, group1    23398017
group2    19654655
weight           1
Name: 6437, dtype: int64)
(6438, group1    19033734
group2    21989057
weight           1
Name: 6438, dtype: int64)
(6439, group1    19033734
group2    18616278
weight           1
Name: 6439, dtype: int64)
(6440, group1     1492619
group2    20186791
weight           1
Name: 6440, dtype: int64)
(6441, group1    1492619
group2    2496252
weight          1
Name: 6441, dtype: int64)
(6442, group1     1492619
group2    19728145
weight           3
Name: 6442, dtype: int64)
(6443, group1     1492619
group2    18425641
weight           2
Name: 6443, dtype: int64)
(6444, group1    1492619
group2    7700282
weight          2
Name: 6444, dtype: int64)
(6445, group1     1492619
group2    14380872
weight           2
Name: 6445, dtype: int64)
(6446, group1    1492619
group2    1371991
weight          1
Name: 6446, dtype: int64)
(6447, group1    1492619
group2    1187715
weight          2
Name: 6447, dtype: int64)
(6448, group1    1492619
group2     204767
weight          1
Name: 6448, dtype: int64)
(6449, group1    1492619
group2     526316
weight          1
Name: 6449, dtype: int64)
(6450, group1     1492619
group2    22736876
weight           1
Name: 6450, dtype: int64)
(6451, group1    19687074
group2    19728145
weight           1
Name: 6451, dtype: int64)
(6452, group1    19687074
group2     1371991
weight           1
Name: 6452, dtype: int64)
(6453, group1    19687074
group2     1642477
weight           1
Name: 6453, dtype: int64)
(6454, group1    20493986
group2    18589616
weight           2
Name: 6454, dtype: int64)
(6455, group1    20493986
group2    16062152
weight           1
Name: 6455, dtype: int64)
(6456, group1    20493986
group2    14546632
weight           1
Name: 6456, dtype: int64)
(6457, group1    20186791
group2    14649032
weight           1
Name: 6457, dtype: int64)
(6458, group1    20186791
group2    19728145
weight           8
Name: 6458, dtype: int64)
(6459, group1    20186791
group2     7700282
weight           2
Name: 6459, dtype: int64)
(6460, group1    20186791
group2     1371991
weight           2
Name: 6460, dtype: int64)
(6461, group1    20186791
group2     1187715
weight           3
Name: 6461, dtype: int64)
(6462, group1    20186791
group2    18180033
weight           1
Name: 6462, dtype: int64)
(6463, group1    20186791
group2    13635532
weight           1
Name: 6463, dtype: int64)
(6464, group1    20186791
group2     1349592
weight           1
Name: 6464, dtype: int64)
(6465, group1    20186791
group2     1576921
weight           3
Name: 6465, dtype: int64)
(6466, group1    20186791
group2      526316
weight           5
Name: 6466, dtype: int64)
(6467, group1    20186791
group2     1642477
weight           1
Name: 6467, dtype: int64)
(6468, group1    20041384
group2    18779992
weight           1
Name: 6468, dtype: int64)
(6469, group1    19828398
group2    18495240
weight           1
Name: 6469, dtype: int64)
(6470, group1    19828398
group2    19728145
weight           2
Name: 6470, dtype: int64)
(6471, group1    19828398
group2     7151442
weight           1
Name: 6471, dtype: int64)
(6472, group1    19828398
group2     1371991
weight           1
Name: 6472, dtype: int64)
(6473, group1    19828398
group2    22730657
weight           1
Name: 6473, dtype: int64)
(6474, group1    19828398
group2    18180033
weight           1
Name: 6474, dtype: int64)
(6475, group1    19828398
group2    10178242
weight           1
Name: 6475, dtype: int64)
(6476, group1    19828398
group2    14649032
weight           1
Name: 6476, dtype: int64)
(6477, group1    19828398
group2      526316
weight           1
Name: 6477, dtype: int64)
(6478, group1    20065975
group2    19728145
weight           1
Name: 6478, dtype: int64)
(6479, group1    16447162
group2    12588802
weight           2
Name: 6479, dtype: int64)
(6480, group1    16447162
group2     7151442
weight           3
Name: 6480, dtype: int64)
(6481, group1    16447162
group2    18779992
weight           3
Name: 6481, dtype: int64)
(6482, group1    16447162
group2     1187715
weight           1
Name: 6482, dtype: int64)
(6483, group1    16447162
group2    17467312
weight           3
Name: 6483, dtype: int64)
(6484, group1    16447162
group2    18589616
weight           2
Name: 6484, dtype: int64)
(6485, group1    16447162
group2    10178242
weight           4
Name: 6485, dtype: int64)
(6486, group1    16447162
group2    14546632
weight           2
Name: 6486, dtype: int64)
(6487, group1    16447162
group2    14649032
weight           1
Name: 6487, dtype: int64)
(6488, group1    16447162
group2    18616278
weight           2
Name: 6488, dtype: int64)
(6489, group1     1578685
group2    20348898
weight           1
Name: 6489, dtype: int64)
(6490, group1    21989057
group2    16062152
weight           1
Name: 6490, dtype: int64)
(6491, group1    21989057
group2    18616278
weight           1
Name: 6491, dtype: int64)
(6492, group1    10178242
group2    14546632
weight           7
Name: 6492, dtype: int64)
(6493, group1    10178242
group2    14649032
weight           6
Name: 6493, dtype: int64)
(6494, group1    10178242
group2    16062152
weight           2
Name: 6494, dtype: int64)
(6495, group1    10178242
group2    19728145
weight           3
Name: 6495, dtype: int64)
(6496, group1    10178242
group2     7700282
weight           1
Name: 6496, dtype: int64)
(6497, group1    10178242
group2    23353167
weight           3
Name: 6497, dtype: int64)
(6498, group1    10178242
group2     7151442
weight          13
Name: 6498, dtype: int64)
(6499, group1    10178242
group2    18779992
weight           8
Name: 6499, dtype: int64)
(6500, group1    10178242
group2     1187715
weight           1
Name: 6500, dtype: int64)

## Visualize the Network

In [ ]:
#Your code here

## Refine the Visual

As you should see, the initial visualization is a globular mess! Refine the visualization to better picture the center core of the  network.

In [ ]:
#Your code here

## Try Clustering the Network

Now, that the dataset is a little more manageable, try clustering the remaining group nodes.

In [ ]:
#Your code here

## Determine An Optimal Clustering Schema

Finally, determine a final clustering organization.

In [ ]:
#Your code here

## Visualize the Clusters

Analyze the output of your clustering schema. Do any clusters of groups stand out to you?

In [ ]:
#Your code here

## Summary

In this lab, you got another chance to practice your network clustering skills, investigating a meetup dataset of events and groups surrounding the Nashville area. If you're up for the challenge, feel free to continue investigating the dataset and trying to cluster users or events!